@model SwachBharat.CMS.Bll.ViewModels.ChildModel.Model.EmpShiftVM

@{
    Layout = "";
}
<link rel="shortcut icon" href="~/Content/images/img/sba.png" />
@Styles.Render("~/Content/AddEditCSS")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.min.css" />
@Scripts.Render("~/Scripts/AddEditScript")
@Scripts.Render("~/bundles/modernizr")

<link href="~/Content/css/datepicker/css/datepicker.css" rel="stylesheet" />
<link href="~/Content/Custom/timepicker.css" rel="stylesheet" />
@*<script src="~/Content/css/datepicker/js/datepicker.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
@using (Html.BeginForm("AddEmpShiftDetails", "EmpShift", FormMethod.Post, new { enctype = "multipart/form-data", data_toggle = "validator", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.shiftId);

    <div class="container">
        <div class="row">

            <div class="col-sm-1">
                <span class="backk">
                    <a href="@Url.Action("Index", "EmpShift")" id="btnBack" class="btn"><span class="glyphicon glyphicon-circle-arrow-left"></span>  Back</a>
                </span>
            </div>

            <div class="col-sm-10">
                <h1 class="add-edit-h1 title_change"></h1>
            </div>
            <div class="panel panel-warning col-sm-12 ">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="row">


            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.Label("नाव / Name")*@
                    @Html.Label("Shift Name")
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.shiftName, new { @class = "form-control", style = "font-family:Arial, FontAwesome", required = "required" })
                    @Html.ValidationMessageFor(model => model.shiftName, "", new { @class = "text-danger" })
                    <span class="text-danger" id="err_name"></span>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.Label("एम्प्लॉयमेंट आयडी / Employment ID ")*@
                    @Html.Label("Shift Start")
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-group time" id="timepicker">
                        @Html.TextBoxFor(model => model.shiftStart, new { @class = "form-control jquery-date-time-picker", style = "font-family:Arial, FontAwesome" })
                        <span class="input-group-addon" style="padding-top: 10px; padding-left: 7px;"><span class="fa fa-clock-o"></span></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.shiftStart, "", new { @class = "text-danger" })

                    <span class="text-danger" id="err_shiftStart"></span>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*@Html.Label("एम्प्लॉयमेंट आयडी / Employment ID ")*@
                    @Html.Label("Shift End")
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-group time" id="timepickerr">
                        @Html.TextBoxFor(model => model.shiftEnd, new { @class = "form-control jquery-date-time-picker", style = "font-family:Arial, FontAwesome" })
                        <span class="input-group-addon" style="padding-top: 10px; padding-left: 7px;"><span class="fa fa-clock-o"></span></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.shiftEnd, "", new { @class = "text-danger" })
                    <span class="text-danger" id="err_shiftEnd"></span>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <center><span class="text-danger" id="err_generate"></span></center>
            <div class="form-group1">
                <button type="submit" name="submit" class="btn" id="btnSubmit">

                    <span class="glyphicon glyphicon-saved"></span>
                    <span id="buttonName">Save Changes</span>
                </button>
            </div>
        </div>
    </div>

}

<script type="text/javascript">

    $(document).ready(function () {

        $(".jquery-date-time-picker").datetimepicker({
            datepicker: false,
            format: 'H:i',
            step: 15
        }).keypress(function (event) { event.preventDefault(); });

        var shiftId = $("#shiftId").val();
        if (shiftId > 0) {
            $("#shiftName").attr('readOnly', 'true');
        }
    });
</script>
<script type="text/javascript">
    $("#btnSubmit").click(function () {
        if ($.trim($("#shiftName").val()) == '') {
            //$("#err_name").html("नाव आवश्यक आहे / Name is Required").delay(1500).show().fadeOut('slow');
            $("#err_name").html("Shift Name is Required").delay(1500).show().fadeOut('slow');
            $('#shiftName').focus();
            return false;
        }
        if ($.trim($("#shiftStart").val()) == '') {
            //$("#err_name").html("नाव आवश्यक आहे / Name is Required").delay(1500).show().fadeOut('slow');
            $("#err_shiftStart").html("Shift Start is Required").delay(1500).show().fadeOut('slow');
            $('#shiftStart').focus();
            return false;
        }
        if ($.trim($("#shiftEnd").val()) == '') {
            //$("#err_name").html("नाव आवश्यक आहे / Name is Required").delay(1500).show().fadeOut('slow');
            $("#err_shiftEnd").html("Shift End is Required").delay(1500).show().fadeOut('slow');
            $('#shiftEnd').focus();
            return false;
        }
    });
    $("#shiftName").blur(function () {
        var shiftId = $("#shiftId").val();
        if (!(shiftId > 0)) {
            var shiftName = $("#shiftName").val();
            $.ajax({
                url: "/EmpShift/CheckShiftName?shiftName=" + shiftName,
                type: "POST",
                data: { shiftName: shiftName }
            })
                .done(function (msg) {
                    if (msg == 1) {
                        $('#err_name').text('This Shift Name Is Already Exist!').delay(2000).show().fadeOut('slow');
                        $("#shiftName").val('');
                    } else {
                        $('#err_name').text('');
                    }
                });
        }

    });
</script>
