@model SwachBharat.CMS.Bll.ViewModels.MainModel.AppStateVM

@{
    //ViewBag.Title = "राज्य तपशील सादर करा / Add State Details";
    Layout = "";
}
<link rel="shortcut icon" href="~/Content/images/img/sba.png" />
@Styles.Render("~/Content/AddEditCSS")
@Scripts.Render("~/Scripts/AddEditScript")
@Scripts.Render("~/bundles/modernizr")

@using (Html.BeginForm())
{@Html.HiddenFor(model => model.stateId);
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <span class="backk">

                <a href="@Url.Action("StateIndex", "MainMaster")" id="btnBack" class="btn"><span class="glyphicon glyphicon-circle-arrow-left"></span>  Back</a>
            </span>
            <h1 class="add-edit-h1 title_change"> </h1>
            <div class="panel panel-warning col-sm-12 ">
                <div class="row">
                   
                    <div class="col-md-6"> 
                        <div class="form-group">
                            @*@Html.Label("देशाचे नाव / Country Name")*@
                            @Html.Label("Country Name")
                            @Html.TextBoxFor(model => model.CountryName, new { @class = "form-control", style = "font-family:Arial, FontAwesome", required = "required" })
                            @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
                            <span class="text-danger" id="err_country"></span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @*@Html.Label("राज्य नाव / State Name")*@
                            @Html.Label("State Name")
                            @Html.TextBoxFor(model => model.stateName, new { @class = "form-control", style = "font-family:Arial, FontAwesome", required = "required" })
                            @Html.ValidationMessageFor(model => model.stateName, "", new { @class = "text-danger" })
                            <span class="text-danger" id="err_state"></span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>

                    </div>
                </div>

                @*<div class="row">
                   
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("राज्य नाव मराठी / State Name Marathi") 
                            @Html.TextBoxFor(model => model.stateNameMar, new { @class = "form-control", style = "font-family:Arial, FontAwesome" })
                            @Html.ValidationMessageFor(model => model.stateNameMar, "", new { @class = "text-danger" })
                            <span class="text-danger" id="err_state_name_mar"></span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>

                    </div>
                </div>*@
                <div class="row">
                    @*<div class="form-group1">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn" />
                            </div>
                        </div>*@

                    <div class="form-group1">
                        <button type="submit" name="submit" class="btn" id="btnSubmit" onclick="return Validate()">
                            <span class="glyphicon glyphicon-saved"></span>
                            <span id="buttonName">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "StateIndex")
    </div>*@


<script>
    $(document).ready(function () {
        var id = $('#stateId').val();
        if (id > 0) {
            $('#buttonName').text("Save Changes");
            //$('.title_change').text("राज्य तपशील सादर बदला / Edit State Details");
            $('.title_change').text("Edit State Details");
        } else {
            $('#buttonName').text("Save");
            //$('.title_change').text("राज्य तपशील सादर करा / Add State Details");
            $('.title_change').text("Add State Details");
        }
    });

    $("#btnSubmit").click(function () {
        //alert("aa");
        if ($.trim($("#CountryName").val()) == '') {
            //$("#err_country").html("देशाचे नाव आवश्यक आहे /  Country Name is Required").delay(1500).show().fadeOut('slow');
            $("#err_country").html("Country Name is Required").delay(1500).show().fadeOut('slow');
            $('#CountryName').focus();
            return false;
        }
        if ($.trim($("#stateName").val()) == '') {
            //$("#err_state").html("राज्य नाव आवश्यक आहे /  State Name is Required").delay(1500).show().fadeOut('slow');
            $("#err_state").html("State Name is Required").delay(1500).show().fadeOut('slow');
            $('#stateName').focus();
            return false;
        }
        return true;
    });
</script>