
@{
    ViewBag.Title = "House Scanify Emp";
    IEnumerable<SwachBharat.CMS.Bll.ViewModels.MainModel.MenuItemULB> MenuList = (IEnumerable<SwachBharat.CMS.Bll.ViewModels.MainModel.MenuItemULB>)TempData["MenuList"];
    var utype = (string)Session["utype"];
    var HSuserid = (string)Session["LoginId"];
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    @Styles.Render("~/Content/ThemeCss")
    @*@Scripts.Render("~/Scripts/ThemeScripts")*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@RenderSection("styles", required: false)*@
    @*@Styles.Render("~/Content/ThemeCss")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @RenderSection("styles", required: false)
    <link rel="shortcut icon" href="~/Content/images/img/ictsbm2.png" />
    <link href="~/Content/css/alertify/alertify.core.css" rel="stylesheet" />
    <link href="~/Content/css/alertify/alertify.default.css" rel="stylesheet" />
    <style type="text/css">
        .search {
            width: 85%;
            margin-left: 7%;
            border-radius: 10px;
            border: 1px solid #bbb7b7;
            text-align: center;
        }


        .heading {
            font-weight: 400;
            text-align: center;
            background: #293538;
            margin: 0;
            color: white;
            padding: 10px 0;
        }

        .wrapper {
            padding: 20px 10px;
            margin: 0 auto;
            width: 300px;
        }

        .file-browser {
            background: #364346;
            color: white;
            padding: 20px 10px;
        }

        .file {
            color: #eee;
            display: block;
            list-style: none;
        }

        .folder {
            list-style: none;
            cursor: pointer;
            margin: 4px 0;
        }

            .folder > ul {
                display: none;
            }

            .folder a:before {
                color: #000;
                padding: 5px;
                padding-right: 7%;
                padding-top: 0%;
                height: 10px;
                width: 10px;
                text-align: center;
                line-height: 10px;
                background: transparent;
                border-radius: 1px;
                display: inline-block;
                content: "+";
                /*  content: '\f104';*/
                font-family: 'FontAwesome';
                font-size: 20px;
                font-weight:bold;
            }
            .folder .a2 a:before {
                content: " " !important;
                padding-left: 0%;
            }
          /*  .folder::before {
                content: '\f104';
                display: inline-block;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                font-family: 'FontAwesome';
                position: absolute;
            padding-top:3%;
                left: 15%;
            }*/
            .folder.folder-open > ul {
                display: block;
                /*padding-left: 15px;
                margin-left: 9px;*/
               /* border-left: 2px solid #5f6f72;*/
             
            }
            .folder.folder-open a {
                background: #189cdf;
            }
            .folder .a1:before {
                  content: "-";
              /*  content: '\f107';*/
            }
      
        ul.inner_ul li:before {
            content: "├";
            font-size: 25px;
            margin-left: -8px;
            margin-top: -5px;
            vertical-align: middle;
            float: left;
            width: 8px;
            color: #41424e;
        }

        ul.inner_ul li:last-child:before {
            content: "└";
        }


            /*.folder.folder-open::before {
                content: '\f107';
            }*/
        nav.side-navbar ul li {
            padding-left: 12px;
        }
            nav.side-navbar ul li li a {
                background:transparent !important;
                padding-left:15px;
              
            }
            nav.side-navbar ul li a {
                padding: 5px 15px !important;
            }

    </style>
</head>

<body>
    @*<input type="hidden" value='@Request.QueryString["daId"]' id='HdnIndustries' />*@

    <input type="hidden" value="@utype" id="UType" />
    <input type="hidden" value="@HSuserid" id="HSID" />
    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>

                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="#" class="navbar-brand">
                                <div class="brand-text brand-big"><span><img style="height:40px;width:50px;" src="~/Content/images/img/house_icon.svg" /> </span></div>
                                <div class="brand-text brand-small"><strong><img style="height:40px;width:50px;" src="~/Content/images/img/house_icon.svg" /> </strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <!-- Logout    -->
                        @*<li class="nav-item" style="list-style: none;"><a href="/houseScanifyEmp/login" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>*@
                        <li class="nav-item" style="list-style: none; margin-left: 70%;" id="HDUserid"></li>
                        <li class="nav-item" style="list-style: none;" id="HSType"> </li>

                        @Html.Partial("_AURLoginPartial")
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <ul style=" padding: 1PX; margin-bottom: 1PX;">
                    <li id='URbutton' class='py-2 px-4'><a href='AURIndex' class="btn btn-primary" style="color:#fff !important;font-weight:600">User Right</a></li>
                </ul>
                <input id="searchbar" onkeyup="search_ulbname()" type="text" name="search" placeholder="Search ULB Name" class="search">
                <nav class="side-navbar ulbnavbar">
                    <!-- Sidebar Header-->
                    <ul class="list-unstyled">
                        @{
                            if (MenuList != null)
                            {
                                var i = 0;
                                //var icount = Model.Where(s => s.districtId == 0 && s.ULBId == 0).ToList().Count;
                                foreach (var item in MenuList.Where(s => s.districtId == 0 && s.ULBId == 0).ToList())
                                {
                                    i++;
                                    var aName = "#exampledropdownDropdow" + i;
                                    var lName = "exampledropdownDropdow" + i;

                                    <li class="folder">
                                        @if ((MenuList.Where(s => s.districtId == 0 && s.ULBId == 0).ToList().Count > 1))
                                        {
                                            <a href="@{@aName}">

                                                @*<i class="svg_gc" style=" fill: #000;"> </i>*@
                                                @*कचरा संकलन*@ @item.LinkText
                                            </a>
                                        }
                                        <ul id="@{@lName}" class="list-unstyled inner_ul">
                                            @{
                                                var j = 0;
                                                //var jcount = Model.Where(s => s.ULBId == 0 && s.districtId != 0 && s.divisionId == item.divisionId).ToList().Count;
                                                foreach (var firstItem in (MenuList.Where(s => s.ULBId == 0 && s.districtId != 0 && s.divisionId == item.divisionId).ToList()))
                                                {
                                                    j++;
                                                    var aName1 = "#exampledropdownDropdow" + i + j;
                                                    var lName1 = "exampledropdownDropdow" + i + j;
                                                    <li class="folder">
                                                        @if (MenuList.Where(s => s.ULBId == 0 && s.districtId != 0 && s.divisionId == item.divisionId).ToList().Count > 0)
                                                        {
                                                            <a href="@{@aName1}">

                                                                @*<i class="svg_gc" style=" fill: #000;"> </i>*@
                                                                @*कचरा संकलन*@ @firstItem.LinkText
                                                            </a>
                                                        }

                                                        <ul id="@{@lName1}" class="list-unstyled">
                                                            @{foreach (var secondItem in (MenuList.Where(s => s.divisionId == item.divisionId && s.districtId == firstItem.districtId && s.ULBId != 0).ToList()))
                                                                {
                                                                    <li class="file a2">
                                                                        @Html.ActionLink(@secondItem.LinkText, @secondItem.ActionName, new {area = "", controller = @secondItem.ControllerName, returnUrl = @secondItem.returnUrl, Type = @secondItem.Type })
                                                                    </li>

                                                                }
                                                            }
                                                        </ul>
                                                    </li>


                                                }
                                            }
                                        </ul>
                                    </li>

                                }
                            }
                        }
                    </ul>
                </nav>
                @*<span class="heading">Extras</span>*@
            @*<div class="wrapper">
                <h3 class="heading">File Browser</h3>
                <div class="file-browser">
                    <ul>
                        <li class="folder folder-open">
                            Dashboard
                            <ul>
                                <li class="file">Accounts Module</li>
                                <li class="file">Help Module</li>
                            </ul>
                        </li>
                        <li class="folder">
                            Transfers
                            <ul>
                                <li class="folder folder-open">
                                    Quick
                                    <ul>
                                        <li class="file">Disclosures</li>
                                        <li class="file">Modals</li>
                                    </ul>
                                </li>
                                <li class="file">Classic</li>
                                <li class="folder">
                                    Scheduled
                                    <ul>
                                        <li class="folder">
                                            Calendar
                                            <ul>
                                                <li class="file">Days</li>
                                                <li class="file">Months</li>
                                            </ul>
                                        </li>
                                        <li class="file">Modals</li>
                                    </ul>
                                </li>
                                <li class="file">History</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>*@
            </nav>
            <div class="content-inner">

                @RenderBody()
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                @*<p>Appynitty &copy; 2017-2019</p>*@
                                <p>All Rights Reserved © 2017-2022</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>@*Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a>*@</p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>


    @Scripts.Render("~/Scripts/ThemeScripts")
    <script>
        $(".plus").click(function () {
            $(this).toggleClass("minus").siblings("ul").toggle();
        })

        $(function () {
            $('.folder').on('click', function (e) {
                $(this).toggleClass('folder-open');
                e.stopPropagation();
            });

            $('.file').on('click', function (e) {
                e.stopPropagation();
            });
            $('a').on('click', function (e) {
                $(this).toggleClass('a1');
           
            });
        })
        $(document).ready(function () {

            debugger;
            var HSID = $('#HSID').val();
            document.getElementById("HDUserid").innerHTML = HSID.toUpperCase();

            var Utypes = $('#UType').val();
            if (Utypes == 'A') {
                //$('#URbutton').show();
                document.getElementById("URbutton").style.display = "block";
                document.getElementById("HSType").innerHTML = "(ADMIN)";
            }
            else {
                // $('#URbutton').hide();
                document.getElementById("URbutton").style.display = "none";
                document.getElementById("HSType").innerHTML = "(SUB-ADMIN)";
            }

            $('#a').collapse({
                toggle: false
            })

        });

        function AppList(Id) {
            //alert(Id);
            debugger;
            if (Id != null) {
                var url = "/HouseScanifyEmp/HSUserList?AppId=" + Id;
                window.location.href = url;
            }
        };


        // var ulb_menu=JSON.parse(window.localStorage.getItem("ulb_menu"));
        debugger;
        var appid = $('#appid').val();






    </script>
    <script src="~/Content/theme-assets/js/icons_load.js"></script>
    <script>
        //debugger;
        var date = new Date();
        var today = '';
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = day + "/" + month + "/" + year;

        document.getElementById('txt_fdate').value = today;
        document.getElementById('txt_tdate').value = today;


    </script>
    <script src="~/Content/css/datepicker/js/datepicker.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            weekStart: 1,
            color: 'red',
            pickTime: false
        }).on('changeDate', function (e) {

            $(this).datepicker('hide');

        });
        //hide  show on hover
        $('#txt_fdate').focus(function () {
            $('.dtpk_drpdwn').eq(1).hide();
        });
        $('#txt_tdate').focus(function () {
            $('.dtpk_drpdwn').eq(0).hide();
        });

        $('#toggle-btn').on('click', function (e) {
            e.preventDefault();
            $(this).toggleClass('active');

            $('.side-navbar').toggleClass('shrinked');
            $('.content-inner').toggleClass('active');
            $(document).trigger('sidebarChanged');

            if ($(window).outerWidth() > 1183) {
                if ($('#toggle-btn').hasClass('active')) {
                    $('.navbar-header .brand-small').hide();
                    $('.navbar-header .brand-big').show();
                } else {
                    $('.navbar-header .brand-small').show();
                    $('.navbar-header .brand-big').hide();
                }
            }

            if ($(window).outerWidth() < 1183) {
                $('.navbar-header .brand-small').show();
            }
        });
    </script>





    <script type="text/javascript">
        //function search_ulbname1() {
            
        //    let input = document.getElementById('searchbar').value
        //    input = input.toLowerCase();
        //    $('. ul').find('a:not(:contains("' + input + '"))').each(function () {
        //        console.log($(this).text());
        //        $(this).hide();
        //    });
        //    $('.ulbnavbar ul').find(':contains("' + input + '")').each(function () {
        //        console.log($(this).text());
        //        $(this).show();
        //    });
        //}
        function search_ulbname() {

            let input = document.getElementById('searchbar').value
            input = input.toLowerCase();
            $('.ulbnavbar ul').find('a').each(function () {
                if ($(this).text().toLowerCase().indexOf(input) >= 0) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
            
        }

        function search_ulbname1() {
            let input = document.getElementById('searchbar').value
            input = input.toLowerCase();
            let x = document.getElementsByClassName('ulb');

            for (i = 0; i < x.length; i++) {
                if (!x[i].innerHTML.toLowerCase().includes(input)) {
                    x[i].style.display = "none";
                }
                else {
                    x[i].style.display = "block";
                }
            }
        }
    </script>

    <script>
        var idleTime = 0;
        $(document).ready(function () {
            //Increment the idle time counter every minute.
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });
        });

        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime > 30) { // 15 minutes
                // window.location = "/Account/login"
                alert('Session TimeOut');
                document.getElementById('logoutForm').submit()
            }
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>


