
@{
    ViewBag.Title = "House Scanify Emp";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    @Styles.Render("~/Content/ThemeCss")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@RenderSection("styles", required: false)*@
    <link href="~/Content/theme-assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/images/img/ictsbm2.png" />
    <link href="~/Content/css/blink.css" rel="stylesheet" />
    <script src="~/Content/DatatableGrid/URGridDetails.js"></script>
    <style>
                .search {
                    width: 85%;
                    margin-left: 7%;
                    border-radius: 10px;
                    border: 1px solid #bbb7b7;
                    text-align: center;
                }
          /*  .nav-item{}*/
                /* Blink for Webkit and others
        (Chrome, Safari, Firefox, IE, ...)
        */

    </style>
</head>

<body>
    @*<input type="hidden" value='@Request.QueryString["daId"]' id='HdnIndustries' />*@

    <input type="hidden" value="@ViewBag.UType" id="UType" />
    <input type="hidden" value="@ViewBag.HSuserid" id="HSID" />
    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>

                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="#" class="navbar-brand">
                                <div class="brand-text brand-big"><span><img style="height:40px;width:50px;" src="~/Content/images/img/house_icon.svg" /> </span><strong style="font-size:15px;margin-left:3%"> House / Liquid / Street Scanify</strong></div>
                                <div class="brand-text brand-small"><strong><img style="height:40px;width:50px;" src="~/Content/images/img/house_icon.svg" /> </strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <!-- Logout    -->
                        @*<li class="nav-item" style="list-style: none;"><a href="/houseScanifyEmp/login" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>*@
                        <li class="nav-item" style="list-style: none; margin-left: 50%" id="HDUserid"></li>
                        <li class="nav-item" style="list-style: none;" id="HSType"> </li>

                        @Html.Partial("_HSLoginPartial")
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <ul style=" padding: 1PX; margin-bottom: 1PX;">
                    <li id='URbutton' class='py-2 px-4'><a href='HSURIndex' class="btn btn-primary" style="color:#fff !important;font-weight:600">User Right</a></li>
                    <li id='Attendance' class='py-2 px-4'><a href='HSURAttendance' class="btn btn-primary" style="color:#fff !important;font-weight:600">User Attendance</a></li>
                    <li id='btnAppArea' class='py-2 px-4'><a href='HSAppArea' class="btn btn-primary" style="color:#fff !important;font-weight:600">Map Area Beat</a></li>

                </ul>
                <input id="searchbar" onkeyup="search_ulbname()" type="text" name="search" placeholder="Search ULB Name" class="search">
                <ul class="list-unstyled" style="max-height:700px;overflow-y:auto">
                    <p id="img_ldr" style="display:block;position:absolute;top:40%;left:5%;">
                        <img style="height:90px" class="" src="~/Content/images/img/loading.gif">
                    </p>
                </ul>
                @*<span class="heading">Extras</span>*@

            </nav>
            <div class="content-inner">

                @RenderBody()
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                @*<p>Appynitty &copy; 2017-2019</p>*@
                                <p>All Rights Reserved © 2017-2022</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>@*Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a>*@</p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
     

    @*@Scripts.Render("~/Scripts/ThemeScripts")*@
    <script>


        debugger;

        
        var HSID = $('#HSID').val();
        document.getElementById("HDUserid").innerHTML = HSID.toUpperCase();
        
        var Utypes = $('#UType').val();
        if (Utypes == 'A') {
            //$('#URbutton').show();
            document.getElementById("URbutton").style.display = "block";
         /*   document.getElementById("Attendance").style.display = "block";*/
            document.getElementById("btnAppArea").style.display = "block";
            document.getElementById("HSType").innerHTML = "(ADMIN)";

        }
        else {
            // $('#URbutton').hide();
            document.getElementById("URbutton").style.display = "none";
         /*   document.getElementById("Attendance").style.display = "none";*/
            document.getElementById("btnAppArea").style.display = "none";
            document.getElementById("HSType").innerHTML = "(SUB-ADMIN)";
        }
        function AppList(Id) {
            //alert(Id);
            
            if (Id != null) {
                var url = "/HouseScanifyEmp/HSUserList?AppId=" + Id;
                window.location.href = url;
            }
        };


        // var ulb_menu=JSON.parse(window.localStorage.getItem("ulb_menu"));
        
        var appid = $('#appid').val();


        //$.get("/houseScanifyEmp/GameAppList", null, house);
        //function house(data) {
        //    var res = '';
        //    //for (var i = 0; i < data.length; i++) {
        //    //    res += "<li class=''><a style='cursor:pointer'class='li-hover' onclick='Edit(" + data[i].AppId + ")' id='" + data[i].AppId + "' >" + data[i].AppName + "</a></li>";
        //    //}
        //    var url_string = window.location.href; //window.location.href
        //    var url = new URL(url_string);
        //    var AppId_New = url.searchParams.get("AppId");


        //    for (var i = 0; i < data.length; i++) {
        //        res += "<li class='ulb' ><a style='cursor:pointer;vertical-align: inherit;' class='li-hover' onclick='AppList(" + data[i].AppId + ")' id='" + data[i].AppId + "' >" + data[i].AppName + " ";
        //        if (data[i].FAQ == 1) {
        //            res += "<i class='fa fa-circle pull-right blink' style='color:#33cc33;font-size:12px;margin: 3% auto;'></i>";
        //        } else if (data[i].FAQ == 2) {
        //            res += "<i class='fa fa-circle pull-right' style='color:#fe9428;font-size:12px;margin: 3% auto;'></i>";
        //        }
        //        //if (AppId_New == data[i].AppId) {
        //        //      res += "<i class='fa fa-circle pull-right' style='color:#fe9428;font-size:12px;margin: 3% auto;'></i>";
        //        //}
        //        res += "</a></li>";
        //    }

           
        function LoadMenu() {

            $.get("/houseScanifyEmp/GameAppList", null, house);
            function house(data) {
                var res = '';
                //for (var i = 0; i < data.length; i++) {
                //    res += "<li class=''><a style='cursor:pointer'class='li-hover' onclick='Edit(" + data[i].AppId + ")' id='" + data[i].AppId + "' >" + data[i].AppName + "</a></li>";
                //}
                var url_string = window.location.href; //window.location.href
                var url = new URL(url_string);
                var AppId_New = url.searchParams.get("AppId");


                for (var i = 0; i < data.length; i++) {
                    res += "<li class='ulb' ><a style='cursor:pointer;vertical-align: inherit;' class='li-hover' onclick='AppList(" + data[i].AppId + ")' id='" + data[i].AppId + "' >" + data[i].AppName + " ";
                    if (data[i].FAQ == 1) {
                        res += "<i class='fa fa-circle pull-right blink' style='color:#33cc33;font-size:12px;margin: 3% auto;'></i>";
                    } else if (data[i].FAQ == 2) {
                        res += "<i class='fa fa-circle pull-right' style='color:#fe9428;font-size:12px;margin: 3% auto;'></i>";
                    }
                    //if (AppId_New == data[i].AppId) {
                    //      res += "<i class='fa fa-circle pull-right' style='color:#fe9428;font-size:12px;margin: 3% auto;'></i>";
                    //}
                    res += "</a></li>";
                }

                $('.list-unstyled').html(res);
                $('#img_ldr').css("display", "none");
                $('#' + appid).parents('li').addClass('active');

                $(".li-hover").hover(function () {
                    $(this).css("color", "#fff");
                }, function () {
                    $(this).css("color", "#6c757d");
                });
                $(".active a").hover(function () {
                    $(this).css("color", "#fff");
                }, function () {
                    $(this).css("color", "#fff");
                });
        }


            

        }




    </script>
    <script src="~/Content/theme-assets/js/icons_load.js"></script>
    <script>
        //
        var date = new Date();
        var today = '';
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = day + "/" + month + "/" + year;

        document.getElementById('txt_fdate').value = today;
        document.getElementById('txt_tdate').value = today;


    </script>
    <script src="~/Content/css/datepicker/js/datepicker.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            weekStart: 1,
            color: 'red',
            pickTime: false
        }).on('changeDate', function (e) {

            $(this).datepicker('hide');

        });
        //hide  show on hover
        $('#txt_fdate').focus(function () {
            $('.dtpk_drpdwn').eq(1).hide();
        });
        $('#txt_tdate').focus(function () {
            $('.dtpk_drpdwn').eq(0).hide();
        });

        $('#toggle-btn').on('click', function (e) {
            e.preventDefault();
            $(this).toggleClass('active');

            $('.side-navbar').toggleClass('shrinked');
            $('.content-inner').toggleClass('active');
            $(document).trigger('sidebarChanged');

            if ($(window).outerWidth() > 1183) {
                if ($('#toggle-btn').hasClass('active')) {
                    $('.navbar-header .brand-small').hide();
                    $('.navbar-header .brand-big').show();
                } else {
                    $('.navbar-header .brand-small').show();
                    $('.navbar-header .brand-big').hide();
                }
            }

            if ($(window).outerWidth() < 1183) {
                $('.navbar-header .brand-small').show();
            }
        });
    </script>

    <script type="text/javascript">
        $('input[type=radio][name=radio]').change(function () {

            

            LoadGridC();
        });

        function LoadGridC() {
            var RadioValue = $("input[name='radio']:checked").val();
            
            if (RadioValue == 0) {
                
                $('#s').val('');
                LoadAGrid();
                $('#hchange').text('Active User');

            }
            else if (RadioValue == 1) {
                $('#s').val('');
                LoadNGrid();
                $('#hchange').text('Non Active User');

            }

        }



        function Search() {
            
            var value = ",,," + $("#s").val();
            oTable = $('#demoGrid').DataTable();
            oTable.search(value).draw();
            oTable.search("");
            document.getElementById('USER_ID_FK').value = -1;
        }

    </script>



    <script type="text/javascript">

        $(document).ready(function () {
            
            LoadGridC();

        });

        function search_ulbname() {
            let input = document.getElementById('searchbar').value
            input = input.toLowerCase();
            let x = document.getElementsByClassName('ulb');

            for (i = 0; i < x.length; i++) {
                if (!x[i].innerHTML.toLowerCase().includes(input)) {
                    x[i].style.display = "none";
                }
                else {
                    x[i].style.display = "block";
                }
            }
        }
    </script>

    <script>
        var idleTime = 0;
        $(document).ready(function () {
            LoadMenu();
            //Increment the idle time counter every minute.
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });
        });

        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime > 120) { // 15 minutes
                // window.location = "/Account/login"
                alert('Session TimeOut');
                document.getElementById('logoutForm').submit()
            }
        }
        //var idleIntervalr = setInterval(timerIncrementr, 6000); // 1 minute
        //function timerIncrementr() {
        //    window.location.reload();
        //}

        //window.setTimeout(function () {
        //    window.location.reload();
        //}, 600000);

        window.setInterval(function () {
            
            LoadMenu();
            
        }, 60000);

    </script>
    <script src="~/Content/DatatableGrid/URGridDetails.js"></script>
    @*@RenderSection("scripts", required: false)*@
</body>
</html>


