
@{
    ViewBag.Title = "House Scanify Emp";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    @Styles.Render("~/Content/ThemeCss")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@RenderSection("styles", required: false)*@
    <link rel="shortcut icon" href="~/Content/images/img/ictsbm2.png" />

</head>
<body>
    @*<input type="hidden" value='@Request.QueryString["daId"]' id='HdnIndustries' />*@

    <input type="hidden" value="@ViewBag.UType" id="UType" />
    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>

                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="#" class="navbar-brand">
                                <div class="brand-text brand-big"><span><img style="height:40px;width:50px;" src="~/Content/images/img/house_icon.svg" /> </span><strong style="font-size:15px;margin-left:3%"> House / Liquid / Street Scanify</strong></div>
                                <div class="brand-text brand-small"><strong><img style="height:40px;width:50px;" src="~/Content/images/img/house_icon.svg" /> </strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <!-- Logout    -->
                        <li class="nav-item" style="list-style: none;"><a href="/houseScanify/login" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>

                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <ul>
                    <li id='URbutton' class='' style='text-align: center;background-color: #189cdf;'><a href='URIndex' style='cursor: pointer'>User Right</a></li>
                </ul>
                <ul class="list-unstyled" style="max-height:700px;overflow-y:auto">
                    <p id="img_ldr" style="display:block;position:absolute;top:40%;left:5%;">
                        <img style="height:90px" class="" src="~/Content/images/img/loading.gif">
                    </p>
                </ul>
                @*<span class="heading">Extras</span>*@

            </nav>
            <div class="content-inner">

                @RenderBody()
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                @*<p>Appynitty &copy; 2017-2019</p>*@
                                <p>All Rights Reserved © 2017-2022</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>@*Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a>*@</p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>


    @Scripts.Render("~/Scripts/ThemeScripts")
    <script>
        var Utypes = $('#UType').val();
        if (Utypes == 'A') {
            //$('#URbutton').show();
            document.getElementById("URbutton").style.display = "block";
        }
        else {
            // $('#URbutton').hide();
            document.getElementById("URbutton").style.display = "none";
        }
        function Edit(Id) {
            //alert(Id);
            if (Id != null) {
                var url = "/HouseScanifyEmp/HSUserList?AppId=" + Id;
                window.location.href = url;
            }
        };


        // var ulb_menu=JSON.parse(window.localStorage.getItem("ulb_menu"));
        debugger;
        var appid = $('#appid').val();
     

        $.get("/houseScanifyEmp/GameAppList", null, house);
            function house(data) {
                var res = '';
                //for (var i = 0; i < data.length; i++) {
                //    res += "<li class=''><a style='cursor:pointer'class='li-hover' onclick='Edit(" + data[i].AppId + ")' id='" + data[i].AppId + "' >" + data[i].AppName + "</a></li>";
                //}
                var url_string = window.location.href; //window.location.href
                var url = new URL(url_string);
                var AppId_New = url.searchParams.get("AppId");


                for (var i = 0; i < data.length; i++) {
                    res += "<li class='' ><a style='cursor:pointer' class='li-hover' onclick='Edit(" + data[i].AppId + ")' id='" + data[i].AppId + "' >" + data[i].AppName + " ";
                    if (data[i].FAQ == 1 ) {
                        res += "<i class='fa fa-circle pull-right' style='color:#fe9428;font-size:12px;margin: 3% auto;'></i>";
                    }
                    //if (AppId_New == data[i].AppId) {
                    //      res += "<i class='fa fa-circle pull-right' style='color:#fe9428;font-size:12px;margin: 3% auto;'></i>";
                    //}
                    res += "</a></li>";
                }


                $('.list-unstyled').html(res);
                $('#img_ldr').css("display", "none");
                $('#' + appid).parents('li').addClass('active');

                $(".li-hover").hover(function () {
                    $(this).css("color", "#fff");
                }, function () {
                    $(this).css("color", "#6c757d");
                });
                $(".active a").hover(function () {
                    $(this).css("color", "#fff");
                }, function () {
                    $(this).css("color", "#fff");
                });

            }
        



    </script>
    <script src="~/Content/theme-assets/js/icons_load.js"></script>
    <script>
        //debugger;
        var date = new Date();
        var today = '';
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = day + "/" + month + "/" + year;

        document.getElementById('txt_fdate').value = today;
        document.getElementById('txt_tdate').value = today;


    </script>
    <script src="~/Content/css/datepicker/js/datepicker.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            weekStart: 1,
            color: 'red',
            pickTime: false
        }).on('changeDate', function (e) {

            $(this).datepicker('hide');

        });
        //hide  show on hover
        $('#txt_fdate').focus(function () {
            $('.dtpk_drpdwn').eq(1).hide();
        });
        $('#txt_tdate').focus(function () {
            $('.dtpk_drpdwn').eq(0).hide();
        });


    </script>
    @*@RenderSection("scripts", required: false)*@
</body>
</html>


