@model SwachBharat.CMS.Bll.ViewModels.ChildModel.Model.SBALUserLocationMapView
@{
    Layout = null;
}
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #googleMap {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        position: absolute;
        top: 0px;
        left: 5%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

    #floating-panel {
        margin-left: -10px;
    }
</style>
<fieldset>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/css/datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/css/index_style.css" rel="stylesheet" />
    <div id="floating-panel" style="display:inline-flex;width:auto;background:transparent;border:none">
        <a  style="margin-left:5px" class="btn btn-sm btn-success" href="~/Liquid/LiquidLocation/ShowGrid">Back</a>
    </div>


    <div class="container ">
        <div class="row">

            <div class="col-10 bg-white has-shadow" id="googleMap" style="width:auto; height:600px"></div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <script>

        function myMap() {
            debugger;
            var myCenter = new google.maps.LatLng(@Model.lat,@Model.log);
            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            var con='<div class=infowindow> <h3>@Model.userName</h3><h5><b>Details:</b></h5><p><b>Date:</b>@Model.date</p><p><b>Time:</b>@Model.time </p><p><b>Mobile:</b>@Model.userMobile<p><b>Vehicle No:</b>@Model.vehcileNumber</p><div style="height:auto; width:150px"><p><b>Address:</b>@Model.address </p></div></div>';
            var infowindow = new google.maps.InfoWindow({
                content: con
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
            marker.setMap(map);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1OiSXnPhpoH9Wy28QRlyPilQu2Fr17BM&callback=myMap" type="text/javascript"></script>
</fieldset>
