@model SwachBharat.CMS.Bll.ViewModels.ChildModel.Model.DumpYardDetailsVM
@using Microsoft.AspNet.Identity
@{
    //ViewBag.Title = "डंप यार्ड तपशील जोडा / Dump Yard Details";
    ViewBag.Title = "Dump Yard Details";
    Layout = "";
}
<link rel="shortcut icon" href="~/Content/images/img/sba.png" />
@Styles.Render("~/Content/ThemeCss")

@Styles.Render("~/Content/AddEditCSS")

@Scripts.Render("~/Scripts/AddEditScript")
@Scripts.Render("~/bundles/modernizr")




<style>
    .modal-dialog {
        left: 0% !important;
    }

    .glyphicon {
        position: relative;
        top: -1px;
        right: 5px;
    }
</style>

@using (Html.BeginForm("AddDumpYardDetails", "DumpYard", FormMethod.Post, new { enctype = "multipart/form-data", data_toggle = "validator", role = "form", onsubmit = "disableSubmitButton()" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.dyId)

    //System.Text.UTF8Encoding encoding = new System.Text.UTF8Encoding();
    //byte[] by = encoding.GetBytes("0xFFD8FFE000104A46494600010100000100010000FFE202284943435F50524F46494C450001010000021800000000021000006D6E74725247422058595A2000000000000000000000000061637370000000000000000000000000000000000000000000000000000000010000F6D6000100000000D32D0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000964657363000000F0000000747258595A00000164000000146758595A00000178000000146258595A0000018C0000001472545243000001A00000002867545243000001A00000002862545243000001A00000002877747074000001C80000001463707274000001DC0000003C6D6C756300000000000000010000000C656E5553000000580000001C0073005200470042000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000058595A200000000000006FA2000038F50000039058595A2000000000000062990000B785000018DA58595A2000000000000024A000000F840000B6CF706172610000000000040000000266660000F2A700000D59000013D000000A5B000000000000000058595A20000000000000F6D6000100000000D32D6D6C756300000000000000010000000C656E5553000000200000001C0047006F006F0067006C006500200049006E0063002E00200032003000310036FFDB0043002016181C1814201C1A1C24222026305034302C2C3062464A3A5074667A787266706E8090B89C8088AE8A6E70A0DAA2AEBEC4CED0CE7C9AE2F2E0C8F0B8CACEC6FFDB004301222424302A305E34345EC6847084C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6FFC0001108028001E003012200021101031101FFC4001A000101010101010100000000000000000000010203040506FFC40049100002020102040304080402070703050000010203110412213141510513611422719115233242525381A1334392B135622463727374D1F03482B2C1C2E1F106164425364546A2FFC4001801010101010100000000000000000000000001020304FFC4001C1101010100030003000000000000000000000111021221223141FFDA000C03010002110311003F00F7E0D11064004006820000000A000A8017A819C6194D00202802140020280210D1008500000008C1480000000EA5026060A503252900000080A00981828004C1401000008540000008000042900008A04052010868806C9918EE5087200145210A000005042900A0A15014800000002017F4045EA500428004280000080002A32140029001410A00992808850028C852014800000010148000001E4992924D2600A42A004290014CE4710290710000006819DC38BE211A32E46B1DC98289C4D000464346790452E4CF22A036522045526400214CFDE341421A23032689828101400000442800400A042678F22940000010A402826001410A00851FA810BD000AC94B8000C9A20000011999F73A118188AE1C4D0281085EA00CE16726800042990040CA03069CB04E832113326CB15964E3835D0A260358030117292030402157321B8A0294023410A400C000000007EA00000000000042800000000400000000000000000000000000245E40A42900A42902A90A40217A10BD0080A4000A4004291811F30C0611A08A503200CE0A8C949C587CF080D0332CE70801A4B89B2148A0002842900000010A3000A428021480085004052002801000000000000004280000000000000008C0A404028200AA42802000014800000010A00CF50C750C0D319E381CE4665C1F12A2E49CD973B92E03A842445DC3E2CBC58138E781A517CD8C1A0B14101154001021405405200290A0010A1022290000000214000402821400000850000264642A800203F500010A4000A40202B20500011485205091965B58E45000000000102148C080A40AD479B0D2650113A035818032545C14010A0280850214850810A02842900A00020290002900A400200000429001400000000002140000000000000020290010A0080A0080A4000000000A00020428021194815D00000148022DB45200290A00000200000000A80649940504C8C8141323701419DC377A046819DDE83701A213713215A298C8DC06819CB19606C18CB2E581A0672C640D0339006823200D03200D0213645F402EE59C6514E6D253E08D84000001001485004000000000000000195921B32C2B79192002E464995DC6E5DD0172C64CF990FC4BE64F36BEB38FCC0DE58393BE95CEC893DAA95FCC4076048C94A2A4B9300504396A3511D3A4E49BCF603B03C5F4943F048C3F135F96FE607BC1E2AB5FE6D9186CC67A9ED93C45BEC001F325E236278D9130FC4AEED103EA83E4FD217BFC3F223D7EA3F12F901F5C1F19EB7519FB7FB13DB6FF00CC183ED03E23D55EFF0098CDD17DB2BA2A53935903EB80500429895908FDA68836432AD8497066A2F72C81410A5000014199CE308E66D24615F07DD7C501D411B4A39310BA3278E317EA07400CDB62AAB72971034538D776E92528ED6F91D408D7BD93466439F36C0D10612E09F1EA0205200290A400000000000000000046B8148079B5F29C694E126B8F43E779D63FBF2F99F4F5B1DDA597A1F3B4918CEF8C66B29F42AB2EC9BFBEFE66773FC4FE67D8F67A57F2E26BC9AD7DC8FC868F8B9630FB33EDEC82FB8BE45DB1FC2BE4347C3D8DFDD7F22630F8A3EF617647C7D62DBA990D1F4F4B2DDA783F4353B615F09C9238F87CB3A75E879FC4E3EF41907ADEAE85F7D1E4D76A2BB6B8C60F2F278B0FF0BF90DB2E7B5FC8B8355552B67B60B89DA7A1BA1073938E11341251D42CBC2C1F4351755E4CD6F8F2EE07CAD3CB17C1FA9F71F18FE87C083C5917EA7DE8F18AF80A3E15BC2D92F53D54683CDA94DD98CF448F3EA9635335EA7D2D03CE963E80725E190FCC7F22FD195FE391DEED55744B6CF3938BF11A7FCDF2207D1B4AFBD21F4751FE6F993E92A7B48D55AF85B628462F8818BB434C2A94A29E52EE7CEA5E2C8FC4FB972CD325E87C183C4D7A328FD02E48A663C60BE024F116CC8E36D929D9E555FABEC621545EFDD16F1D59AD2C93CF0E2DF166EBC666F77322393AB7422A2D27D0DD52954D427FA1E7B2728D91697D9475DEEFA5CB1868618F527959470BAEB2BE3B63FAC8DD1272AD3395BA69CE537171F7BABE858A47516CA718C543DE449EA6C8C9C538CA4BA24152EBB211826D28E1C8AEA71E1E4EFECF251CEDF3A51AEC9B8E73C238164EE9C9D5C5BF446FC9B9571584E5BB2F8F23ABAAC5373849272E79039E9D5B2DD1766DDBC391CDC253BA4A5636E0B3C0EB569E7B66AC7F69F34214D95C2504E387D7AB039A9CBCB87BF394E5C964CDF19A86D9293973CEEE08EF0D3C9423EF2DD1E4D1A95339D6E32B38BEB8038AAD2BEAE32795C789ED382D3BF323273FB2B1C8EC055F690B23B59966B3B9FBCC091E650B0020000290000000000000000098E392802148062E8EEA64BD0F8FA77B6F8FC4FB5CD60F873F72F97A48AAFBBD0F993D7DCA725C3833E941E6117DD1F17551D9A89AF520EDEDF7FE25F233EDB7FE33CC528FB1A2B1DB4664F2F278BC4963519EE8EFE192FAB92ECCC78A2F7A0C0E9E192CD725D99ECDA9F347CEF0B97BF38FA1EAD64E70D3B941E1A20EF85D91CB531CE9E6BD0F94F577FE632C6F9CE718CE6DC5BE3EA5C1C320FBAA9AB1FC38FC8BE5C3A423F21A3E0E70CFBD4BCD307E87C4D42DB7CD7A9F5F472CE961F0147CDF1058D54BD4F67864B3A76BB33CBE28B1A84FBA3B7853F726BD47E0CF8AAF7E2CF064FA3E2ABDD83F53E6640A76D24B1AA87C4E193A69DE2F83F503EECF8C25F03E03E137E8CFD03FB3FA1F9FB785D25FE6241F7AA79AA2FD04D660D18D33CE9E0FD0B7C7306F2F81071A6A4EB6F7CBE08515C2CDDC649AF5394673AA5DB3DCE9545C65B95B159799138D662C74F5ECDCD36F3DCD595571A9CB1D3B91E2557BB349E4E1658E525152CC57EEC5AB7C8F5D2D42B8A6F895DF05D5FC8C69E0F2E525C7A3394EA9C9B5896E72FB59E091611DFDA6B79C6EE1CF813DAABE185279E5C0E15D5638B8C73B53EBC3258533AA55FDE9678BE88AAEEB509D9B364B2CE939EC839359C1C211B3DA37589CBB7448F44E2A7169F5038FB4CB629F952C3E5C4E71F32CBA5BE1B9AE4B77046ACA2D6A294B724F97234AAB1D937F673CB0C0E0AFB2A73CC56174C9D3DA6CCC56209CBA16AD3B51719E39E7775625A5CD9192967BB6067CFBA6FEAD2924FED743D51CED59E2CF3CB4F66CD90B311F81E88ADB14BB009161CB249163269704058F201721C8200000000000000000000042802000087C7D6C76EAA67D83E5F89C717A7DD162BDFA596ED341FA1F3BC4A3B7559EE8F6F874B3A6C76671F12A673B22E1172E1D00F9C53AAD2DEFF9722AD1EA3F2D81E8F0B97D64A3DD1DBC523F5317D99CF45A6BAABB338E238EE77D7ADDA597A01E3F0D963538EE8FA56D6ADADC1BC64F91A3963530F89F69BE1914789F86D4A2DEE933E6AF767F067D19789438C5419CE3E1D29ADEEC4B3C71803E8C1E6117E85335C764231CE708F1EA35F2A6E7055E71EA41E3D72DBAA99F47C3A59D2AF4670869D6BB374E5B73D11EBD3D11D3D7B22DB28F178B2F7A0C9E14FEB26BD0E9E2CBEAA32ECCF3F85CB1A8C77407ABC557FA3A7D99F20FD0DB542E8ED9ACA38FB069BF07EE41F10D54F1645FA9F67D874DF968D2D1E9D7F2E25D1DA3C62BE07C1D52C6A2C5EA7DEF81F0F5EB1AB9920FABA279D2C3E0773CBE1AF3A589E8B2BF316374A3F0039DFA656BCE70CF33D14D7297EE7A7D9A3F8E7FD43D96BEAE7FD44C4EAF32D24FABFDCEB5E9211E3292F99D3D96AED2FEA2FB2D3F83F72754EB1D37422B198AFD49E6D7F8E3F338CA3A583C38C726E15512598C22FF0042B4D79F57E647E64F68A7F3226BCAAFF047E4315C5A5B6397E8518F6AA7F18F6AA7F13F91D76C57DD5F2185D80E5ED55F453FE91ED31E909FF49D801C3DA3B5367C879F3E944C97EA954F6A59918AB5BBA589AC17AD4ED1D3CEBBA50FE674AE5392CCE3B4D279E408A31C36F064971448F4E441D000540000000000000000000008469BEB828020C800783C523EEC247BCF2F894776973D98572F0B9A519A6CF779905F7E3F33F3D97D0659707E83CFAFF323F333ED34FE647E67C1E3D9976CBB4BE4307DC7ABA3F32271D46AF4F2A27153CB6B91F2B64FF04BE4554D9F972F900A65B6E83F53EFF35FA1F0569EECA6AA97C8FBB5E7CB8E561E051F0AF5B6E9AED23ED69A5BB4F07E87CDD5696E9EA272856DC5BE67AE8B63A6A235DEF6CBB01BD46B61A7B36CA2DF03CDE43D7C9DD16A31E49135517ADB54B4EB728AE2CF5686AB29A5C6C4B99070763F0EAD41ADF9677D26AFDA6525B76E0CEBF4D3D4462A18CAEE6343A4B34F64A5371C35D00DF89C73A5CF667CBA2E7459BE2B2CFB5A9A9DD4CA11E0D9E0FA2ACEB647E45187E2977E1893E94BFB47E475FA25FE6AF917E89FF5DFB0F11C3E92D47F97E465F88EA3F12F91EAFA263F9AFE45FA2A1D6C90F078FDBF53F99FB1C2739592729BCB67D45E154FE3932FD1747797CC0BE14FFD1B1D99ED3951A7869E2E30CE1F73A11426E59C09A6E3889C6353CE64D116477CFA9CEFB142B6F386F919F2B8F35F31A9A94EBCF65C02729E78F9F2971E675D2DDB6DC37C0E50A9CFECAE46ABAF1A88C249733323CF375F513CACA39CFF008D59D0E76FF12BF89B7A1D0E7E771C28FEE746F08E1BE2E5B974E64591A8DEE5CA26EC96C839359C185647A40E8BDE8F15CC15F2AC9B9C9BEE67A9DA55EEBA4B925CD999C23B374338CF53D32C71C7BF4D273A936B0753352C5715E868E17EDD2230961AE030DB5834DB72C3E8455200114000011A7D18028000000085040291F1452013801D40024A319C712594523E4F01585454B9571F91A55C3F047E47C99EBF50A4D6E5C1F630F5FA8FC7FB1707DAD91FC2BE45C2EC8F86F5BA8FCC667DAEF7FCD91307DEC03E07B4DCFF009B2F99F5F41273D2C5B79607A0657747C7F1294A1AA7894B0D773C9BE4FEF4BE607E8F72FC4BE67CCF138F996C367BCF1C71C4F04774BEF7EE7D0F0897BD6228DF85C670DEA5192F8A3DD39C60B33924BD4A793C4E39D237D9907A237D5396D8CE2D9B949422E52784B9B3E27874B1AB8FA9F5B53283D3CD3947977022D669DB4A3626D9DCFCED4F16C5FA9F7BCEAB6F1B23CBB81C5EBF4EA5B773CE7B1E95C567B9F9EB64BCF938BCADDC19F7EA79AA2FD00F3D9E214D7370929657A1E8AAC56D6A71E4CF97AAD25D66A272841B8B7CCF7E8A13AF4D18CD62480CEA75B0D3CF64A0DF037A5D4AD4C5C9476E0F3788696DD45B175A4F0BAB269BFF00D3EB7ED1C373E18E207D0070A3575DF3DB5E78773B81271DD1C1CA34BDB86CEBBA1F897CC9E6D6BEFC7E64595CFC9F81D26BEAE4BD09E755F991F99977D38C798816EBC319C766C96571E874AA4A7AA8ED5C12333AAB726E372F91BA15354F739CA4FD22C98E32727B8E76FDBAFE24F698769BFF00BA6657464D3F2EC78FF29A75777C4CAAE31E48C79EFA5367C879D3E944C8BAE9B238C60A91CBCDB7A50FE637DDF92BFA826BC77C9C3512C1CDD929ED8F0E7D0F64EAB2C799530FEA2468B20F31AEB4FE393ACE5318BC6BD315EEAF814E58D477AD7E86A0AC5FC4927F04736964F0B2229E33C849670740ACACE3894A408A0100A084934B8B60519245E789400032000005200008398021489A6B280578E5E1B54E6E4E52E2CF997C15774E0B9459FA03C57F87C6EB65639B59E8914634DA1A2CA23396E6DAE3C4EDF47E9BF07EE70B6F96814698ADCB1CD9CFE94B7A422072F10A2145D1508E22D1CEBD4DD5436C27B627B288AF1094A5770DBC923BAF0DD3F693FD40E7A08C353094EE5BE79E6CE5E294C2B841C22A3C78E0EBA95EC34A7A7E197C73C4E3A5B1EB6ED9A8F7A2965203E79A8CE50FB3271CF667DBF61D37E5235EC9A7FCA88D1F2F416CDEAE3BA4DE7D4FA7AD8EED2D8BD04B4F54212942118C92E0D1F26ABEC9DD1859394A2E5C536079F3D9972FB9FA1F22BDAF15C570EC7E7E7EED925DA4119C7C41FA1A630F260D463CBB1F175CB6EAEC5EA15C0FD0691EED356FD0FCF9F6FC3E6BD9219690A3D12B2107894E2BE2CCFB453F991F99F2FC59C5EA22E2D3E078A1094DE21172F82260FD03D550BF9B1F99E4D7CA3AA8C6143F3249F43E64AAB211DD2AE497768F67843FF4892EE8B88EDE1DA6BA9B9B9C36A68FA128A9AC496514115CFC8A7F2E25F26AFCB8FC8E800C7975F4847E425E5C17BCA2BF43679B5B9F2A2E38DDB9632076DD0DFB163776347825E7577C9B9A94DC3861722464FEC5564E6F6E64DF403E80CFA9E056798D28B970871C239D4ACF2EC84137C38BE207D34D3E4CC46E8CA535C9479B679F4317194B83DBF0C1CECAA7294DB839477E71DC0F5D572B65251E51EBDCE879B49192959275BAD37C133D2403164F64782CC9F246CE56F09465D132879537C656BDDE9C8B093DCE13E6BA9BCA6B3939C1A9DB29478C570CF720E8FA173C4CC9F146CA80000000011A4F994805042800080500002024B970019E38453297CCA073FB16A4B94BA1D0E50DD3B3CC9476C52C463D7E2750AE1AAD52D36DCC1CB279BE955F97FB9DF5BA796A2118C3194FA9E3FA32DFC7103A457D256665EE282E9D4DFD175F5B2466AAA5E1F195B36A49F443E958F4ADFCCA3D3A6D2434CDB8B6F3DCEE78A8F10575D1AFCBC67AE4F69062EA617C36CF3839D3A3A689EF8279F89D6D93857294565A47CE8789D93B231708ACB03E8DAE4AA938F0925C0F915EBB512B22A53E0DF13ECB598E3BA3C6BC3684F3EF7CC0F6738FE87E76DCC2F9639A9703D976BEFAAD94138E22F0B81E9A74545D546C9A7294B8B7928F9AF557BFE6CBE672E67DC5A0D37E5FEE7CAD7551AB5328C16238E0073F3ACE5BE5F330DE5E5BCB67D5F0FD3D166994A75A72CF16CF5FB2E9FF00263F21A8FCF8CBEECFD02D3D2BF951F91AF26BFCB8FC86ABF3A7D2F07E12B11F47CB87E08FC8D28A8F28A5F01A3C7E2B172D2F059E278FC32328EAB8C5F15D8FB1CC1000CAEE8E7A99B869E72873480EA43C776AB6E92328D91F3199BA774B510846EF2E2E396C0F70714F9AC9E0AAFB76DF08CFCC705C246289B728E352DCF3EF2901F4B1C7380925C9247CCBE51F6C9AB6E9C638E0A3D4EFA0B3742C6E4DC53F77773C01ECE1C8725D91F2E9B651D479F297BB64B0964F46BE364EBCC64A35478B5D6407B39914A2F386B8733CD7DCE1A78460D6FB1617A1E5AA2E5A39D7196EF7B8E3A81F4A36427F624A5F01BE3E66CCFBDD8F05128FB5C63541C22E3D57337555E578861CDCA4E396D81E99EA298D9B2535BBB1D3835E8CF9B7C65542E5E5EE7279DFD8F7519F2219EC01D15BE8FE674492588AC2400199F43A2394FA1D23F642280402820028214085200000000140CA8F1CC8D10000130040081540383D669D73B101AD4D4EED3CA11E6CF9FF0045DDF8E27B7DBB4DF9867E90D37E37F203853E1D6576C67E647833E89E4FA4B4FDDFC89F49D1FE6F901EB92DD16BBA3C11F0B4A4A5E6F27D8DBF14A3B489F4AD3F82407BBD0F9F7F894EABA5055AF75F73DB4D8ADAE334B099F1FC4A3B7592F54079EDB1DB6CA72E6D9F6BC3A5BB471F43C1A4D02D455E639EDE3C923E9E9685A7AB62939712D1D8F91E2B1FF494FBC4F5EB7592D2CA2A304F28E354578949CEDF776F04A241BF09966892ECCF79F3EE5F46D59A78EE7C771AD0EB27A9B5C67B5617403DC78FC4ED9D54C655C9C78F43AEB6D9D3A794E18CA3C1A6B65AEBBCBD43CC52CE101E5F6BD47E6C8F4F87DF64F5494E7292C7567BFD834CBF948DD7A5A6A96E85693EE513579F66B36B69E0F83E6D9D6C97CCFD1CA2A4B12594CC2D3D2B9530F9107C1A66FCE8664DF1EE7DEBD3969E492E712AAAB4F8571F91B03C1EC705A1E14FD6E3B712CF4CEDBA9F320DC547DE3D2ED9E70A993F5C8F36EFC87FD403C955D32850956DF63C93AB516ED83A611C3E3664F5EFBFF257F50DDA8FCB87F501C2745D1D4BB2B842598E3DE648E96FDB6B94A0A7670E1C91DDCB50965AAD7C599F32DC677D580397D1B4AAF0B3BD2FB4D9DE74CE7A5F2A4D6EC7332E56A8EE775697C047CC943779F1C7FB206A5A6AEC8C5591DDB518AF451AE1628BC39755D0D4A338FDBD463F43194FFF00C9971F40354697CBB3CC9D92B258C2CF446FC94EFF003B2F2960C382D9BDEA2CDA73DD4E32EEB1FEA0749E8A139E652961BCB8E7833BF04B08F0C67549E3EB3FA9852A1AE309E7E207B72BBA194FA9E5A215591949D58C7A9DE98C143308A8E482CF8E0E8B9189349AC9D160A81305004290A008520141014520040282000C00211B48A65C16EDD90294802A9F9EBE3B6E9AED23F427C4F108EDD5CFD44188E935128A71AA587C8D7B0EA7F2DFCCFADA49EFD2D6FD05BAAA6A96D9CF1228F95F47EA5FDCFDCBF46EA7F0C7E67D0FA434DF8FF627D25A6FC4FE40787E8CD4768FCCF35F4CF4F66C9E338E87DDA3510D426EBCF0EE7CEF178FD7425DD01ECF0C9EED1C7D19CF5BA19EA6E538CA31C2EA67C1E59AA71ECCF4EAB531D3414A5172CBE841E68CBE8DAB6D9EFEE7C31D0EFA4D647552928C5C707CED6EB63AA845460E387CCC68B55ECB3949C7765147D4D5E93DA9C7DEDB8F42E9349ECBBBDFDDBBD0F2FD2DFEABF73AE975EF5172AF628FEA41E8D4E9E3A9AD424F6E1F439E9B430D3D9BE339378EA75D458E9A2538ACB8AEA7868F12B2DBA30708A52607AF5D1DDA4B3E07CBF0D963591F53EC6A1668B17F94FCFD564A9B14E38CAEE20FD05F394299CA3F692E07C8FA4F53F8A3F224FC47513838B92C3EC8F2C12728A7C9B2E0F53F12D4FE3FD891D7EA5C966CE193EA4743A6DBFC25C8F876AD97492E9208FD245E629FA14C52F34C1FA1B22B13DCE71C72EA70955A8797BDAECB27A8E73BA1096D6F32EC9710387B3DF8FE27FF00E8EB6D329D718A9E31CDF70B510970AD39CBB224E528E37CDE5F2856B2C0E7EC927CE68AB478CFBCB8FA1BA6EE719EE5C70B276784B2DE101E6F6358E325F23AAAB156CC8F35CB8551DDFE67C1154A6A694F6F1EC066FABCC8A49F14661A64A3EF49E7AE0EE67CD8671B9013CA83AD56D6628CFB355D8D79B5F723BA09E32FE403C8A92FB3CBD4C4BD9EBE385C781CF556FBA9AE5D11CB4F276D989C7315C4CDAE9C786CD7B631825EEAE0CD2492C238D37B9CA4A51DA93E0762B9B13E85595C84965A3A22A32B2528019000000000014000400000008000004040154F95E2D1C5D197747D53C1E2F0CD509766074F0B9674B8ECCF2F8BC717425DD1D3C227C2C8FEA5F178E6A84BB328F940100FA5E0F2F7EC8F7593A78C47EAEB9766797C2A5B75697747BFC523BB48DF660797C1E58B671EE8F578AC73A4CF66783C2E5B75897747D4D747768EC5E841F9F3A515BBAD8D69E32CE674A27E55D09BFBACA3D97F863A69958ECCED5CB07934D779172B319C1F46CF10AF51074C212CCF826CE6FC266A2DBB570F40337F89BB6A943CB4B72EE78AAB3CAB2334B3B5994B32DBEB83E9AF085B72EEE9D80E73F16B65171508AC9F3CD4E3B2C947B3C1F4EAF0BAE75C64EC9715903E5C78C92F53ED43C374FB62F126F1DCF8F38ECB6515D19FA2A5E6A83F403E45BAFD442D942334945E1703DD4E8F4F65519CE1BA4D65B6F99F2B5AB6EAEC5EA7DAD13DDA4AFE00768C54629457045008249B516D713C718B51CC94A7B9E5A89EC7249664F08E2DECF7AB9C76BE8C0CB93C2946BD8D3C25DCB194D4AC96CDD676F4109294BCCB2C8BDBC9479213B6A93CC6CC4BB902529BAE5BE0A3148D5752718CAC6E72C75E9FA1CE52529415B63927C5452C23AF9F0766C59C947426D5BB775280070CBE915F23B9C375BC709F322CA7BFB738FD84B2F835F01F58F9E7F41B6C6E3C3910D4D5C3755EA8E7A69BF26508ADB248E9B2C72F7B89CF510BE52C57F65F60D77F8E3CD0B25BF126D9F46B79AD3671D3E97CA7BE7C65FD8F488E711FDA46CE7D51D0D0000000000000000010000520000000000325200AA797C4A3BB472F4E27A4C6A23BF4F647BC40F99E153C6A5AEE8F7788C1D9A5928A6DA7C11F2B453D9AAADBEE7DCF36B5F7E3F32D1F03D96FFCA9FC8D7B26A3F2647DCF3EAFCD8FCC9ED347E747E64D1F2B49A5D457A984DD72493E27D3D6C77E96C5E81EAF4EBF9D1F998B359A675C979A9E501F23472DBAAADFA9F7AE5BAA9AEE8FCEC25B6C8BECCFD1AF7A3F145A3F35C9E01BBA3B6E9C7B499808FA14F86DC9C2CDD15D4F44FC56A8EE8EC936B812AF13A6354632526D2E3C0E1F46D97BF36328C54F8A4C2BC0E599E71D727D35E2D1514BCA93C2EE7CEBEA74DD2ADBCB8F53D9A7F0C95D4C6CF31473D30078AC979964A78C6E793F41A496ED2D6FFCA7857847FAEFD8F7E9EAF2298D79DD8EA41E69F86573B25394E5993385DAEB34B679318C5C61C1367D43C97F87D77DAEC94A49BEC072A3495EAEBF3ED72DD2E78E08F7555469AD570E4BB9F3AFD44F40E3454938E39C8F5687513D452E73C673D00F3F886B2ED3DFB60D28E3B1E8F0FBA77D0E5379964DDDA4A6F9EEB536FE26A9A6BA23B6B584C0DCA119AC4913CA86D51DAB08D00279704B1B5609E5C3F047E468A0676AEC8B85CD200000008504029C2ED47956461B739EA76332AE129294A29B5C80E13D5A8456E8E1B9631D91BD3DCEE8C9B4961F43A6C8FE1414545622B1F0034400823E68E873CFBD83A1502148050428000010000000000000000010019290A1418CAC77000F85A8A5C35128C53DBDCE5E5D9F825F23F45C3B21C00FCEF936BFE5CBE46BD9EE7FCA97C8FD06467D4BA3F3EB4B7FE4CBE46BD8F50FF9523EF67D467D49A3E12D0EA7F2D9F6E9CAA60A4BDE4B89AC8C81F2B51A0BECD44E708ADADF5673FA3352FA47E67D9C8CFC7E407C7FA2F51DE1F33EB69E32AA88425C6515C4DE7D1FC867D181F3F55E1D66A3512B2328C53EE7AF4B54A8A235C9EE6BA9D78F6638FE1605E3D89C471FC23DEFC3FB80E2388C4BB7EE312ECBE6079F51A286A66A7393CA5D0DE9F4F1D341C6126D37D4EB897A0C4BD0071EE38F72ED977436CBBAF900036CBBFEC36BFC4001763FC4C6CF560405D8BBBF98D8BD7E60641AD8BFE98D91EC064995DCD6C8F643647F0819CAEE86E5DD1AC47B170BB2039EE5DC6E5DCE98400E7B90DDE8FE474007249B9E70CEA00408520029001400040000000000000001014804DABD4BB513DEEE871EFF00B00DABB176AEC4E3DC7BDE805DABB170BB132FAA2E530185D86176000BC013A940148000000A0800A0100A53250290000000000028000020028000100004013000000000008500429000000000001D48050000202810A080520004C80001724005041D70051C0850271E85DDC70C078600A662FA33405042800000CAE40000520028214010A40000028200294C94000000040282000C2E63E0390552027508A42FE8401F0002004000A40001485004000A40667251E60681172C94000000040000026577299DB1EC86101A219E3FA1AE61541001A0401125C93EC68CCFECFC4D014100140000A40050428000000000CE4000000000000000000008CA40292450008520000000001014800100141001410A00113280042810A400520C800400085200066594F28D124F11606B994CC3EC20051D4199379C479F7EC05E72F45FDCD112C2C2281410014A4000000504E8502820005200000028200282002821401000000019042800000042810000010013A948C055000408688C2808B91420000000009B00814000464A428024B8F0EE1B4B8B2478B727D7901AE85063739708F2EE0572E3B63CFF00B163C104925C02E41540011413200A00028214014800148000050202800000000000000000042900A085000002732820000010148C0020028214007C811F2011E2B81400A000200802A900603A1CE996FAF2DF136F9609B17DDE18005E4B246F1CCCB697197E88235CDE5FE847251E7F226652E4B6AF5E66A304BE3DC0893971972FC26800A300040A67AF33400A4000A428000014000010A0014010A00000002000500000000214019EA689D4A150A004080A04000020004042855000440501500000A080000038E400042800728C1F394B8FA1B8C52E5F338C2524B317B9763A46D849E3387D981B000400014010081485000000320602A800205214088A0000001480055040052000504284429001402001C400A060300085027503A800060010000002810148800280000004280200502004038C3DDB65179F7B8A3738465CD71EE62DCAC35D19D30073DF3AF8496E8F73A466A6B316539CE2E12DF0E5D501D0A8CC64A71CA332F7F293C47FB81ADF15CDA2EF8F7114A2B0921B53E680A531B1673178312BB64F634DBC65B5D00EC08B8ACA28400014293726F09F14500520028264640A0800A0800A0002820000A400014080140801400230000201485200000100000018E39028000000000000200008DA5CD8DDD930290997BD4787A9A038D99941A35079847E04B1E2B9342AE35C581B21401E7CBA6728F46B81D92C4629238EAE3EEC5F5C9DD3E5F002843A002BE3C38A38D51FADB573C2C659D8E557F12CC72C816A6D438F14B81D177315F094FE26B97C00D18B1B6D571E0E5CDF646CE75FBD294F1D7080B384547DD496391B4F2B2665C22C2E8BB01A03A138814CF99052C6EE256D46397D0E75453A7125CF881D7031D99CEA6F8C658CC4D81789481BC26FB105072AF29C5C9E772C9D31C4A283164B661259937C11CA5192BEB529EE7CF041E82E4990514A67208282710514A6725C8019200290E765AA12DA965F5F43A2E280A09D4A04409D47500320105064D14085000852100A40514800000963DB5C9FA019AF8EE97766C91588A450318E183147F0D67B9AE8628FB32E1F780EA4050395EB728AC7365A9F0C3E71E045EF6A7D20BF72CBDC96FE9D40E810400A72D3FD893EAE4CEA72A1FD5CB3DD816AE2E7FED1D0C551FAB4FABE26C0CE711797C912A4E35C512F5F54CD37B63C3F4013E2F1DB8B1159E622B877EECDE000000C5D854CB3D8D47ECAF812D5F533F812AE35C7E0047EEDF17F89713A67D0E6BDEB9F68AC1D0018B9BF2F0B9C9E0D9CE6F36D71C7A81B92C38FA3164D570727D04BED47E2633E6CF1F762FE6C0D5717C273FB4D7C8CAE3AA7E91E27538E9FDE764FBC80EE4C033649423BE59E004BA71A6B737CFA2EE4AA33DBBA6F74A5F2471BE0F6FBCFDFB25FD2BB1EA4B09202179229383209945E273BEC5547DD5993E48DC7728ADDCFA802378E32E8578673BE5B2993CF17C101CA09D8F8F39F3F448EE935D4CD55EC8F1FB4F99BC30297264BCC0BD41064003329A8F3E7DBA9374DFDCC7C581B0637B5F6A38F5349A92CA28A01C7CD93F797D9DD84BB81D80040000000140C5BF652EF246CC4FEDC17A81B33278E5CDF22939D8FD1019C76E0620F6CA49F73A995FC592EE80A8964B641B5C5F45DD999E2BE29F17CA2BA88E5CF75BC25F757602D50D91C7DE7C5B35CD712900E6B353EF0FEC754F2B2818F2F0F316E20743CF5BF73CB8F3727FA23AFD6778FC8C511D939AE6DF1C81DB90264A066D4DD524BB12B7BA2A4FB702BF797A7F73107B25B3A7403AA2911409C720A00925BA2D3EA8E75CD468EED70C7A9D25251FB4FFF00738D69ABDB9FDEE315D80EB5C36C78FDA7C5FC4D0000E7F6B52FB462753954BEB2D7EA02D961A49FBCF91AAE1B22A3CFBBEE66BFACB653E91E4750274672D36155CBA9D67F625F03347F063F0036728E6DB7737EE47ECFABEE2E6DE2B8E54A5D7B2EA748A518A8C56120385FC6FA9671C4F41C3539DF5BFF0031DC01513072BA6F0E11CE71993EC066A5E65B2B5FD9CFBBEA7A3A1CE949530F81B934936DF040664D24DC9E12EA79ADCCA75B6F1EF7BB13B2CDB2DD24D457D94FA92CE3A9AD76E2075C80C013A71092C70E052904E1D4CD92DB0E1C5B3525939CFDEBA30E8B8B01186DB1C9B797D4D97EF00275C1CF842EC7DD9743AF4316FF000DF7E8FB145B65B2B93F438C5351AAB78FC4CD5EFF00D1B39E66A1179DF35C7184BB01D080841A0428000140E73FE347E0CE8739FF001A3FEC81B313CC65BE3C7BA364039798BEE6E7E983329D9BE2DC547A6799D7A892CC40908C5714F74BABEA6A493E689852E380F72E5C7E204E30F58FF636B0D7031BD72970657EE7BD15C3A81A044D3592810C4BDD9A9FCCD802EE8E339433BBD17F733849E708D730065ACAE46C806333874DD11E6AFC13F91D0018F373CAB9BFD066C9724A0BD78B37D0A0661051E3CE4F9B7CC96477478735C8D8033096F8E7AF53461C1EEDD1C67FB977CBEF425FA01B3CDB9A56A8AC66476DD29725B7E3CCCC6AC58DE78672901B8476C144B9290049662FE073AA4A3A7CB7C8EA708D72DCE325EE6EDDF10374C6496E9FDA973F43A1001CF5316E0A49FD8793A45EE8A97741A4D34FA9CE12956B6384A58FB2D01B9CDC52496652FB28461B60E39CB7CDF764841E77CF8CDFEC6C0E55C9C21B650936B960D6D94DE6CE4B9457FD71360088E32C3D62EFB4EC70FF00F2F97403BB2900131EF1A224520899CED7B6EAE59E7C0E9D496477C71D7A144C36CB87DCC6F943DDB163B4BA0F36B5CE688349BEA4B64BCA96EE41DBB9660B87E2970462107396F9BCAE9C00C5B9943324DB8BE08F4744CCDB87097C0B571AE2FD00AC149D0014000080A29CE7FC483F89D0E76F383ED20360060611513F42A209F61FA3344E67CEAB4744B41A0B1D7EF5D7A84DE5F15B9947D1238E3ECBC1CDE9344EDD453A5AE755F447729A936B97AB38D3AE764AB83AE719CD6536B09F0E8075DD2AA5EF2F75F54758C949662F27CBB74B4C7C1F4B7A862DB2C7193CBE2B2FFE47B9786E8FE98950E9FAA546FDBB9F3CFC4A8EFC89C4F3AD3D165345DA1DFA78DD6797359CF0EFF131ACD3787C2BD4D55669BA94B8CA7FC4EB8C67881EC4B89A39CFC3FC3FDB7D9214CEBB766F538CDF0FDCF3F85E92AD73BEED6454E5B94134DAE297A107B01F36BC7BBA495DE454A765729359CE3FF93AD9A0AA3E330D2D59AEA9D7EFE1F16BFE9228F710F1D9469969EED4787C674D94CF63CCB2A5C71D4EDF47E8BDABD936D9ED3E5F99E76E7CC0EE0F0D34E9E7A6A751AF8CEEB2FB3CB8E1E36F1C743BD30746A6FD36E72AEADBB1BE6935C883B80028320002229101A000400230AA085018290A00000085200383FF00B5ACFE1E077384DEDD556DF55803B0236B1C781956C7EEE65F0406CA63749FF2DFEAC7D63FC31FDC0D7DE29CF64BAD92FD10F2A3F7B32F8B02CA708FDA68CE5B5EE412E3CE46D4631E5148A061438EE9BDCFF646B25260037C3919AB0AB5C4D61F53308FBA06CCBCE4D2E1C03209D00C0CF70007EA0019B566B7E9C4D3274C004F314CA6297F56BD0D9463A0450414F251FE17E15FF12BFF00133D67820F551D2E969F65CFB3DBE667CC5EF716F1FB951ECA7FC63C4BFDDFFE48F1E9B36CB4D29EAE3375C310AF0935C391E8B753A89C6DF2B430AACB638959E626F91E6AA99ABF4CFD9153E545A9C9493DEF1CCA3BD53D3C3C0B48F5554AD8BB1E1278C3CC8F6F0FFEE0B33CBD97FF0051F2271D4CB41468FD9B0EA939EEDEB8F3E9FA9EAF69D57D212D57B173ABCBDBE6AEF9CE40E37DB17A4D3E9BC3A36C92B14A3392C665C791BD6571F10D1DB7B82AF57A7E16C7B8A28B23A4A526A17552DF1CF159CBE66F517EA6EA2E857A28532B57BF2534DC80FA165D5BF14F67F2F6DD3A72AE4F8AF43C7A0A6DA34142AA0E6DEA7336BF0A786FF62CF5DA87679B1F0D82BB1853762783CB6D9E232D3D15D55CEA7567738DABDF605D7C14751AC8B8C7DDB2138BC71F7B19FEC7B27FFEE7AFFDD7FCCF0EA5EA3577D96F90EBCC22B67989E5A927FD8DD93D5D9E231D646855CA11C28B9A9297A7EE06B4FF00E1BE21FF0011FF00A91EBFFF00B33FF70796E9DDA9AA542D3C3495D92DD39292936FF43A7B5EAF39F63ABCFC6CF3F72E5DF1CC0F2E82AAA15FB76A16DAE993DAB2DEF964F468E6AE76DEE719596B52928BCED5D1339D13BABD157A6BBC395D1836F32B173CBFF99AD25728EA2FB1E9D5109EDDB0524D2C01EB00845504000A42806320803A9400000028E042811BEC164A3800E25249A8ACB692473C3B78BCC63D175605958B2D453935CF070B77F9B5CA4D478E381DD28A7B570F81CB53FC34FB480EBE5439C96EFF006B895705C11798028222810A0011F6293A9408014088A4080000080A1A20981F12F12000F3C369994A11E3B92FD4CF9CA5F621297EC8055C2538F6659B696773F4491CDBB1DFD2B525F16758C1478F16DF36D94620F9A6F8A66B24CA5D513CD82E724456CF9F0AE51D168F55E7DCE56DDB65173F77197FF23D7E7C3A3CFC11E7FF00F84F0EEBF5FF00FAA4547A34DA45ADD46A252D45D08C24A3155CF0B38E272D069E9D4CE74D9AAD52BE1BB728CF8613C763B686C70D1D36C22FEBF5797E8B913470F2FF00FA8B591EF5B7F3DACA8F14355A6AB58DC3516CE970E7636DEEC9EB696A2EBA33BA74D3A78A94DC39B6CF0E9A9D45BE1AEA8469F2EC96EDD2CEEFFAE077969AEBB572A6BB65195C93B12FB2A2B86581DDE9AC76515E9B533953A94DEF9F194708CDB5428A2CD4E975375CA996DB216BCA7F03B517D7678AE9AAA3F81442508BEEF1C7FF0023CF1FF08F13FF007CFF00BA03BEA27647CB55382959351CCF92E679F53A5BB4BAAD25556A6C9CEE586E52CC53EE91AD5D119E9A6E7294B6A72597D706B58A6F51E14AB694B6AC3F9016CD1D71F3BD9F5774F51A75BA4A6F2996BD2C2D54ABF597C351A88EE8460F115C0EF73A5BF115A54D6A367D637C9F0E878FC29D2B595AB6ABA36B5F52ECCE170E202BADCEBBAED6EA6CAE144FCA7E5706DF7FEC67515C349ACF2B53ACD4792EBDD5CA32E3CFA99A28B353A8BA8B6C9C6B85B29EA1E710E7D3FEBA1BD65BED3E7EAA31CD7B3CAA97759C67E606AFD3C551A7B749ABD4B775AA11F32595F1C1ABB4918D5A9F67D6DF2BB4F1CCD49F0E467C49C29BF47A46A725557F661CDC9F0FFC869B6BF0BD646A8CE1A955FD77989F1E7CBF700EAD353A5D3D9AAD66AE32B61B928CF2BFB19F0FD445C2CDD64E4B7BDAE5C5E0F4E9B57194F43A57A7CA955B5CAC8633C3A7A18D2C763BEA5C235DD28C5764074F3EBFF37F4B1E72FC167F49D0115CFCD7D2A997CD97E54CD8031E6FFAB98F31F4AE46CA07176CBF2646BCD7F9533A0039F996259F25BF4DC3CD9FE4CBE6742019F3659C7952279B67E44BE68E8503979967E44BFA90F326B3F532E1EBCCEA3881E795929D897933C478B5EA6DDEE3CEA98AB3E658B39E3CCE984D3038F9ADACAA6673BA7274BFAB9717D4F4C7ECF2317FF0F1DD813CDDA96EAE6932C6F8BFBB3FE9373C702F24073F3E38FE1D8F1FE50AF8F0CC27C7FCA7523786073F688AE709FF0048F68AFB4FFA4EA4607357C738DB3E7CF687A882E93FE93A0039FB4432D6D9FF004B1E7ACE3CBB3FA4E8503979FF00EA6CF90F367D2897CCEC40397996BE54FCE4375F8FE1C3FA8EA00E5FE90F3FC38FCD936DEFED5D15FECC4EA00E5E549F3BA7FD89E447AB93F8C8EC40311AAB8F28236001894374A2FB1AE652600E5E5C3F085543AC51B41A20A92E88F1D16D0FC3A9D2EAB49AA9BADB97B90F57EBEA7AE278A32D4AD2E9752F51BA375BB1C362E1C5F5FD0A8DDBAFBA9A69A7C3E9BEB841BCA9D7CF8FEBEA6D6B52F159EABD9753B2556CC797C7392D50BB555C6FF6A8E9ABB25B6B8CA2A4E44D3E9F5B76A35154B52AB9D3B561569A965147CC8E9E3EC538CB4D7FB46EF765B5EDC7FD64FA755D1D3EA758ADA2F9C6E518A9551E98E3C4E0BDB7D9A8BA37E656D9E5F96E0961E7BFE87A6CA353442CB16B217CA95BACAB6A585F103CF0955A7D653768B49A84A2A5BD58B9AC74FDCD6AAF8CF47751A4D1DF0F365BE6E6BD7A1E886A299E142D8B6F92CF133542ED4D51BDEAA1A6858F6D7171527203C6AAAD5D73D3517575BA2492B1716CEB75D65D768A54D16C654478F991C278C75FD0ED1AF556596D365B0A150B365D8CA7DB817EB74F7575DB62BE17272AEC8AC72013D5425E77B3E92F85FA85B6529AC4570E62BD5C2B54BBF477CEFD3C76C250598BE048AB351E658B511D35154B6394927BA43C9D67B4FB1F990CEDDFE7E3EEFC3B81CE8D44569F5156AF4BA96EEB5CE5E5C7874E19FD0F33AE986BE9B69D2EA9510C3945C72DB4FF00F83D962D450AB957743575DD2D90925B712FD0B769F555556CA1AEAEDB2A8E675EC4B1C39818979BA8BACD5C6328CD5B19C61358CA8AE0BF73766A616C2F5A7D1DD0BB52B6CE53588A269EB96A1C230F158799359D8AA4D9886E73B236F8A42A9426E18752E38EA075AF550A952EFD1DF3BF4F1DB0941662F81AD3C27184A562C4EC9B9C96793671D43BB43A89C2CD42BB14EF5EE638E70B916FAF5BA55A772B95B3B9EDF2DC14526D7703B5B98C94D714B9A3A27959385BA7D4535D962D5D77BA566DAB6A585F13544B2B09E62D6E4FD08AEC08502820000A0001919EE00A42802900189A717BA31CB2F989F4C3ECCD7C4CCE119734023C1186F758B1F6573F88F2E3EB8ED9349638258480BC370C712F5C940004E6008F9893508B93E823CB32E6C07305E60014850009CCA0000040000000021401083018100E00060F1AFF0005F0DFF88FFD523DA7829BF43678569F4F7EA6554EB9397BB1794F2FD3D423A4FF00C2FC2BFDEAFEE7BD5AA8D6F8858F94554DFC30782BD5787CB4F5536DF351D3D9BA12DAFDE5F239DBE214D8BC45CA4E0EE8C557169F1C228FA3AAA9532D1C5727AADCBF5CB3CB753395BE27655A85069353AF66772DBDFA7539DDE275D9A5D0ED939DD54E2E7049E5E160D5FACD0AAF57669ECB2CBB530C38B8BF77801C34D073B34B6434CAA8D70C4A6A49EF78E67AF4B5D56F8668BDAE7E56DB3EAF1F7B89E1D34AB8DFA58D3A8B27BA0FCC83CE22F6F23D30B74AB4D469F5D3955669A5B96D8E54901E8BE53957E2DB961A492F86D394DE34FE159FC12FFC247AFA6CB755ED0A7569F5314A13C71E08E3A9D4E96D9E92985D6434F4C5A7724D3E5FF5F30377FF00816A7FE25FF73E93FF00B6BFF84FFCCF93A6D4E925A3BB4BA9B6C8D6ED72859B5BDDFF00BFFCCF57D235FB67B46C9FB23ABCAF331EBCF1DBA01341FE15A1FF00895FDD9BD4D5A7BECF1055AB21A884774A4A4D2970E58383D4530A68A341BEF8D1679B26D638763A4B59A36F533D2CE766A3551DBB36F278039785A842E9EA76A4A8D32CF0E726B3FD8E74D11B5E8A1282765B3F32524B9AE6FF00B98D36A2AFA325A656BF3EFB2317C1F08F047A61ABD3E9BC4272B24E2AAAB6C238E0DBE3C31E980270D6F8F5AE4A3E552F749BE8A3FF00B9D7C47511BA8D16A27375C5CE52528F35D8F3E821ABD3A95B4BA67E74537E667E3D3E275B3C5A3751A58D708CED5252B2118B58C71E00674B28CBC33597D76BB751657F5AA5C36F3374E230D3B8E70E097EC27AAD135AA7A59CECBF571DBB36E31C038F950A21CF6E239FD00F4820CE165F24455048BDD152C7328004CB28149803E205C6500001499280204FA00274E244F269FA936F1E000AB0D90B1E405042819B16E8E3B97A00F9000445024EB8CD71E6B93EC484DFD99E14BBF7364714F9AC8141CB12A9FBBEF47B3E86E3252E4068321408000042800400011948064A40414E352D5EAE2EDD346A8D59C45DADE65F03A9E69F0F0CF0BFF7CBFB96237096AEEB254D754216D7FC4958FDD5F02EEBA9BD53AA8C54A6B309438C59E8B23E76A7C474EDEC8CA116EC7C97BBD4F36B60E0F41A78DF0AD42126AF9636BE051A9CEC9DD1A34F18CAE6B77BDCA31EECE5A87AED3BAE338D12F364A319C5B71C9D7409C75BA8CEA21A87ECFF006EBC6171E5C0E7A6C7D0FA1726925AA8BCBE9C581ABEAD769EBB2D9CF49EEACB8A72C87A950D22BA58E3052635DA6D1EB5EB6CAE5377D51DCDE7DD7C3A7C8F15F5B8F87EEF6FA66B6C7EAA38DDD387E807B634F88795E6F97461ADDE5E5EFC18A21ACD6A57D31AA15F28F9ADF1F91D34B7CE5A8BFC4B50E0ABAEB705B3949FA64E763CF86F85BEF727FB8160F5575B2D3D754236D7FC5737EEA23F6BD35AB4F3AE33B2DFE1383F75975F6DB1D7EB28A63093D428430F9BE1D0D6A6D7A5B74B5D7284A5A3ADBB1CB3B72D63005B7DAF4B156EAA354A9CE24EA6F31F895CAEBAF953A58C1CA0B3394F8451CA509D7E172AEC58BF5B66E50FC2BB9D17FD9BC57FD98FFE103163D7D7AAAB4CE346FB32E33CBDAC6ADEB7494CAC9CB4B25178DB1726CEF538AFA22529249425C5BFF29E3D6E9749768F51ABD3B9EFAECF79BE52CBFF00DC0F44A5A9B35AB4FA7F2B3E5EFCCF3DFD0C6A25ADD3BAD4A5A597993505B1B7C47873D355E2564AB859455E43E16F079CA31EC9A48AD16AF4AE6A12BE3196F7D33CFF00603B5F5EBB4F54E739E93DC59714E59239BB34F4D92E0DED7C3D46BB4DA3D6BD6D95CA6EFAA3B9BCFBAF874F91CD62CD2A92588A4B6C73C9600F5E57468C5CF2A30EB27FB071AF6EE94524738427193B22B9F28BE69115E8E80C42C52787EECBB33605041902A290014192817A0E409C00A42900CCE5B671E3C1F03462E4DC32B9C5E4D26A4B2B9302AE79346401A23182750293390000E011407101F222034625179DD1787FB33447CC0919B7C1AE25C91C7286EDBC25FF00C81A06773E8BE638BE72F9700340CED4B8B7CBBB32B2F8C6385DDFFC80D831B65F8FF61BA51FB4B72F4036422945F5E650320811053851E45BA2D3537EA21459A6B3328CDF3E3D0EE62555763CCEB849F792C9447ABA35366B6B958AA85E92AEC9708BC2C3316F9363D269AA9C7511A22F7C9715CB81D6554271509422E2B926B821084611C42318AED15808E744AAD26B9EF51AAAB6AD9B92C252C98B67A7D368F4DA68DB1D4AAEDF32CD8B72DBD7FB9DE69496D945493E8D188D70AF3B211877DA804A5A4D357AC9D1A8AA7ED31DB0AAB5C53C76FD4F2EAA8855E1EFEAEB5646314E4A2BD0F5469AE2F746B845AEAA28DCA3192C492927D1A033ACAA8BD530A7C474F5554A5B63B93E3DF99CB4B3D3EA741A484F535D33D3CF73537CF89BF66A3F26BFE945F229784E9AF872F75145A353A6BBC475BA88DF5D72DB185539BC2E5C5FEC79AAA6AA75DA78DBADA6FAA5395927B961492EACF43A296F8D55BFFBA87B351F915FF4A03878866365BACAFC4299CF9461169BDB9E47784EB53D669EF9AA56A22B64E5CB96187A5A1AC7935AFF00BA8D251B23B2C8C6587CA4B2073B6FD2C2DD153270BE9A22E364F6EE8ACAC239EAA5A6D27866A28AB515DB2BACDD150E8B2BFE47AA35D718384611517CD25C199F67A16714D7C79FBA80F2D4E887893AF577D3A88CEAC2B36A718BCFFF00274B67A7D3E8F4BA68DB0D4AAEDF32CD8B72DBC73FDCEAB4F4ACE29AF8F3F751A8575D79D908C33CF6AC01894B49A6AF593A2FAA6F531DB5D55AE29E3B7EA48D1B68506F8A8252C75C1B8D1542598D708B5D5452364562A5BA1194F8CB1D7A1BE4629FB18ECCE806670535EF231EFD4D71728F5F43A8E8048C94A39468E4E0D665078F4EE6A1353E0F9F603633C41259DBEEE33EA05C94C453C7BD2CFE86B2051804CE00A1B249A5C5BE04DD26BDD8FEAD81AEA72AFDC9BAFA7346B74FA28989B9AC4B6AE0FA303B05C8C6F7F8196138CB93036886672DB1CAE2CD6400190002609902E464C79B14F124E3D9B37C0001943981252E8B99971EADBDDDCB1EAFD4D6409179E7D0A65F09A7DF814093F7A518BE5CFE268E737B6519F45CCE80400640E3852BA49AC65703A464F389735FB99B5E36CFB3E22DFB3B9738F103FFD9");
    //var base64 = Convert.ToBase64String(by);

    //var plainTextBytes = System.Text.Encoding.Unicode.GetBytes("0xFFD8FFE000104A46494600010100000100010000FFE202284943435F50524F46494C450001010000021800000000021000006D6E74725247422058595A2000000000000000000000000061637370000000000000000000000000000000000000000000000000000000010000F6D6000100000000D32D0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000964657363000000F0000000747258595A00000164000000146758595A00000178000000146258595A0000018C0000001472545243000001A00000002867545243000001A00000002862545243000001A00000002877747074000001C80000001463707274000001DC0000003C6D6C756300000000000000010000000C656E5553000000580000001C0073005200470042000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000058595A200000000000006FA2000038F50000039058595A2000000000000062990000B785000018DA58595A2000000000000024A000000F840000B6CF706172610000000000040000000266660000F2A700000D59000013D000000A5B000000000000000058595A20000000000000F6D6000100000000D32D6D6C756300000000000000010000000C656E5553000000200000001C0047006F006F0067006C006500200049006E0063002E00200032003000310036FFDB0043002016181C1814201C1A1C24222026305034302C2C3062464A3A5074667A787266706E8090B89C8088AE8A6E70A0DAA2AEBEC4CED0CE7C9AE2F2E0C8F0B8CACEC6FFDB004301222424302A305E34345EC6847084C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6C6FFC0001108028001E003012200021101031101FFC4001A000101010101010100000000000000000000010203040506FFC40049100002020102040304080402070703050000010203110412213141510513611422719115233242525381A1334392B135622463727374D1F03482B2C1C2E1F106164425364546A2FFC4001801010101010100000000000000000000000001020304FFC4001C1101010100030003000000000000000000000111021221223141FFDA000C03010002110311003F00F7E0D11064004006820000000A000A8017A819C6194D00202802140020280210D1008500000008C1480000000EA5026060A503252900000080A00981828004C1401000008540000008000042900008A04052010868806C9918EE5087200145210A000005042900A0A15014800000002017F4045EA500428004280000080002A32140029001410A00992808850028C852014800000010148000001E4992924D2600A42A004290014CE4710290710000006819DC38BE211A32E46B1DC98289C4D000464346790452E4CF22A036522045526400214CFDE341421A23032689828101400000442800400A042678F22940000010A402826001410A00851FA810BD000AC94B8000C9A20000011999F73A118188AE1C4D0281085EA00CE16726800042990040CA03069CB04E832113326CB15964E3835D0A260358030117292030402157321B8A0294023410A400C000000007EA00000000000042800000000400000000000000000000000000245E40A42900A42902A90A40217A10BD0080A4000A4004291811F30C0611A08A503200CE0A8C949C587CF080D0332CE70801A4B89B2148A0002842900000010A3000A428021480085004052002801000000000000004280000000000000008C0A404028200AA42802000014800000010A00CF50C750C0D319E381CE4665C1F12A2E49CD973B92E03A842445DC3E2CBC58138E781A517CD8C1A0B14101154001021405405200290A0010A1022290000000214000402821400000850000264642A800203F500010A4000A40202B20500011485205091965B58E45000000000102148C080A40AD479B0D2650113A035818032545C14010A0280850214850810A02842900A00020290002900A400200000429001400000000002140000000000000020290010A0080A0080A4000000000A00020428021194815D00000148022DB45200290A00000200000000A80649940504C8C8141323701419DC377A046819DDE83701A213713215A298C8DC06819CB19606C18CB2E581A0672C640D0339006823200D03200D0213645F402EE59C6514E6D253E08D84000001001485004000000000000000195921B32C2B79192002E464995DC6E5DD0172C64CF990FC4BE64F36BEB38FCC0DE58393BE95CEC893DAA95FCC4076048C94A2A4B9300504396A3511D3A4E49BCF603B03C5F4943F048C3F135F96FE607BC1E2AB5FE6D9186CC67A9ED93C45BEC001F325E236278D9130FC4AEED103EA83E4FD217BFC3F223D7EA3F12F901F5C1F19EB7519FB7FB13DB6FF00CC183ED03E23D55EFF0098CDD17DB2BA2A53935903EB80500429895908FDA68836432AD8497066A2F72C81410A5000014199CE308E66D24615F07DD7C501D411B4A39310BA3278E317EA07400CDB62AAB72971034538D776E92528ED6F91D408D7BD93466439F36C0D10612E09F1EA0205200290A400000000000000000046B8148079B5F29C694E126B8F43E779D63FBF2F99F4F5B1DDA597A1F3B4918CEF8C66B29F42AB2EC9BFBEFE66773FC4FE67D8F67A57F2E26BC9AD7DC8FC868F8B9630FB33EDEC82FB8BE45DB1FC2BE4347C3D8DFDD7F22630F8A3EF617647C7D62DBA990D1F4F4B2DDA783F4353B615F09C9238F87CB3A75E879FC4E3EF41907ADEAE85F7D1E4D76A2BB6B8C60F2F278B0FF0BF90DB2E7B5FC8B8355552B67B60B89DA7A1BA1073938E11341251D42CBC2C1F4351755E4CD6F8F2EE07CAD3CB17C1FA9F71F18FE87C083C5917EA7DE8F18AF80A3E15BC2D92F53D54683CDA94DD98CF448F3EA9635335EA7D2D03CE963E80725E190FCC7F22FD195FE391DEED55744B6CF3938BF11A7FCDF2207D1B4AFBD21F4751FE6F993E92A7B48D55AF85B628462F8818BB434C2A94A29E52EE7CEA5E2C8FC4FB972CD325E87C183C4D7A328FD02E48A663C60BE024F116CC8E36D929D9E555FABEC621545EFDD16F1D59AD2C93CF0E2DF166EBC666F77322393AB7422A2D27D0DD52954D427FA1E7B2728D91697D9475DEEFA5CB1868618F527959470BAEB2BE3B63FAC8DD1272AD3395BA69CE537171F7BABE858A47516CA718C543DE449EA6C8C9C538CA4BA24152EBB211826D28E1C8AEA71E1E4EFECF251CEDF3A51AEC9B8E73C238164EE9C9D5C5BF446FC9B9571584E5BB2F8F23ABAAC5373849272E79039E9D5B2DD1766DDBC391CDC253BA4A5636E0B3C0EB569E7B66AC7F69F34214D95C2504E387D7AB039A9CBCB87BF394E5C964CDF19A86D9293973CEEE08EF0D3C9423EF2DD1E4D1A95339D6E32B38BEB8038AAD2BEAE32795C789ED382D3BF323273FB2B1C8EC055F690B23B59966B3B9FBCC091E650B0020000290000000000000000098E392802148062E8EEA64BD0F8FA77B6F8FC4FB5CD60F873F72F97A48AAFBBD0F993D7DCA725C3833E941E6117DD1F17551D9A89AF520EDEDF7FE25F233EDB7FE33CC528FB1A2B1DB4664F2F278BC4963519EE8EFE192FAB92ECCC78A2F7A0C0E9E192CD725D99ECDA9F347CEF0B97BF38FA1EAD64E70D3B941E1A20EF85D91CB531CE9E6BD0F94F577FE632C6F9CE718CE6DC5BE3EA5C1C320FBAA9AB1FC38FC8BE5C3A423F21A3E0E70CFBD4BCD307E87C4D42DB7CD7A9F5F472CE961F0147CDF1058D54BD4F67864B3A76BB33CBE28B1A84FBA3B7853F726BD47E0CF8AAF7E2CF064FA3E2ABDD83F53E6640A76D24B1AA87C4E193A69DE2F83F503EECF8C25F03E03E137E8CFD03FB3FA1F9FB785D25FE6241F7AA79AA2FD04D660D18D33CE9E0FD0B7C7306F2F81071A6A4EB6F7CBE08515C2CDDC649AF5394673AA5DB3DCE9545C65B95B159799138D662C74F5ECDCD36F3DCD595571A9CB1D3B91E2557BB349E4E1658E525152CC57EEC5AB7C8F5D2D42B8A6F895DF05D5FC8C69E0F2E525C7A3394EA9C9B5896E72FB59E091611DFDA6B79C6EE1CF813DAABE185279E5C0E15D5638B8C73B53EBC3258533AA55FDE9678BE88AAEEB509D9B364B2CE939EC839359C1C211B3DA37589CBB7448F44E2A7169F5038FB4CB629F952C3E5C4E71F32CBA5BE1B9AE4B77046ACA2D6A294B724F97234AAB1D937F673CB0C0E0AFB2A73CC56174C9D3DA6CCC56209CBA16AD3B51719E39E7775625A5CD9192967BB6067CFBA6FEAD2924FED743D51CED59E2CF3CB4F66CD90B311F81E88ADB14BB009161CB249163269704058F201721C8200000000000000000000042802000087C7D6C76EAA67D83E5F89C717A7DD162BDFA596ED341FA1F3BC4A3B7559EE8F6F874B3A6C76671F12A673B22E1172E1D00F9C53AAD2DEFF9722AD1EA3F2D81E8F0B97D64A3DD1DBC523F5317D99CF45A6BAABB338E238EE77D7ADDA597A01E3F0D963538EE8FA56D6ADADC1BC64F91A3963530F89F69BE1914789F86D4A2DEE933E6AF767F067D19789438C5419CE3E1D29ADEEC4B3C71803E8C1E6117E85335C764231CE708F1EA35F2A6E7055E71EA41E3D72DBAA99F47C3A59D2AF4670869D6BB374E5B73D11EBD3D11D3D7B22DB28F178B2F7A0C9E14FEB26BD0E9E2CBEAA32ECCF3F85CB1A8C77407ABC557FA3A7D99F20FD0DB542E8ED9ACA38FB069BF07EE41F10D54F1645FA9F67D874DF968D2D1E9D7F2E25D1DA3C62BE07C1D52C6A2C5EA7DEF81F0F5EB1AB9920FABA279D2C3E0773CBE1AF3A589E8B2BF316374A3F0039DFA656BCE70CF33D14D7297EE7A7D9A3F8E7FD43D96BEAE7FD44C4EAF32D24FABFDCEB5E9211E3292F99D3D96AED2FEA2FB2D3F83F72754EB1D37422B198AFD49E6D7F8E3F338CA3A583C38C726E15512598C22FF0042B4D79F57E647E64F68A7F3226BCAAFF047E4315C5A5B6397E8518F6AA7F18F6AA7F13F91D76C57DD5F2185D80E5ED55F453FE91ED31E909FF49D801C3DA3B5367C879F3E944C97EA954F6A59918AB5BBA589AC17AD4ED1D3CEBBA50FE674AE5392CCE3B4D279E408A31C36F064971448F4E441D000540000000000000000000008469BEB828020C800783C523EEC247BCF2F894776973D98572F0B9A519A6CF779905F7E3F33F3D97D0659707E83CFAFF323F333ED34FE647E67C1E3D9976CBB4BE4307DC7ABA3F32271D46AF4F2A27153CB6B91F2B64FF04BE4554D9F972F900A65B6E83F53EFF35FA1F0569EECA6AA97C8FBB5E7CB8E561E051F0AF5B6E9AED23ED69A5BB4F07E87CDD5696E9EA272856DC5BE67AE8B63A6A235DEF6CBB01BD46B61A7B36CA2DF03CDE43D7C9DD16A31E49135517ADB54B4EB728AE2CF5686AB29A5C6C4B99070763F0EAD41ADF9677D26AFDA6525B76E0CEBF4D3D4462A18CAEE6343A4B34F64A5371C35D00DF89C73A5CF667CBA2E7459BE2B2CFB5A9A9DD4CA11E0D9E0FA2ACEB647E45187E2977E1893E94BFB47E475FA25FE6AF917E89FF5DFB0F11C3E92D47F97E465F88EA3F12F91EAFA263F9AFE45FA2A1D6C90F078FDBF53F99FB1C2739592729BCB67D45E154FE3932FD1747797CC0BE14FFD1B1D99ED3951A7869E2E30CE1F73A11426E59C09A6E3889C6353CE64D116477CFA9CEFB142B6F386F919F2B8F35F31A9A94EBCF65C02729E78F9F2971E675D2DDB6DC37C0E50A9CFECAE46ABAF1A88C249733323CF375F513CACA39CFF008D59D0E76FF12BF89B7A1D0E7E771C28FEE746F08E1BE2E5B974E64591A8DEE5CA26EC96C839359C185647A40E8BDE8F15CC15F2AC9B9C9BEE67A9DA55EEBA4B925CD999C23B374338CF53D32C71C7BF4D273A936B0753352C5715E868E17EDD2230961AE030DB5834DB72C3E8455200114000011A7D18028000000085040291F1452013801D40024A319C712594523E4F01585454B9571F91A55C3F047E47C99EBF50A4D6E5C1F630F5FA8FC7FB1707DAD91FC2BE45C2EC8F86F5BA8FCC667DAEF7FCD91307DEC03E07B4DCFF009B2F99F5F41273D2C5B79607A0657747C7F1294A1AA7894B0D773C9BE4FEF4BE607E8F72FC4BE67CCF138F996C367BCF1C71C4F04774BEF7EE7D0F0897BD6228DF85C670DEA5192F8A3DD39C60B33924BD4A793C4E39D237D9907A237D5396D8CE2D9B949422E52784B9B3E27874B1AB8FA9F5B53283D3CD3947977022D669DB4A3626D9DCFCED4F16C5FA9F7BCEAB6F1B23CBB81C5EBF4EA5B773CE7B1E95C567B9F9EB64BCF938BCADDC19F7EA79AA2FD00F3D9E214D7370929657A1E8AAC56D6A71E4CF97AAD25D66A272841B8B7CCF7E8A13AF4D18CD62480CEA75B0D3CF64A0DF037A5D4AD4C5C9476E0F3788696DD45B175A4F0BAB269BFF00D3EB7ED1C373E18E207D0070A3575DF3DB5E78773B81271DD1C1CA34BDB86CEBBA1F897CC9E6D6BEFC7E64595CFC9F81D26BEAE4BD09E755F991F99977D38C798816EBC319C766C96571E874AA4A7AA8ED5C12333AAB726E372F91BA15354F739CA4FD22C98E32727B8E76FDBAFE24F698769BFF00BA6657464D3F2EC78FF29A75777C4CAAE31E48C79EFA5367C879D3E944C8BAE9B238C60A91CBCDB7A50FE637DDF92BFA826BC77C9C3512C1CDD929ED8F0E7D0F64EAB2C799530FEA2468B20F31AEB4FE393ACE5318BC6BD315EEAF814E58D477AD7E86A0AC5FC4927F04736964F0B2229E33C849670740ACACE3894A408A0100A084934B8B60519245E789400032000005200008398021489A6B280578E5E1B54E6E4E52E2CF997C15774E0B9459FA03C57F87C6EB65639B59E8914634DA1A2CA23396E6DAE3C4EDF47E9BF07EE70B6F96814698ADCB1CD9CFE94B7A422072F10A2145D1508E22D1CEBD4DD5436C27B627B288AF1094A5770DBC923BAF0DD3F693FD40E7A08C353094EE5BE79E6CE5E294C2B841C22A3C78E0EBA95EC34A7A7E197C73C4E3A5B1EB6ED9A8F7A2965203E79A8CE50FB3271CF667DBF61D37E5235EC9A7FCA88D1F2F416CDEAE3BA4DE7D4FA7AD8EED2D8BD04B4F54212942118C92E0D1F26ABEC9DD1859394A2E5C536079F3D9972FB9FA1F22BDAF15C570EC7E7E7EED925DA4119C7C41FA1A630F260D463CBB1F175CB6EAEC5EA15C0FD0691EED356FD0FCF9F6FC3E6BD9219690A3D12B2107894E2BE2CCFB453F991F99F2FC59C5EA22E2D3E078A1094DE21172F82260FD03D550BF9B1F99E4D7CA3AA8C6143F3249F43E64AAB211DD2AE497768F67843FF4892EE8B88EDE1DA6BA9B9B9C36A68FA128A9AC496514115CFC8A7F2E25F26AFCB8FC8E800C7975F4847E425E5C17BCA2BF43679B5B9F2A2E38DDB9632076DD0DFB163776347825E7577C9B9A94DC3861722464FEC5564E6F6E64DF403E80CFA9E056798D28B970871C239D4ACF2EC84137C38BE207D34D3E4CC46E8CA535C9479B679F4317194B83DBF0C1CECAA7294DB839477E71DC0F5D572B65251E51EBDCE879B49192959275BAD37C133D2403164F64782CC9F246CE56F09465D132879537C656BDDE9C8B093DCE13E6BA9BCA6B3939C1A9DB29478C570CF720E8FA173C4CC9F146CA80000000011A4F994805042800080500002024B970019E38453297CCA073FB16A4B94BA1D0E50DD3B3CC9476C52C463D7E2750AE1AAD52D36DCC1CB279BE955F97FB9DF5BA796A2118C3194FA9E3FA32DFC7103A457D256665EE282E9D4DFD175F5B2466AAA5E1F195B36A49F443E958F4ADFCCA3D3A6D2434CDB8B6F3DCEE78A8F10575D1AFCBC67AE4F69062EA617C36CF3839D3A3A689EF8279F89D6D93857294565A47CE8789D93B231708ACB03E8DAE4AA938F0925C0F915EBB512B22A53E0DF13ECB598E3BA3C6BC3684F3EF7CC0F6738FE87E76DCC2F9639A9703D976BEFAAD94138E22F0B81E9A74545D546C9A7294B8B7928F9AF557BFE6CBE672E67DC5A0D37E5FEE7CAD7551AB5328C16238E0073F3ACE5BE5F330DE5E5BCB67D5F0FD3D166994A75A72CF16CF5FB2E9FF00263F21A8FCF8CBEECFD02D3D2BF951F91AF26BFCB8FC86ABF3A7D2F07E12B11F47CB87E08FC8D28A8F28A5F01A3C7E2B172D2F059E278FC32328EAB8C5F15D8FB1CC1000CAEE8E7A99B869E72873480EA43C776AB6E92328D91F3199BA774B510846EF2E2E396C0F70714F9AC9E0AAFB76DF08CFCC705C246289B728E352DCF3EF2901F4B1C7380925C9247CCBE51F6C9AB6E9C638E0A3D4EFA0B3742C6E4DC53F77773C01ECE1C8725D91F2E9B651D479F297BB64B0964F46BE364EBCC64A35478B5D6407B39914A2F386B8733CD7DCE1A78460D6FB1617A1E5AA2E5A39D7196EF7B8E3A81F4A36427F624A5F01BE3E66CCFBDD8F05128FB5C63541C22E3D57337555E578861CDCA4E396D81E99EA298D9B2535BBB1D3835E8CF9B7C65542E5E5EE7279DFD8F7519F2219EC01D15BE8FE674492588AC2400199F43A2394FA1D23F642280402820028214085200000000140CA8F1CC8D10000130040081540383D669D73B101AD4D4EED3CA11E6CF9FF0045DDF8E27B7DBB4DF9867E90D37E37F203853E1D6576C67E647833E89E4FA4B4FDDFC89F49D1FE6F901EB92DD16BBA3C11F0B4A4A5E6F27D8DBF14A3B489F4AD3F82407BBD0F9F7F894EABA5055AF75F73DB4D8ADAE334B099F1FC4A3B7592F54079EDB1DB6CA72E6D9F6BC3A5BB471F43C1A4D02D455E639EDE3C923E9E9685A7AB62939712D1D8F91E2B1FF494FBC4F5EB7592D2CA2A304F28E354578949CEDF776F04A241BF09966892ECCF79F3EE5F46D59A78EE7C771AD0EB27A9B5C67B5617403DC78FC4ED9D54C655C9C78F43AEB6D9D3A794E18CA3C1A6B65AEBBCBD43CC52CE101E5F6BD47E6C8F4F87DF64F5494E7292C7567BFD834CBF948DD7A5A6A96E85693EE513579F66B36B69E0F83E6D9D6C97CCFD1CA2A4B12594CC2D3D2B9530F9107C1A66FCE8664DF1EE7DEBD3969E492E712AAAB4F8571F91B03C1EC705A1E14FD6E3B712CF4CEDBA9F320DC547DE3D2ED9E70A993F5C8F36EFC87FD403C955D32850956DF63C93AB516ED83A611C3E3664F5EFBFF257F50DDA8FCB87F501C2745D1D4BB2B842598E3DE648E96FDB6B94A0A7670E1C91DDCB50965AAD7C599F32DC677D580397D1B4AAF0B3BD2FB4D9DE74CE7A5F2A4D6EC7332E56A8EE775697C047CC943779F1C7FB206A5A6AEC8C5591DDB518AF451AE1628BC39755D0D4A338FDBD463F43194FFF00C9971F40354697CBB3CC9D92B258C2CF446FC94EFF003B2F2960C382D9BDEA2CDA73DD4E32EEB1FEA0749E8A139E652961BCB8E7833BF04B08F0C67549E3EB3FA9852A1AE309E7E207B72BBA194FA9E5A215591949D58C7A9DE98C143308A8E482CF8E0E8B9189349AC9D160A81305004290A008520141014520040282000C00211B48A65C16EDD90294802A9F9EBE3B6E9AED23F427C4F108EDD5CFD44188E935128A71AA587C8D7B0EA7F2DFCCFADA49EFD2D6FD05BAAA6A96D9CF1228F95F47EA5FDCFDCBF46EA7F0C7E67D0FA434DF8FF627D25A6FC4FE40787E8CD4768FCCF35F4CF4F66C9E338E87DDA3510D426EBCF0EE7CEF178FD7425DD01ECF0C9EED1C7D19CF5BA19EA6E538CA31C2EA67C1E59AA71ECCF4EAB531D3414A5172CBE841E68CBE8DAB6D9EFEE7C31D0EFA4D647552928C5C707CED6EB63AA845460E387CCC68B55ECB3949C7765147D4D5E93DA9C7DEDB8F42E9349ECBBBDFDDBBD0F2FD2DFEABF73AE975EF5172AF628FEA41E8D4E9E3A9AD424F6E1F439E9B430D3D9BE339378EA75D458E9A2538ACB8AEA7868F12B2DBA30708A52607AF5D1DDA4B3E07CBF0D963591F53EC6A1668B17F94FCFD564A9B14E38CAEE20FD05F394299CA3F692E07C8FA4F53F8A3F224FC47513838B92C3EC8F2C12728A7C9B2E0F53F12D4FE3FD891D7EA5C966CE193EA4743A6DBFC25C8F876AD97492E9208FD245E629FA14C52F34C1FA1B22B13DCE71C72EA70955A8797BDAECB27A8E73BA1096D6F32EC9710387B3DF8FE27FF00E8EB6D329D718A9E31CDF70B510970AD39CBB224E528E37CDE5F2856B2C0E7EC927CE68AB478CFBCB8FA1BA6EE719EE5C70B276784B2DE101E6F6358E325F23AAAB156CC8F35CB8551DDFE67C1154A6A694F6F1EC066FABCC8A49F14661A64A3EF49E7AE0EE67CD8671B9013CA83AD56D6628CFB355D8D79B5F723BA09E32FE403C8A92FB3CBD4C4BD9EBE385C781CF556FBA9AE5D11CB4F276D989C7315C4CDAE9C786CD7B631825EEAE0CD2492C238D37B9CA4A51DA93E0762B9B13E85595C84965A3A22A32B2528019000000000014000400000008000004040154F95E2D1C5D197747D53C1E2F0CD509766074F0B9674B8ECCF2F8BC717425DD1D3C227C2C8FEA5F178E6A84BB328F940100FA5E0F2F7EC8F7593A78C47EAEB9766797C2A5B75697747BFC523BB48DF660797C1E58B671EE8F578AC73A4CF66783C2E5B75897747D4D747768EC5E841F9F3A515BBAD8D69E32CE674A27E55D09BFBACA3D97F863A69958ECCED5CB07934D779172B319C1F46CF10AF51074C212CCF826CE6FC266A2DBB570F40337F89BB6A943CB4B72EE78AAB3CAB2334B3B5994B32DBEB83E9AF085B72EEE9D80E73F16B65171508AC9F3CD4E3B2C947B3C1F4EAF0BAE75C64EC9715903E5C78C92F53ED43C374FB62F126F1DCF8F38ECB6515D19FA2A5E6A83F403E45BAFD442D942334945E1703DD4E8F4F65519CE1BA4D65B6F99F2B5AB6EAEC5EA7DAD13DDA4AFE00768C54629457045008249B516D713C718B51CC94A7B9E5A89EC7249664F08E2DECF7AB9C76BE8C0CB93C2946BD8D3C25DCB194D4AC96CDD676F4109294BCCB2C8BDBC9479213B6A93CC6CC4BB902529BAE5BE0A3148D5752718CAC6E72C75E9FA1CE52529415B63927C5452C23AF9F0766C59C947426D5BB775280070CBE915F23B9C375BC709F322CA7BFB738FD84B2F835F01F58F9E7F41B6C6E3C3910D4D5C3755EA8E7A69BF26508ADB248E9B2C72F7B89CF510BE52C57F65F60D77F8E3CD0B25BF126D9F46B79AD3671D3E97CA7BE7C65FD8F488E711FDA46CE7D51D0D0000000000000000010000520000000000325200AA797C4A3BB472F4E27A4C6A23BF4F647BC40F99E153C6A5AEE8F7788C1D9A5928A6DA7C11F2B453D9AAADBEE7DCF36B5F7E3F32D1F03D96FFCA9FC8D7B26A3F2647DCF3EAFCD8FCC9ED347E747E64D1F2B49A5D457A984DD72493E27D3D6C77E96C5E81EAF4EBF9D1F998B359A675C979A9E501F23472DBAAADFA9F7AE5BAA9AEE8FCEC25B6C8BECCFD1AF7A3F145A3F35C9E01BBA3B6E9C7B499808FA14F86DC9C2CDD15D4F44FC56A8EE8EC936B812AF13A6354632526D2E3C0E1F46D97BF36328C54F8A4C2BC0E599E71D727D35E2D1514BCA93C2EE7CEBEA74DD2ADBCB8F53D9A7F0C95D4C6CF31473D30078AC979964A78C6E793F41A496ED2D6FFCA7857847FAEFD8F7E9EAF2298D79DD8EA41E69F86573B25394E5993385DAEB34B679318C5C61C1367D43C97F87D77DAEC94A49BEC072A3495EAEBF3ED72DD2E78E08F7555469AD570E4BB9F3AFD44F40E3454938E39C8F5687513D452E73C673D00F3F886B2ED3DFB60D28E3B1E8F0FBA77D0E5379964DDDA4A6F9EEB536FE26A9A6BA23B6B584C0DCA119AC4913CA86D51DAB08D00279704B1B5609E5C3F047E468A0676AEC8B85CD200000008504029C2ED47956461B739EA76332AE129294A29B5C80E13D5A8456E8E1B9631D91BD3DCEE8C9B4961F43A6C8FE1414545622B1F0034400823E68E873CFBD83A1502148050428000010000000000000000010019290A1418CAC77000F85A8A5C35128C53DBDCE5E5D9F825F23F45C3B21C00FCEF936BFE5CBE46BD9EE7FCA97C8FD06467D4BA3F3EB4B7FE4CBE46BD8F50FF9523EF67D467D49A3E12D0EA7F2D9F6E9CAA60A4BDE4B89AC8C81F2B51A0BECD44E708ADADF5673FA3352FA47E67D9C8CFC7E407C7FA2F51DE1F33EB69E32AA88425C6515C4DE7D1FC867D181F3F55E1D66A3512B2328C53EE7AF4B54A8A235C9EE6BA9D78F6638FE1605E3D89C471FC23DEFC3FB80E2388C4BB7EE312ECBE6079F51A286A66A7393CA5D0DE9F4F1D341C6126D37D4EB897A0C4BD0071EE38F72ED977436CBBAF900036CBBFEC36BFC4001763FC4C6CF560405D8BBBF98D8BD7E60641AD8BFE98D91EC064995DCD6C8F643647F0819CAEE86E5DD1AC47B170BB2039EE5DC6E5DCE98400E7B90DDE8FE474007249B9E70CEA00408520029001400040000000000000001014804DABD4BB513DEEE871EFF00B00DABB176AEC4E3DC7BDE805DABB170BB132FAA2E530185D86176000BC013A940148000000A0800A0100A53250290000000000028000020028000100004013000000000008500429000000000001D48050000202810A080520004C80001724005041D70051C0850271E85DDC70C078600A662FA33405042800000CAE40000520028214010A40000028200294C94000000040282000C2E63E0390552027508A42FE8401F0002004000A40001485004000A40667251E60681172C94000000040000026577299DB1EC86101A219E3FA1AE61541001A0401125C93EC68CCFECFC4D014100140000A40050428000000000CE4000000000000000000008CA40292450008520000000001014800100141001410A00113280042810A400520C800400085200066594F28D124F11606B994CC3EC20051D4199379C479F7EC05E72F45FDCD112C2C2281410014A4000000504E8502820005200000028200282002821401000000019042800000042810000010013A948C055000408688C2808B91420000000009B00814000464A428024B8F0EE1B4B8B2478B727D7901AE85063739708F2EE0572E3B63CFF00B163C104925C02E41540011413200A00028214014800148000050202800000000000000000042900A085000002732820000010148C0020028214007C811F2011E2B81400A000200802A900603A1CE996FAF2DF136F9609B17DDE18005E4B246F1CCCB697197E88235CDE5FE847251E7F226652E4B6AF5E66A304BE3DC0893971972FC26800A300040A67AF33400A4000A428000014000010A0014010A00000002000500000000214019EA689D4A150A004080A04000020004042855000440501500000A080000038E400042800728C1F394B8FA1B8C52E5F338C2524B317B9763A46D849E3387D981B000400014010081485000000320602A800205214088A0000001480055040052000504284429001402001C400A060300085027503A800060010000002810148800280000004280200502004038C3DDB65179F7B8A3738465CD71EE62DCAC35D19D30073DF3AF8496E8F73A466A6B316539CE2E12DF0E5D501D0A8CC64A71CA332F7F293C47FB81ADF15CDA2EF8F7114A2B0921B53E680A531B1673178312BB64F634DBC65B5D00EC08B8ACA28400014293726F09F14500520028264640A0800A0800A0002820000A400014080140801400230000201485200000100000018E39028000000000000200008DA5CD8DDD930290997BD4787A9A038D99941A35079847E04B1E2B9342AE35C581B21401E7CBA6728F46B81D92C4629238EAE3EEC5F5C9DD3E5F002843A002BE3C38A38D51FADB573C2C659D8E557F12CC72C816A6D438F14B81D177315F094FE26B97C00D18B1B6D571E0E5CDF646CE75FBD294F1D7080B384547DD496391B4F2B2665C22C2E8BB01A03A138814CF99052C6EE256D46397D0E75453A7125CF881D7031D99CEA6F8C658CC4D81789481BC26FB105072AF29C5C9E772C9D31C4A283164B661259937C11CA5192BEB529EE7CF041E82E4990514A67208282710514A6725C8019200290E765AA12DA965F5F43A2E280A09D4A04409D47500320105064D14085000852100A40514800000963DB5C9FA019AF8EE97766C91588A450318E183147F0D67B9AE8628FB32E1F780EA4050395EB728AC7365A9F0C3E71E045EF6A7D20BF72CBDC96FE9D40E810400A72D3FD893EAE4CEA72A1FD5CB3DD816AE2E7FED1D0C551FAB4FABE26C0CE711797C912A4E35C512F5F54CD37B63C3F4013E2F1DB8B1159E622B877EECDE000000C5D854CB3D8D47ECAF812D5F533F812AE35C7E0047EEDF17F89713A67D0E6BDEB9F68AC1D0018B9BF2F0B9C9E0D9CE6F36D71C7A81B92C38FA3164D570727D04BED47E2633E6CF1F762FE6C0D5717C273FB4D7C8CAE3AA7E91E27538E9FDE764FBC80EE4C033649423BE59E004BA71A6B737CFA2EE4AA33DBBA6F74A5F2471BE0F6FBCFDFB25FD2BB1EA4B09202179229383209945E273BEC5547DD5993E48DC7728ADDCFA802378E32E8578673BE5B2993CF17C101CA09D8F8F39F3F448EE935D4CD55EC8F1FB4F99BC30297264BCC0BD41064003329A8F3E7DBA9374DFDCC7C581B0637B5F6A38F5349A92CA28A01C7CD93F797D9DD84BB81D80040000000140C5BF652EF246CC4FEDC17A81B33278E5CDF22939D8FD1019C76E0620F6CA49F73A995FC592EE80A8964B641B5C5F45DD999E2BE29F17CA2BA88E5CF75BC25F757602D50D91C7DE7C5B35CD712900E6B353EF0FEC754F2B2818F2F0F316E20743CF5BF73CB8F3727FA23AFD6778FC8C511D939AE6DF1C81DB90264A066D4DD524BB12B7BA2A4FB702BF797A7F73107B25B3A7403AA2911409C720A00925BA2D3EA8E75CD468EED70C7A9D25251FB4FFF00738D69ABDB9FDEE315D80EB5C36C78FDA7C5FC4D0000E7F6B52FB462753954BEB2D7EA02D961A49FBCF91AAE1B22A3CFBBEE66BFACB653E91E4750274672D36155CBA9D67F625F03347F063F0036728E6DB7737EE47ECFABEE2E6DE2B8E54A5D7B2EA748A518A8C56120385FC6FA9671C4F41C3539DF5BFF0031DC01513072BA6F0E11CE71993EC066A5E65B2B5FD9CFBBEA7A3A1CE949530F81B934936DF040664D24DC9E12EA79ADCCA75B6F1EF7BB13B2CDB2DD24D457D94FA92CE3A9AD76E2075C80C013A71092C70E052904E1D4CD92DB0E1C5B3525939CFDEBA30E8B8B01186DB1C9B797D4D97EF00275C1CF842EC7DD9743AF4316FF000DF7E8FB145B65B2B93F438C5351AAB78FC4CD5EFF00D1B39E66A1179DF35C7184BB01D080841A0428000140E73FE347E0CE8739FF001A3FEC81B313CC65BE3C7BA364039798BEE6E7E983329D9BE2DC547A6799D7A892CC40908C5714F74BABEA6A493E689852E380F72E5C7E204E30F58FF636B0D7031BD72970657EE7BD15C3A81A044D3592810C4BDD9A9FCCD802EE8E339433BBD17F733849E708D730065ACAE46C806333874DD11E6AFC13F91D0018F373CAB9BFD066C9724A0BD78B37D0A0661051E3CE4F9B7CC96477478735C8D8033096F8E7AF53461C1EEDD1C67FB977CBEF425FA01B3CDB9A56A8AC66476DD29725B7E3CCCC6AC58DE78672901B8476C144B9290049662FE073AA4A3A7CB7C8EA708D72DCE325EE6EDDF10374C6496E9FDA973F43A1001CF5316E0A49FD8793A45EE8A97741A4D34FA9CE12956B6384A58FB2D01B9CDC52496652FB28461B60E39CB7CDF764841E77CF8CDFEC6C0E55C9C21B650936B960D6D94DE6CE4B9457FD71360088E32C3D62EFB4EC70FF00F2F97403BB2900131EF1A224520899CED7B6EAE59E7C0E9D496477C71D7A144C36CB87DCC6F943DDB163B4BA0F36B5CE688349BEA4B64BCA96EE41DBB9660B87E2970462107396F9BCAE9C00C5B9943324DB8BE08F4744CCDB87097C0B571AE2FD00AC149D0014000080A29CE7FC483F89D0E76F383ED20360060611513F42A209F61FA3344E67CEAB4744B41A0B1D7EF5D7A84DE5F15B9947D1238E3ECBC1CDE9344EDD453A5AE755F447729A936B97AB38D3AE764AB83AE719CD6536B09F0E8075DD2AA5EF2F75F54758C949662F27CBB74B4C7C1F4B7A862DB2C7193CBE2B2FFE47B9786E8FE98950E9FAA546FDBB9F3CFC4A8EFC89C4F3AD3D165345DA1DFA78DD6797359CF0EFF131ACD3787C2BD4D55669BA94B8CA7FC4EB8C67881EC4B89A39CFC3FC3FDB7D9214CEBB766F538CDF0FDCF3F85E92AD73BEED6454E5B94134DAE297A107B01F36BC7BBA495DE454A765729359CE3FF93AD9A0AA3E330D2D59AEA9D7EFE1F16BFE9228F710F1D9469969EED4787C674D94CF63CCB2A5C71D4EDF47E8BDABD936D9ED3E5F99E76E7CC0EE0F0D34E9E7A6A751AF8CEEB2FB3CB8E1E36F1C743BD30746A6FD36E72AEADBB1BE6935C883B80028320002229101A000400230AA085018290A00000085200383FF00B5ACFE1E077384DEDD556DF55803B0236B1C781956C7EEE65F0406CA63749FF2DFEAC7D63FC31FDC0D7DE29CF64BAD92FD10F2A3F7B32F8B02CA708FDA68CE5B5EE412E3CE46D4631E5148A061438EE9BDCFF646B25260037C3919AB0AB5C4D61F53308FBA06CCBCE4D2E1C03209D00C0CF70007EA0019B566B7E9C4D3274C004F314CA6297F56BD0D9463A0450414F251FE17E15FF12BFF00133D67820F551D2E969F65CFB3DBE667CC5EF716F1FB951ECA7FC63C4BFDDFFE48F1E9B36CB4D29EAE3375C310AF0935C391E8B753A89C6DF2B430AACB638959E626F91E6AA99ABF4CFD9153E545A9C9493DEF1CCA3BD53D3C3C0B48F5554AD8BB1E1278C3CC8F6F0FFEE0B33CBD97FF0051F2271D4CB41468FD9B0EA939EEDEB8F3E9FA9EAF69D57D212D57B173ABCBDBE6AEF9CE40E37DB17A4D3E9BC3A36C92B14A3392C665C791BD6571F10D1DB7B82AF57A7E16C7B8A28B23A4A526A17552DF1CF159CBE66F517EA6EA2E857A28532B57BF2534DC80FA165D5BF14F67F2F6DD3A72AE4F8AF43C7A0A6DA34142AA0E6DEA7336BF0A786FF62CF5DA87679B1F0D82BB1853762783CB6D9E232D3D15D55CEA7567738DABDF605D7C14751AC8B8C7DDB2138BC71F7B19FEC7B27FFEE7AFFDD7FCCF0EA5EA3577D96F90EBCC22B67989E5A927FD8DD93D5D9E231D646855CA11C28B9A9297A7EE06B4FF00E1BE21FF0011FF00A91EBFFF00B33FF70796E9DDA9AA542D3C3495D92DD39292936FF43A7B5EAF39F63ABCFC6CF3F72E5DF1CC0F2E82AAA15FB76A16DAE993DAB2DEF964F468E6AE76DEE719596B52928BCED5D1339D13BABD157A6BBC395D1836F32B173CBFF99AD25728EA2FB1E9D5109EDDB0524D2C01EB00845504000A42806320803A9400000028E042811BEC164A3800E25249A8ACB692473C3B78BCC63D175605958B2D453935CF070B77F9B5CA4D478E381DD28A7B570F81CB53FC34FB480EBE5439C96EFF006B895705C11798028222810A0011F6293A9408014088A4080000080A1A20981F12F12000F3C369994A11E3B92FD4CF9CA5F621297EC8055C2538F6659B696773F4491CDBB1DFD2B525F16758C1478F16DF36D94620F9A6F8A66B24CA5D513CD82E724456CF9F0AE51D168F55E7DCE56DDB65173F77197FF23D7E7C3A3CFC11E7FF00F84F0EEBF5FF00FAA4547A34DA45ADD46A252D45D08C24A3155CF0B38E272D069E9D4CE74D9AAD52BE1BB728CF8613C763B686C70D1D36C22FEBF5797E8B913470F2FF00FA8B591EF5B7F3DACA8F14355A6AB58DC3516CE970E7636DEEC9EB696A2EBA33BA74D3A78A94DC39B6CF0E9A9D45BE1AEA8469F2EC96EDD2CEEFFAE077969AEBB572A6BB65195C93B12FB2A2B86581DDE9AC76515E9B533953A94DEF9F194708CDB5428A2CD4E975375CA996DB216BCA7F03B517D7678AE9AAA3F81442508BEEF1C7FF0023CF1FF08F13FF007CFF00BA03BEA27647CB55382959351CCF92E679F53A5BB4BAAD25556A6C9CEE586E52CC53EE91AD5D119E9A6E7294B6A72597D706B58A6F51E14AB694B6AC3F9016CD1D71F3BD9F5774F51A75BA4A6F2996BD2C2D54ABF597C351A88EE8460F115C0EF73A5BF115A54D6A367D637C9F0E878FC29D2B595AB6ABA36B5F52ECCE170E202BADCEBBAED6EA6CAE144FCA7E5706DF7FEC67515C349ACF2B53ACD4792EBDD5CA32E3CFA99A28B353A8BA8B6C9C6B85B29EA1E710E7D3FEBA1BD65BED3E7EAA31CD7B3CAA97759C67E606AFD3C551A7B749ABD4B775AA11F32595F1C1ABB4918D5A9F67D6DF2BB4F1CCD49F0E467C49C29BF47A46A725557F661CDC9F0FFC869B6BF0BD646A8CE1A955FD77989F1E7CBF700EAD353A5D3D9AAD66AE32B61B928CF2BFB19F0FD445C2CDD64E4B7BDAE5C5E0F4E9B57194F43A57A7CA955B5CAC8633C3A7A18D2C763BEA5C235DD28C5764074F3EBFF37F4B1E72FC167F49D0115CFCD7D2A997CD97E54CD8031E6FFAB98F31F4AE46CA07176CBF2646BCD7F9533A0039F996259F25BF4DC3CD9FE4CBE6742019F3659C7952279B67E44BE68E8503979967E44BFA90F326B3F532E1EBCCEA3881E795929D897933C478B5EA6DDEE3CEA98AB3E658B39E3CCE984D3038F9ADACAA6673BA7274BFAB9717D4F4C7ECF2317FF0F1DD813CDDA96EAE6932C6F8BFBB3FE9373C702F24073F3E38FE1D8F1FE50AF8F0CC27C7FCA7523786073F688AE709FF0048F68AFB4FFA4EA4607357C738DB3E7CF687A882E93FE93A0039FB4432D6D9FF004B1E7ACE3CBB3FA4E8503979FF00EA6CF90F367D2897CCEC40397996BE54FCE4375F8FE1C3FA8EA00E5FE90F3FC38FCD936DEFED5D15FECC4EA00E5E549F3BA7FD89E447AB93F8C8EC40311AAB8F28236001894374A2FB1AE652600E5E5C3F085543AC51B41A20A92E88F1D16D0FC3A9D2EAB49AA9BADB97B90F57EBEA7AE278A32D4AD2E9752F51BA375BB1C362E1C5F5FD0A8DDBAFBA9A69A7C3E9BEB841BCA9D7CF8FEBEA6D6B52F159EABD9753B2556CC797C7392D50BB555C6FF6A8E9ABB25B6B8CA2A4E44D3E9F5B76A35154B52AB9D3B561569A965147CC8E9E3EC538CB4D7FB46EF765B5EDC7FD64FA755D1D3EA758ADA2F9C6E518A9551E98E3C4E0BDB7D9A8BA37E656D9E5F96E0961E7BFE87A6CA353442CB16B217CA95BACAB6A585F103CF0955A7D653768B49A84A2A5BD58B9AC74FDCD6AAF8CF47751A4D1DF0F365BE6E6BD7A1E886A299E142D8B6F92CF133542ED4D51BDEAA1A6858F6D7171527203C6AAAD5D73D3517575BA2492B1716CEB75D65D768A54D16C654478F991C278C75FD0ED1AF556596D365B0A150B365D8CA7DB817EB74F7575DB62BE17272AEC8AC72013D5425E77B3E92F85FA85B6529AC4570E62BD5C2B54BBF477CEFD3C76C250598BE048AB351E658B511D35154B6394927BA43C9D67B4FB1F990CEDDFE7E3EEFC3B81CE8D44569F5156AF4BA96EEB5CE5E5C7874E19FD0F33AE986BE9B69D2EA9510C3945C72DB4FF00F83D962D450AB957743575DD2D90925B712FD0B769F555556CA1AEAEDB2A8E675EC4B1C39818979BA8BACD5C6328CD5B19C61358CA8AE0BF73766A616C2F5A7D1DD0BB52B6CE53588A269EB96A1C230F158799359D8AA4D9886E73B236F8A42A9426E18752E38EA075AF550A952EFD1DF3BF4F1DB0941662F81AD3C27184A562C4EC9B9C96793671D43BB43A89C2CD42BB14EF5EE638E70B916FAF5BA55A772B95B3B9EDF2DC14526D7703B5B98C94D714B9A3A27959385BA7D4535D962D5D77BA566DAB6A585F13544B2B09E62D6E4FD08AEC08502820000A0001919EE00A42802900189A717BA31CB2F989F4C3ECCD7C4CCE119734023C1186F758B1F6573F88F2E3EB8ED9349638258480BC370C712F5C940004E6008F9893508B93E823CB32E6C07305E60014850009CCA0000040000000021401083018100E00060F1AFF0005F0DFF88FFD523DA7829BF43678569F4F7EA6554EB9397BB1794F2FD3D423A4FF00C2FC2BFDEAFEE7BD5AA8D6F8858F94554DFC30782BD5787CB4F5536DF351D3D9BA12DAFDE5F239DBE214D8BC45CA4E0EE8C557169F1C228FA3AAA9532D1C5727AADCBF5CB3CB753395BE27655A85069353AF66772DBDFA7539DDE275D9A5D0ED939DD54E2E7049E5E160D5FACD0AAF57669ECB2CBB530C38B8BF77801C34D073B34B6434CAA8D70C4A6A49EF78E67AF4B5D56F8668BDAE7E56DB3EAF1F7B89E1D34AB8DFA58D3A8B27BA0FCC83CE22F6F23D30B74AB4D469F5D3955669A5B96D8E54901E8BE53957E2DB961A492F86D394DE34FE159FC12FFC247AFA6CB755ED0A7569F5314A13C71E08E3A9D4E96D9E92985D6434F4C5A7724D3E5FF5F30377FF00816A7FE25FF73E93FF00B6BFF84FFCCF93A6D4E925A3BB4BA9B6C8D6ED72859B5BDDFF00BFFCCF57D235FB67B46C9FB23ABCAF331EBCF1DBA01341FE15A1FF00895FDD9BD4D5A7BECF1055AB21A884774A4A4D2970E58383D4530A68A341BEF8D1679B26D638763A4B59A36F533D2CE766A3551DBB36F278039785A842E9EA76A4A8D32CF0E726B3FD8E74D11B5E8A1282765B3F32524B9AE6FF00B98D36A2AFA325A656BF3EFB2317C1F08F047A61ABD3E9BC4272B24E2AAAB6C238E0DBE3C31E980270D6F8F5AE4A3E552F749BE8A3FF00B9D7C47511BA8D16A27375C5CE52528F35D8F3E821ABD3A95B4BA67E74537E667E3D3E275B3C5A3751A58D708CED5252B2118B58C71E00674B28CBC33597D76BB751657F5AA5C36F3374E230D3B8E70E097EC27AAD135AA7A59CECBF571DBB36E31C038F950A21CF6E239FD00F4820CE165F24455048BDD152C7328004CB28149803E205C6500001499280204FA00274E244F269FA936F1E000AB0D90B1E405042819B16E8E3B97A00F9000445024EB8CD71E6B93EC484DFD99E14BBF7364714F9AC8141CB12A9FBBEF47B3E86E3252E4068321408000042800400011948064A40414E352D5EAE2EDD346A8D59C45DADE65F03A9E69F0F0CF0BFF7CBFB96237096AEEB254D754216D7FC4958FDD5F02EEBA9BD53AA8C54A6B309438C59E8B23E76A7C474EDEC8CA116EC7C97BBD4F36B60E0F41A78DF0AD42126AF9636BE051A9CEC9DD1A34F18CAE6B77BDCA31EECE5A87AED3BAE338D12F364A319C5B71C9D7409C75BA8CEA21A87ECFF006EBC6171E5C0E7A6C7D0FA1726925AA8BCBE9C581ABEAD769EBB2D9CF49EEACB8A72C87A950D22BA58E3052635DA6D1EB5EB6CAE5377D51DCDE7DD7C3A7C8F15F5B8F87EEF6FA66B6C7EAA38DDD387E807B634F88795E6F97461ADDE5E5EFC18A21ACD6A57D31AA15F28F9ADF1F91D34B7CE5A8BFC4B50E0ABAEB705B3949FA64E763CF86F85BEF727FB8160F5575B2D3D754236D7FC5737EEA23F6BD35AB4F3AE33B2DFE1383F75975F6DB1D7EB28A63093D428430F9BE1D0D6A6D7A5B74B5D7284A5A3ADBB1CB3B72D63005B7DAF4B156EAA354A9CE24EA6F31F895CAEBAF953A58C1CA0B3394F8451CA509D7E172AEC58BF5B66E50FC2BB9D17FD9BC57FD98FFE103163D7D7AAAB4CE346FB32E33CBDAC6ADEB7494CAC9CB4B25178DB1726CEF538AFA22529249425C5BFF29E3D6E9749768F51ABD3B9EFAECF79BE52CBFF00DC0F44A5A9B35AB4FA7F2B3E5EFCCF3DFD0C6A25ADD3BAD4A5A597993505B1B7C47873D355E2564AB859455E43E16F079CA31EC9A48AD16AF4AE6A12BE3196F7D33CFF00603B5F5EBB4F54E739E93DC59714E59239BB34F4D92E0DED7C3D46BB4DA3D6BD6D95CA6EFAA3B9BCFBAF874F91CD62CD2A92588A4B6C73C9600F5E57468C5CF2A30EB27FB071AF6EE94524738427193B22B9F28BE69115E8E80C42C52787EECBB33605041902A290014192817A0E409C00A42900CCE5B671E3C1F03462E4DC32B9C5E4D26A4B2B9302AE79346401A23182750293390000E011407101F222034625179DD1787FB33447CC0919B7C1AE25C91C7286EDBC25FF00C81A06773E8BE638BE72F9700340CED4B8B7CBBB32B2F8C6385DDFFC80D831B65F8FF61BA51FB4B72F4036422945F5E650320811053851E45BA2D3537EA21459A6B3328CDF3E3D0EE62555763CCEB849F792C9447ABA35366B6B958AA85E92AEC9708BC2C3316F9363D269AA9C7511A22F7C9715CB81D6554271509422E2B926B821084611C42318AED15808E744AAD26B9EF51AAAB6AD9B92C252C98B67A7D368F4DA68DB1D4AAEDF32CD8B72DBD7FB9DE69496D945493E8D188D70AF3B211877DA804A5A4D357AC9D1A8AA7ED31DB0AAB5C53C76FD4F2EAA8855E1EFEAEB5646314E4A2BD0F5469AE2F746B845AEAA28DCA3192C492927D1A033ACAA8BD530A7C474F5554A5B63B93E3DF99CB4B3D3EA741A484F535D33D3CF73537CF89BF66A3F26BFE945F229784E9AF872F75145A353A6BBC475BA88DF5D72DB185539BC2E5C5FEC79AAA6AA75DA78DBADA6FAA5395927B961492EACF43A296F8D55BFFBA87B351F915FF4A03878866365BACAFC4299CF9461169BDB9E47784EB53D669EF9AA56A22B64E5CB96187A5A1AC7935AFF00BA8D251B23B2C8C6587CA4B2073B6FD2C2DD153270BE9A22E364F6EE8ACAC239EAA5A6D27866A28AB515DB2BACDD150E8B2BFE47AA35D718384611517CD25C199F67A16714D7C79FBA80F2D4E887893AF577D3A88CEAC2B36A718BCFFF00274B67A7D3E8F4BA68DB0D4AAEDF32CD8B72DBC73FDCEAB4F4ACE29AF8F3F751A8575D79D908C33CF6AC01894B49A6AF593A2FAA6F531DB5D55AE29E3B7EA48D1B68506F8A8252C75C1B8D1542598D708B5D5452364562A5BA1194F8CB1D7A1BE4629FB18ECCE806670535EF231EFD4D71728F5F43A8E8048C94A39468E4E0D665078F4EE6A1353E0F9F603633C41259DBEEE33EA05C94C453C7BD2CFE86B2051804CE00A1B249A5C5BE04DD26BDD8FEAD81AEA72AFDC9BAFA7346B74FA28989B9AC4B6AE0FA303B05C8C6F7F8196138CB93036886672DB1CAE2CD6400190002609902E464C79B14F124E3D9B37C0001943981252E8B99971EADBDDDCB1EAFD4D6409179E7D0A65F09A7DF814093F7A518BE5CFE268E737B6519F45CCE80400640E3852BA49AC65703A464F389735FB99B5E36CFB3E22DFB3B9738F103FFD9");
    //var base64 = System.Convert.ToBase64String(plainTextBytes);
    //var imgsrc = string.Format("data:image/jpeg;base64,{0}", base64);
    //<img src="imgsrc" style="max-width:100%;max-height:100%" />
    <div hidden="hidden">
        @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage", @id = "asdf" })
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm-1">
                <span class="backk">
                    <a href="@Url.Action("Index", "DumpYard")" id="btnBack" class="btn"><span class="glyphicon glyphicon-circle-arrow-left"></span>  Back</a>
                </span>
            </div>

            <div class="col-sm-10">
                <h1 class="add-edit-h1 title_change"></h1>
            </div>
            <div class="panel panel-warning col-sm-12 ">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @*@Html.Label("नाव / Name")*@
                    @Html.Label("Name")
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.dyName, new { @class = "form-control", style = "font-family:Arial, FontAwesome" })
                    @Html.ValidationMessageFor(model => model.dyName, "", new { @class = "text-danger" })
                    <span class="text-danger" id="err_name"></span>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>
            <div class="col-md-6">
                @*<div class="form-group">
                        @Html.Label("नाव मराठी / Name Marathi")
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(model => model.dyNameMar, new { @class = "form-control", style = "font-family:Arial, FontAwesome" })
                        @Html.ValidationMessageFor(model => model.dyNameMar, "", new { @class = "text-danger" })
                        <span class="text-danger" id="err_name_mar"></span>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span class="help-block with-errors"></span>
                    </div>*@

                <div class="form-group">
                    @*@Html.Label("पत्ता / Address")*@
                    @Html.Label("Address")
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.dyAddress, new { @class = "form-control", style = "font-family:Arial, FontAwesome" })
                    @Html.ValidationMessageFor(model => model.dyAddress, "", new { @class = "text-danger" })
                    <span class="text-danger" id="err_address"></span>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @*@Html.Label("झोन / Zone")*@
                    @Html.Label("Zone")
                    @Html.DropDownListFor(model => model.ZoneId, Model.ZoneList, new { style = "font-family:Arial, FontAwesome", @class = "form-control RequiredInput validate[required] RequiredInput" })
                    <span class="text-danger" id="err_zone"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @*@Html.Label("वार्ड क्रमांक / Ward No")*@
                    @Html.Label("Ward / Prabhag")
                    @Html.DropDownListFor(model => model.WardNo, Model.WardList, new { style = "font-family:Arial, FontAwesome", @class = "form-control RequiredInput validate[required] RequiredInput" })
                    @Html.ValidationMessageFor(model => model.WardNo, "", new { @class = "text-danger" })
                    <span class="text-danger" id="err_ward"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Area")
                    @Html.DropDownListFor(model => model.areaId, Model.AreaList, new { style = "font-family:Arial, FontAwesome", @class = "form-control RequiredInput validate[required] RequiredInput" })
                    @Html.ValidationMessageFor(model => model.areaId, "", new { @class = "text-danger" })
                    <span class="text-danger" id="err_area"></span>
                    <span class="help-block with-errors"></span>
                </div>
            </div>
            <div class="col-md-4">
                @*<label for="Select_Image">स्कॅनिफाय कोड  / Scaniffy Code </label>*@
                <div class="form-group textarea">
                    @Html.Label("Scaniffy Code")
                    <div style="width: auto;padding: 6px;margin: 0px 10px;height: auto;">
                        <div id="FileUpload_Preview">
                            <a href="JavaScript:Void(0);" data-lightbox="example-1"><img src="@Model.dyQRCode" class="add-image" style="width:120px;height:auto;padding:2px;overflow:hidden" /></a>

                            @*<a href="~/Images/add_image_square.png" data-lightbox="example-1"><img src="~/Images/add_image_square.png" class="add-image" style="width:auto;height:100%;padding:2px;overflow:hidden"></a>*@
                            <input class="btn-link" type="button" id="Download1" value="Download" style="display:none;margin:0px 0px 0px 20px;text-decoration: underline;" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="form-group" style="margin-top:-25px;">

                        <input class="btn" type="button" id="QRCOdeGenrate" value="Generate Scaniffy Code" />

                        @*<a href="" id="QRCOdeGenrate"  style="display:none; width:150px"class="btn"><span class="glyphicon glyphicon-qrcodet"></span>Generate QR  </a>*@
                        <div class="progress" id="prog_bar" style="margin-top:10px;width: 54%;background-color:#dd8680; display:none;">
                            <div id="myBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="background-color:#349B98;width:50%">
                                50%
                            </div>
                        </div>


                        <span class="text-danger" id="err_img"></span>
                    </div>
                </div>


            </div>
        </div>


        <div class="row">



            <input type="text" value="@Model.ReferanceId" id="n" style="display:none" />
            @Html.HiddenFor(c => c.ReferanceId)

            @Html.HiddenFor(model => model.dyLong, new { @class = "form-control", required = "required" })

            @Html.HiddenFor(model => model.dyLat, new { @class = "form-control", required = "required" })
        </div>

        <br /><br />
        <center><span class="text-danger" id="err_generate"></span></center>
        <div class="row">

            <div class="form-group1">
                <button type="submit" name="submit" class="btn" id="btnSubmit" onclick="return Validate()">

                    <span class="glyphicon glyphicon-saved"></span>
                    <span id="buttonName">Save</span>
                </button><br /><br>
            </div>
        </div>


    </div>

}

<script type="text/javascript">
    $(document).ready(function () {
        $('form').each(function () { this.reset() });


        $('#ZoneId').change(function () {
            var selectedText = $(this).find("option:selected").text();
            var selectedValue = $(this).val();

            $.ajax({
                type: "post",
                url: "/DumpYard/LoadWardNoList?",
                data: { ZoneId: $('#ZoneId').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var ward;
                    for (var i = 0; i < data.length; i++) {
                        ward = ward + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }

                    $('#WardNo').html(ward);

                    $('#areaId').find('option').remove().end().append('<option value="0">--Select Area--</option>');
                }
            });

        });

        $('#WardNo').change(function () {
            var selectedText = $(this).find("option:selected").text();
            var selectedValue = $(this).val();

            $.ajax({
                type: "post",
                url: "/DumpYard/LoadAreaList?",
                data: { WardNo: $('#WardNo').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var area;
                    for (var i = 0; i < data.length; i++) {
                        area = area + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    $('#areaId').html(area);
                }
            });

        });





        var id = $('#dyId').val();

        if (id > 0) {
            $('#Download1').show();
            //by nazim
            //$("#dyName").change(function () {
            //    //alert("Sdsadsa");
            //    //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";
            //    $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
            //    $("input #filesUpload").attr("src", "/Images/QRcode.png");
            //    $('#Download1').hide();
            //    return false;
            //});

            $('#buttonName').text("Save Changes");
            //$('.title_change').text("डंप यार्ड तपशील सादर बदला / Edit Dump Yard Details");
            $('.title_change').text("Edit Dump Yard Details");


            if ($("#asdf").text() == "mangalwedhawaste@ulb.com!") {

                if ($("#dyName").val() != "") {
                    document.getElementById("dyName").readOnly = true;
                }
                else {
                    document.getElementById("dyName").readOnly = false;
                }
            }

        } else {
            $('#buttonName').text("Save");
            //$('.title_change').text("डंप यार्ड तपशील सादर करा / Add  Dump Yard Details");
            $('.title_change').text("Add  Dump Yard Details");
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "post",
            url: "/HouseMaster/ZoneList",
            data: { stateId: $('#ddlState').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var district;
                for (var i = 0; i < data.length; i++) {
                    district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                //district = district + '</select>';
                $('#selectzone').html(district);


            }
        });

        $.ajax({
            type: "post",
            url: "/HouseMaster/WardList",
            data: { stateId: $('#ddlState').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var district;
                for (var i = 0; i < data.length; i++) {
                    district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                //district = district + '</select>';
                $('#selectward').html(district);
            }
        });


        $('#trash_badge').click(function () {
            $("#FileUpload_Preview").html("");
        });
        $('#filesUpload').change(function () {
            $("#FileUpload_Preview").html("");
            $("#FileUpload_Preview").show();
            $("#FileUpload_Preview").append("<img />");

            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {
                    //-----------------------------------
                    // Preview image
                    //-----------------------------------
                    $("#FileUpload_Preview img").attr("src", e.target.result);
                    $("#FileUpload_Preview img").attr("width", "auto");
                    $("#FileUpload_Preview img").attr("height", "100%");
                }
                reader.readAsDataURL($(this)[0].files[0]);
            }
        });
    });
</script>
<script type="text/javascript">
    $("#dyName").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (!(e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 44)) {
            //display error message
            //$("#err_phone").html("केवल अंक | Digits Only").show().delay(1500).show().fadeOut('slow');
            $("#err_name").html("Alphabates only").show().delay(1500).show().fadeOut('slow');
            return false;
        }
    });
    $("#btnSubmit").click(function () {

        var bool = validation();
        // this.disabled = true;
        if (bool == false) {
            return false;
        } else {
            //alert($("#FileUpload_Preview img").attr('src'));
            $("#dyName").change(function () {
                //alert("Sdsadsa");
                //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";
                $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
                $("input #filesUpload").attr("src", "/Images/QRcode.png");
                $('#Download1').hide();
                return false;
            });

            if ($("#FileUpload_Preview img").attr('src') == "/Images/QRcode.png") {
                //$("#err_generate").html("स्कॅनिफाय कोड व्युत्पन्न करा नंतर सेव करा / Generate Scaniffy code then save").delay(1500).show().fadeOut('slow');
                $("#err_generate").html("Generate Scaniffy code then save").delay(1500).show().fadeOut('slow');
                return false;
            }

            return true;
        }
    });
    function validation() {



        //if ($.trim($("#dyName").val()) == '') {
        //    $("#err_name").html("नाव आवश्यक आहे / Name is Required").delay(1500).show().fadeOut('slow');
        //    $('#dyName').focus();
        //    return false;
        //}
        //if ($.trim($("#ZoneId").val()) == "-1" || $.trim($("#ZoneId").val()) == "0") {
        //    $("#err_zone").html("झोन आवश्यक आहे / Zone is Required").delay(1500).show().fadeOut('slow');
        //    $('#ZoneId').focus();
        //    return false;
        //}

        //if ($.trim($("#WardNo").val()) == "-1" || $.trim($("#WardNo").val()) == "0") {
        //    $("#err_ward").html("वार्ड आवश्यक आहे / Ward is Required").delay(1500).show().fadeOut('slow');
        //    $('#WardNo').focus();
        //    return false;
        //}

        //if ($.trim($("#areaId").val()) == "-1" || $.trim($("#areaId").val()) == "0") {
        //    $("#err_area").html("क्षेत्र आवश्यक आहे / Area is Required").delay(1500).show().fadeOut('slow');
        //    $('#areaId').focus();
        //    return false;
        //}

        //if ($.trim($("#gpAddress").val()) == '') {
        //    $("#err_address").html("पत्ता आवश्यक आहे / Address is Required").delay(1500).show().fadeOut('slow');
        //    $('#gpAddress').focus();
        //    return false;
        //}


        return true;
    }

    $("#QRCOdeGenrate").click(function () {

        var bool = validation();

        if (bool == true) {
            //$("#err_generate").html("स्कॅनिफाय कोड व्युत्पन्न करा नंतर सेव करा / Generate Scaniffy code then save").delay(1).show().fadeOut('slow');
            $("#err_generate").html("Generate Scaniffy code then save").delay(1).show().fadeOut('slow');
            $('#prog_bar').css("display", "block");
            $("#prog_bar").delay(3000).show().fadeOut('slow');

            //genrate QRCode image
            var a = $('#n').val();
            if (a != null && a != "") {
                var src_qr = 'https://api.qrserver.com/v1/create-qr-code/?data=' + a
                $("#FileUpload_Preview img").attr("src", src_qr);
                $("input #filesUpload").attr("src", src_qr);

                // cpde end
                $('#btnSubmit').prop('disabled', false);
                //   $('#QRCOdeGenrate').css('display', 'none');
                $('#Download1').show();
                move();
            }
        }
        $("#dyName").change(function () {
            //alert("Sdsadsa");
            //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";
            $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
            $("input #filesUpload").attr("src", "/Images/QRcode.png");
            $('#Download1').hide();
            return false;
        });


    });


    function move() {
        var elem = document.getElementById("myBar");
        var width = 40;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
                elem.innerHTML = width * 1 + '%';
            }
        }
    }
    function disableSubmitButton() {

        document.getElementById("btnSubmit").disabled = true;

    };
</script>
<script>
    $(document).ready(function () {
        $('#Download1').click(function () {
            if ($.trim($("#dyName").val()) != '') {

                var name = $("#dyName").val();
                var Refid = $("#n").val();
                window.location.href = "/DumpYard/GenratePDF?name=" + name + "&ReferanceId=" + Refid;
            } else {
                var name = $("#dyName").val();
                var Refid = $("#n").val();
                window.location.href = "/DumpYard/GenratePDF?name=" + name + "&ReferanceId=" + Refid;
            }
        })
    });
</script>
@Scripts.Render("~/Scripts/ThemeScripts")
