

@{
    Layout = "";
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    @Styles.Render("~/Content/ThemeCss")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@RenderSection("styles", required: false)*@
    <link rel="shortcut icon" href="/Content/images/img/sba.png" />
    <link href="~/Content/css/alertify/alertify.core.css" rel="stylesheet" />
    <link href="~/Content/css/alertify/alertify.default.css" rel="stylesheet" />
    <script src="~/Content/DatatableGrid/AdminCount.js"></script>

</head>
<body>
    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>

                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="/Home/Index" class="navbar-brand">
                                <div class="brand-text brand-big"><span><img style="height:40px;width:50px;" src="~/Content/images/img/action_icon.svg" /> </span><strong> ICTSBM ULB Details</strong></div>
                                <div class="brand-text brand-small"><strong><img style="height:40px;width:50px;" src="~/Content/images/img/action_icon.svg" /> </strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <!-- Logout    -->
                        <li class="nav-item" style="list-style: none;"><a href="/Admin/login" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>
                        @*<li class="nav-item"><a href="/Account/login" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>*@
                       
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <ul class="list-unstyled">
                    <li>
                        <a href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse">

                            <i class="svg_gc" style=" fill: #000;"> </i>
                            @*कचरा संकलन*@ Waste Collection
                        </a>
                        <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
                            <li class="">
                                @Html.ActionLink("Aarmori Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "aarmoriwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Aheri Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "aheriwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Akluj Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "aklujwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Alandi Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "alandiwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Arvi Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "arviwaste@ulb.com", Type = "W" })
                            </li>
                            @*<li class="">
                    @Html.ActionLink("Big V Sale", "Login", new { area = "", controller = "Account", returnUrl = "Bigv@appynitty.com" })
                </li>*@
                            <li class="">
                                @Html.ActionLink("Bhamragad Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "bhamragadwaste@ulb.com", Type = "W" })
                            </li>
                            @*<li class="">
                    @Html.ActionLink("Gadchiroli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "gadchiroli@np.com" })
                </li>*@
                            <li class="">
                                @Html.ActionLink("Chamorshi Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "chamorshiwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Dahanu Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "dahanuwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Deoli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "demowaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Desaiganj Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "desaiganjwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Etapalli Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "etapalliwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Gadchiroli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "gadchiroliwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Hinganghat Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "hinganghatwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Hingna Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "hingnawaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Kalmeshwar-Brahmani Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "kalmeshwarbrahmaniwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Khapa Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "khapawaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Kuhi Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "kuhiwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Kurkheda Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "kurkhedawaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mahadula Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "mahadulawaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mohpa Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "mohpawaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mouda Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "moudawaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mulchera Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "mulcherawaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Nagpur Mahanagar Palika", "Login", new { area = "", controller = "Account", returnUrl = "nagpurwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Parseoni Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "parseoniwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Pulgaon Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "pulgaonwaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Sironcha Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "sironchawaste@ulb.com", Type = "W" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Wardha Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "wardhawaste@ulb.com", Type = "W" })
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#exampledropdownDropdown2" aria-expanded="false" data-toggle="collapse">

                            <i class="svg_gc" style=" fill: #000;"> </i>
                            @*कचरा संकलन*@Liquid  Waste Collection
                        </a>
                        <ul id="exampledropdownDropdown2" class="collapse list-unstyled ">
                            <li class="">
                                @Html.ActionLink("Aarmori Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "aarmoriliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Aheri Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "aheriliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Akluj Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "aklujliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Alandi Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "alandiliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Arvi Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "arviliquid@ulb.com", Type = "L" })
                            </li>
                            @*<li class="">
                    @Html.ActionLink("Big V Sale", "Login", new { area = "", controller = "Account", returnUrl = "Bigv@appynitty.com" })
                </li>*@
                            <li class="">
                                @Html.ActionLink("Bhamragad Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "bhamragadliquid@ulb.com", Type = "L" })
                            </li>
                            @*<li class="">
                    @Html.ActionLink("Gadchiroli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "gadchiroli@np.com" })
                </li>*@
                            <li class="">
                                @Html.ActionLink("Chamorshi Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "chamorshiliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Dahanu Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "dahanuliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Deoli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "demoliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Desaiganj Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "desaiganjliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Etapalli Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "etapalliliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Gadchiroli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "gadchiroliliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Hinganghat Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "hinganghatliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Hingna Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "hingnaliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Kalmeshwar-Brahmani Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "kalmeshwarbrahmaniliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Khapa Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "khapaliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Kuhi Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "kuhiliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Kurkheda Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "kurkhedaliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mahadula Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "mahadulaliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mohpa Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "mohpaliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mouda Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "moudaliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mulchera Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "mulcheraliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Nagpur Mahanagar Palika", "Login", new { area = "", controller = "Account", returnUrl = "nagpurliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Parseoni Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "parseoniliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Pulgaon Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "pulgaonliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Sironcha Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "sironchaliquid@ulb.com", Type = "L" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Wardha Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "wardhaliquid@ulb.com", Type = "L" })
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#exampledropdownDropdown3" aria-expanded="false" data-toggle="collapse">

                            <i class="svg_gc" style=" fill: #000;"> </i>
                            @*कचरा संकलन*@Street Waste Collection
                        </a>
                        <ul id="exampledropdownDropdown3" class="collapse list-unstyled ">
                            <li class="">
                                @Html.ActionLink("Aarmori Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "aarmoristreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Aheri Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "aheristreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Akluj Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "aklujstreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Alandi Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "alandistreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Arvi Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "arvistreet@ulb.com", Type = "S" })
                            </li>
                            @*<li class="">
                    @Html.ActionLink("Big V Sale", "Login", new { area = "", controller = "Account", returnUrl = "Bigv@appynitty.com" })
                </li>*@
                            <li class="">
                                @Html.ActionLink("Bhamragad Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "bhamragadstreet@ulb.com", Type = "S" })
                            </li>
                            @*<li class="">
                    @Html.ActionLink("Gadchiroli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "gadchiroli@np.com" })
                </li>*@
                            <li class="">
                                @Html.ActionLink("Chamorshi Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "chamorshistreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Dahanu Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "dahanustreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Deoli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "demostreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Desaiganj Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "desaiganjstreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Etapalli Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "etapallistreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Gadchiroli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "gadchirolistreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Hinganghat Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "hinganghatstreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Hingna Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "hingnastreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Kalmeshwar-Brahmani Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "kalmeshwarbrahmanistreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Khapa Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "khapastreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Kuhi Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "kuhistreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Kurkheda Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "kurkhedastreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mahadula Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "mahadulastreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mohpa Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "mohpastreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mouda Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "moudastreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Mulchera Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "mulcherastreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Nagpur Mahanagar Palika", "Login", new { area = "", controller = "Account", returnUrl = "nagpurstreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Parseoni Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "parseonistreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Pulgaon Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "pulgaonstreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Sironcha Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "sironchastreet@ulb.com", Type = "S" })
                            </li>
                            <li class="">
                                @Html.ActionLink("Wardha Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "wardhastreet@ulb.com", Type = "S" })
                            </li>

                        </ul>
                    </li>

                </ul>
                <!--<ul class="list-unstyled">-->
                @*<li class="">
            @Html.ActionLink("Badnapur Nagar Panchayat ", "Login", new { area = "", controller = "Account", returnUrl = "badnapur@appynitty.com" })
        </li>*@
                <!--<li class="">
        @Html.ActionLink("Aundha Nagnath Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "aundhanagnath@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Bhadravati Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "bhadravati@appynitty.com" })
    </li>
    <li class="">
        @Html.ActionLink("Bhokar Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "bhokar@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Dharmabad Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "dharmabad@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Jamkhed Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "jamkhed@np.com" })
    </li>-->
                @*<li class="">
            @Html.ActionLink("Big V Sale", "Login", new { area = "", controller = "Account", returnUrl = "Bigv@appynitty.com" })
        </li>*@
                <!--<li class="">
      @Html.ActionLink("Deoli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "namratas@appynitty.com" })
    </li>-->
                @*<li class="">
            @Html.ActionLink("Gadchiroli Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "gadchiroli@np.com" })
        </li>*@
                <!--<li class="">
        @Html.ActionLink("Kannad Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "kannad@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Korchi Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "korchi@appynitty.com" })
    </li>
    <li class="">
        @Html.ActionLink("Mahur Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "mahur@np.com" })
    </li>
     <li class="">
        @Html.ActionLink("Mangrulpir Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "mangrulpir@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Manmad Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "manmad@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Maregaon Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "maregaon@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Mukhed Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "mukhed@np.com" })
    </li>
     <li class="">
        @Html.ActionLink("Palam Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "palam@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Ralegaon Nagar Panchayat", "Login", new { area = "", controller = "Account", returnUrl = "ralegaon@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Sarni Nagar Palika Parishad", "Login", new { area = "", controller = "Account", returnUrl = "sarni@np.com" })
    </li>
     <li class="">
        @Html.ActionLink("Satana Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "satana@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Shevgaon Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "shevgoan@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Shrigonda Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "shrigonda@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Umarkhed Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "umarkhed@appynitty.com" })
    </li>
    <li class="">
        @Html.ActionLink("Umri Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "umri@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Wadi Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "wadi@appynitty.com" })
    </li>
    <li class="">
        @Html.ActionLink("Wani Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "wani@appynitty.com" })
    </li>
    <li class="">
        @Html.ActionLink("Warora Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "warora@np.com" })
    </li>
    <li class="">
        @Html.ActionLink("Yavatmal Nagar Parishad", "Login", new { area = "", controller = "Account", returnUrl = "yavatmal@np.com" })
    </li>-->
                @*<li class="">
            @Html.ActionLink("Badnapur Nagar Panchayat ", "Login", new { area = "", controller = "Account", returnUrl = "badnapur@appynitty.com" })
        </li>*@

                @*<li class=""><a style="cursor: pointer; color: rgb(108, 117, 125);" class="li-hover" onclick="Edit(1017)" id="1017">बिग व्ही सेल</a></li>*@



                <!--</ul>-->
                @*<span class="heading">Extras</span>*@

            </nav>
            <div class="content-inner">
                <iframe width="100%" height="600px" src="Index" frameborder="0">
                    <p>Your browser does not support iframes.</p>
                </iframe>
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Appynitty &copy; 2017-2019</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>@*Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a>*@</p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>


    @Scripts.Render("~/Scripts/ThemeScripts")
    <script>




        $(document).ready(function () {
            debugger;
            //if ($("#asdf").text() != "namratas@appynitty.com!") {
            //    $("#complaint_menu").css("display", "none")
            //    $("#report_menu").css("display", "none")
            //}


            $(document).on('click', '.nav', function (e) {
                if (!$(e.target).is('a')) {
                    $('.collapse').collapse('hide');
                }
            });

            var pathname = window.location.pathname;
            //alert(pathname);
            if (pathname == "/GarbageCollection/MenuHouseGarbageIndex" || pathname == "/GarbageCollection/MenuPointGarbageIndex" || pathname == "/Location/MenuIndex" || pathname == "/Location/MenuMapIndex" || pathname == "/HouseMaster/MenuIndex" || pathname == "/GarbagePoint/MenuIndex" || pathname == "/Employee/MenuIndex" || pathname == "/MainMaster/MenuStateIndex" || pathname == "/MainMaster/MenuTalukaIndex" || pathname == "/MainMaster/MenuDistrictIndex" || pathname == "/MainMaster/MenuZoneIndex" || pathname == "/MainMaster/MenuWardIndex" || pathname == "/MainMaster/MenuAreaIndex" || pathname == "/MainMaster/MenuVehicleIndex" || pathname == "/HouseMaster/ReportIndex" || pathname == "/GarbageCollection/MenuEntryDetails" || pathname == "/GarbageCollection/MenuIdealtime") {

                $('.collapse a').filter(function () {
                    {
                        return $(this).attr('href') == pathname
                    }
                }).addClass('active').closest('ul li a').parents().addClass('active show');
                if (!$(e.target).is('a')) {
                    $('.collapse').collapse('hide');
                }
            }
            else {
                $('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
            }



        });

        // Returns path only

        $('#toggle-btn').on('click', function (e) {
            e.preventDefault();
            $(this).toggleClass('active');

            $('.side-navbar').toggleClass('shrinked');
            $('.content-inner').toggleClass('active');
            $(document).trigger('sidebarChanged');

            if ($(window).outerWidth() > 1183) {
                if ($('#toggle-btn').hasClass('active')) {
                    $('.navbar-header .brand-small').hide();
                    $('.navbar-header .brand-big').show();
                } else {
                    $('.navbar-header .brand-small').show();
                    $('.navbar-header .brand-big').hide();
                }
            }

            if ($(window).outerWidth() < 1183) {
                $('.navbar-header .brand-small').show();
            }
        });

    </script>
    <script src="~/Content/theme-assets/js/icons_load.js"></script>
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
