@model SwachBharat.CMS.Bll.ViewModels.ChildModel.Model.HouseDetailsVM

@{
    //ViewBag.Title = "घर तपशील जोडा / Add House Details";
    ViewBag.Title = "Add House Details";
    Layout = "";
}
<link rel="shortcut icon" href="~/Content/images/img/sba.png" />
@Styles.Render("~/Content/ThemeCss")
@Styles.Render("~/Content/AddEditCSS")
@Scripts.Render("~/Scripts/AddEditScript")
@Scripts.Render("~/bundles/modernizr")
<style>
    .modal-dialog {
        left: 0% !important;
    }

    .glyphicon {
        position: relative;
        top: -1px;
        right: 5px;
    }
</style>
@*<title class="title_change"></title>*@
@using (Html.BeginForm("AddHouseDetails", "HouseMaster", FormMethod.Post, new { enctype = "multipart/form-data", data_toggle = "validator", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.houseId);

    
   

        <div class="container">
        @*<a onclick="location.reload();" style="color:#3ab59e;margin-right:7%;cursor:pointer" class="pull-right">Refresh</a>*@
        <div class="row">
            <div class="col-sm-1">
                <span class="backk">

                    <a href="@Url.Action("Index", "HouseMaster")" id="btnBack" class="btn"><span class="glyphicon glyphicon-circle-arrow-left"></span>  Back</a>

                </span>
            </div>
            <div class="col-sm-10">
                <h1 class="add-edit-h1 title_change" style=""></h1>
            </div>

        </div>
        <div class="row">


            <div class="panel panel-warning col-sm-12 ">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.Label("नाव / Name")*@
                            @Html.Label("Name")
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.houseOwner, new { @Id = "ownerName", @class = "form-control", style = "font-family:Arial, FontAwesome" })
                            @Html.ValidationMessageFor(model => model.houseOwner, "", new { @class = "text-danger" })
                            <span class="text-danger" id="err_name"></span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                                @Html.Label("नाव मराठी / Name Marathi")
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(model => model.houseOwnerMar, new { @class = "form-control", style = "font-family:Arial, FontAwesome" })
                                @Html.ValidationMessageFor(model => model.houseOwnerMar, "", new { @class = "text-danger" })
                                <span class="text-danger" id="err_name_mar"></span>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                <span class="help-block with-errors"></span>
                            </div>*@
                        <div class="form-group">
                            @*@Html.Label("मोबाइल नंबर / Mobile Number")*@
                            @Html.Label("Mobile Number")
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.houseMobile, new { @class = "form-control", style = "font-family:Arial, FontAwesome", minlength = "10", maxlength = "10" })
                            @Html.ValidationMessageFor(model => model.houseMobile, "", new { @class = "text-danger" })
                            <span class="text-danger" id="err_phone"></span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.Label("घर क्रमांक / House Number")*@
                            @Html.Label("House Number")
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.houseNumber, new { @class = "form-control", style = "font-family:Arial, FontAwesome" })
                            @Html.ValidationMessageFor(model => model.houseNumber, "", new { @class = "text-danger" })
                            <span class="text-danger" id="err_house_num"></span>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.Label("झोन / Zone")*@
                            @Html.Label("Zone")
                            @*<a class="pull-right add_popup_clear" style="color:#3ab59e;text-decoration:underline!important;cursor:pointer" onclick="PopZone()"> + Add Zone </a>*@
                            @Html.DropDownListFor(model => model.ZoneId, Model.ZoneList, new { style = "font-family:Arial, FontAwesome", required = "required", @class = "form-control RequiredInput validate[required] RequiredInput" })
                            <span class="text-danger" id="err_zone"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="form-group">
                            @*@Html.Label("वार्ड क्रमांक / Ward No")*@
                            @Html.Label("Ward / Prabhag")
                            @*<a class="pull-right add_popup_clear" style="color:#3ab59e;text-decoration:underline!important;cursor:pointer" onclick="PopWard()"> + Add Ward </a>*@

                            @Html.DropDownListFor(model => model.WardNo, Model.WardList, new { style = "font-family:Arial, FontAwesome", @class = "form-control RequiredInput validate[required] RequiredInput" })
                            @Html.ValidationMessageFor(model => model.WardNo, "", new { @class = "text-danger" })
                            <span class="text-danger" id="err_ward"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.Label("क्षेत्र / Area")*@
                            @Html.Label("Area")
                            @*<a class="pull-right add_popup_clear" style="color:#3ab59e;text-decoration:underline!important;cursor:pointer" onclick="PopArea()"> + Add Area </a>*@

                            @Html.DropDownListFor(model => model.AreaId, Model.AreaList, new { style = "font-family:Arial, FontAwesome", @class = "form-control RequiredInput validate[required] RequiredInput" })
                            @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                            <span class="text-danger" id="err_area"></span>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Property Type")
                            @{ var PlistItems = new List<SelectListItem>();

                                PlistItems.Add(new SelectListItem { Text = "Select Property Type", Value = "0" });
                                PlistItems.Add(new SelectListItem { Text = "Residential", Value = "Residential" });
                                PlistItems.Add(new SelectListItem { Text = "Commercial", Value = "Commercial" });
                                PlistItems.Add(new SelectListItem { Text = "Goverment Office", Value = "Goverment Office" });
                            }
                            @Html.DropDownListFor(model => model.Property_Type, PlistItems, new { style = "font-family:Arial, FontAwesome", required = "required", @class = "form-control RequiredInput validate[required] RequiredInput" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Ownership Type")
                            @{ var OlistItems = new List<SelectListItem>();


                                OlistItems.Add(new SelectListItem { Text = "Select Ownership Type", Value = "0" });
                                OlistItems.Add(new SelectListItem { Text = "Owner", Value = "Owner" });
                                OlistItems.Add(new SelectListItem { Text = "Rent", Value = "Rent" });
                            }
                            @Html.DropDownListFor(model => model.OccupancyStatus, OlistItems, new { style = "font-family:Arial, FontAwesome", required = "required", @class = "form-control RequiredInput validate[required] RequiredInput" })

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @*@Html.Label("रेफरेन्स आई डी / Reference Id")*@
                            @Html.Label("Reference Id")
                            <input type="text" value="@Model.ReferanceId" id="n" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-4">

                        <div class="form-group extra-height-for-textarea">
                            @Html.Label("Address")
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.TextAreaFor(model => model.houseAddress, new { @class = "form-control", style = "font-family:Arial, FontAwesome" })
                            @Html.ValidationMessageFor(model => model.houseAddress, "", new { @class = "text-danger" })
                            <span class="text-danger" id="err_address"></span>

                        </div>

                    </div>


                    <div class="col-md-4">
                        <div class="form-group" style="padding-left:15%">
                            @*<label for="Select_Image">क्यु आर  कोड  / QR-Code Image</label>*@
                            @*@Html.Label("स्कॅनिफाय कोड  / Scaniffy Code")*@
                            @Html.Label("Scaniffy Code")
                            <div class="form-group textarea">
                                <div style="width: auto;padding: 6px;margin: 0px 10px;height: auto;">
                                    <div id="FileUpload_Preview" style="display:inline-flex">
                                        <a href="JavaScript:Void(0);" data-lightbox="example-1"><img src="@Model.houseQRCode" class="add-image" style="width:120px;height:auto;padding:2px;overflow:hidden" /></a>
                                        <span>
                                            <input class="btn-link" type="button" id="Download1" value="Download" style="display:none;margin:20px 0px 0px 20px;text-decoration:underline;" /><br />
                                            <input class="btn-link" type="button" id="send_link" value="Send link" style="display:none;margin:7px 0px 0px 20px;text-decoration:underline;" />

                                        </span>
                                        @*<a href="~/Images/add_image_square.png" data-lightbox="example-1"><img src="~/Images/add_image_square.png" class="add-image" style="width:auto;height:100%;padding:2px;overflow:hidden"></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group" style="margin-top:-25px;">

                                    <input class="btn" type="button" id="QRCOdeGenrate" value="Generate Scaniffy Code" />

                                    <div class="progress" id="prog_bar" style="margin-top:10px;width: 57%;background-color:#dd8680; display:none;">
                                        <div id="myBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="background-color:#349B98;width:50%">
                                            50%
                                        </div>
                                    </div>


                                    <span class="text-danger" id="err_img"></span>
                                </div>
                            </div>
                        </div>



                    </div>


                    @Html.HiddenFor(c => c.ReferanceId)

                    @Html.HiddenFor(model => model.houseLong, new { @class = "form-control", required = "required" })

                    @Html.HiddenFor(model => model.houseLat, new { @class = "form-control", required = "required" })

                    <div class="col-md-4" style="padding-top:10%">
                        <center><span class="text-danger" id="err_generate"></span></center>
                        <div class="form-group1">
                            <button type="submit" name="submit" class="btn" id="btnSubmit" onclick="return Validate()">

                                <span class="glyphicon glyphicon-saved"></span>
                                <span id="buttonName" onclick="disableButton(this)">Save</span>
                            </button>
                        </div>

                    </div>
                </div>

                    <!--<center><span class="text-danger" id="err_generate"></span></center>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <div class="">
                                    <div class="form-group" style="margin-top:-25px;">

                                        <button type="submit" name="submit" class="btn" id="btnSubmit" onclick="return Validate()">

                                            <span class="glyphicon glyphicon-saved"></span>
                                            <span id="buttonName" onclick="disableButton(this)">Save</span>
                                        </button>


                                    </div>
                                </div>
                            </div>

                          

                        </div>-->
                        @*<div class="form-group1">
                            <button type="submit" name="submit" class="btn" id="btnSubmit" onclick="return Validate()">

                                <span class="glyphicon glyphicon-saved"></span>
                                <span id="buttonName" onclick="disableButton(this)">Save</span>
                            </button>
                        </div>*@
                    <!--</div>--><br /><br /><br />

            </div>
        </div>
    </div>


}

<div class="modal" id="zoneModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                @*<h4 class="modal-title">झोन सादर करा / Add Zone</h4>*@
                <h4 class="modal-title">Add Zone</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="searchResults">


                    <div class="form-group">
                        @*@Html.Label("झोन / Zone")*@
                        @Html.Label("Zone")
                        <input type="text" class="form-control" id="txtZName" required />
                        <span class="text-danger" id="err_zname_pop"></span>

                        <br /><br />
                        <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>
                        <input type="button" style="margin-right:5px" class="btn pull-right" id="btnZone" value="Save" />
                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>*@

        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                @*<h4 class="modal-title">क्षेत्र सादर करा / Add Area</h4>*@
                <h4 class="modal-title">Add Area</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="searchResults">


                    <div class="form-group">

                        @*@Html.Label("वार्ड निवडा / Select Ward")*@
                        @Html.Label("Select Ward")
                        <select id="selectward" class="form-control minimal-form  RequiredInput validate[required] RequiredInput"></select><span class="text-danger" id="err_pop_ward"></span><br /><br />
                        @*@Html.Label("नाव / Name")*@
                        @Html.Label("Name")
                        <input type="text" class="form-control" id="txtName" required />
                        <span class="text-danger" id="err_name_pop"></span>
                        <br /><br />
                        @*@Html.Label("नाव मराठी / Name Marathi")*@
                        @Html.Label("Name Marathi")
                        <input type="text" class="form-control" id="txtDesignation" required />
                        <span class="text-danger" id="err_name_mar_pop"></span>


                        <br /><br />
                        <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>
                        <input type="button" style="margin-right:5px" class="btn pull-right" id="btnPost" value="Save" />



                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>*@

        </div>
    </div>
</div>

<div class="modal" id="wardModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                @*<h4 class="modal-title">वार्ड सादर करा / Add Ward</h4>*@
                <h4 class="modal-title">Add Ward</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="searchResults">


                    <div class="form-group">
                        @*@Html.Label("झोन निवडा / Select Zone")*@
                        @Html.Label("Select Zone")
                        <select id="selectzone" class="form-control minimal-form  RequiredInput validate[required] RequiredInput"></select><span class="text-danger" id="err_pop_zone"></span>

                        <br /><br />

                        @*@Html.Label("वार्ड क्रमांक / Ward Number")*@
                        @Html.Label("Ward Number")
                        <input type="text" class="form-control" id="txtWard" />
                        <span class="text-danger" id="err_ward_pop"></span>
                        <br /><br />
                        <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>
                        <input type="button" style="margin-right:5px" class="btn pull-right" id="btnWard" value="Save" />
                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>*@

        </div>
    </div>
</div>

<div class="modal" id="sendlink_pop">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            @*<div class="modal-header">
                    <h4 class="modal-title">संदेश पाठवित आहे / Sending Message...</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>*@
            <!-- Modal body -->
            <div class="modal-body" style="padding:5px;">
                <div class="form-group" style="height:auto;margin:0px;">
                    <p id="send_msg" style="margin:0px;font-size:14px"></p>

                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" style="padding:0px 0px 8px 0px;border-top:none;justify-content:center;margin:0px;">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("ownerName").addEventListener("input", forceLower);

    // Event handling functions are automatically passed a reference to the
    // event that triggered them as the first argument (evt)
    function forceLower(evt) {
        // Get an array of all the words (in all lower case)
        var words = evt.target.value.toLowerCase().split(/\s+/g);

        // Loop through the array and replace the first letter with a cap
        var newWords = words.map(function (element) {
            // As long as we're not dealing with an empty array element, return the first letter
            // of the word, converted to upper case and add the rest of the letters from this word.
            // Return the final word to a new array
            return element !== "" ? element[0].toUpperCase() + element.substr(1, element.length) : "";
        });

        // Replace the original value with the updated array of capitalized words.
        evt.target.value = newWords.join(" ");
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        
        $('form').each(function () { this.reset() });


        $('#ZoneId').keyup(function () {
            var selectedText = $(this).find("option:selected").text();
            var selectedValue = $(this).val();

            $.ajax({
                type: "post",
                url: "/HouseMaster/LoadWardNoList?",
                data: { ZoneId: $('#ZoneId').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var ward;
                    for (var i = 0; i < data.length; i++) {
                        ward = ward + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }

                    $('#WardNo').html(ward);

                    $('#AreaId').find('option').remove().end().append('<option value="0">--Select Area--</option>');
                }
            });

        });

        $('#WardNo').keyup(function () {
            var selectedText = $(this).find("option:selected").text();
            var selectedValue = $(this).val();

            $.ajax({
                type: "post",
                url: "/HouseMaster/LoadAreaList?",
                data: { WardNo: $('#WardNo').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var area;
                    for (var i = 0; i < data.length; i++) {
                        area = area + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    $('#AreaId').html(area);
                }
            });

        });

        //$('#houseAddress').change(function () {
        //    var Addr = $("#houseAddress").val();
        //    numberOfLineBreaks = (Addr.match(/\n/g) || []).length;

        //    var regex = /<br\s*[\/]?>/gi;
        //    Addr = Addr.replace(regex, "\n");
        //    Addr = Addr.replace(/[^ -~]/g, '');
        //    Addr = Addr.replace('<br>', '');
        //    Addr = Addr.replace('</br>', '');
        //    Addr = Addr.replace('&nbsp;', '');
        //    Addr = Addr.replace('\"', '');
        //    Addr = Addr.replace('\r\n', '');
        //    Addr = Addr.replace('\n', '');
        //    Addr = Addr.replace('\r', '');
        //    Addr = Addr.replace(/^(\r\n)|(\n)/, '');
        //    numberOfLineBreaks = (Addr.match(/\n/g) || []).length;
        //    if ($.trim(Addr) != '') {
        //        $.ajax({
        //            url: "/HouseMaster/Address?location=" + Addr,
        //            method: "POST",
        //            datatype: "json",
        //            success: function (data) {
        //                // alert(data);
        //                var obj = jQuery.parseJSON(data);
        //                var lat = obj.CLIENT_LAT;
        //                var log = obj.CLIENT_LOG;
        //                //alert(obj.CLIENT_LAT + ' ' + obj.CLIENT_LOG);
        //                document.getElementById('houseLat').value = obj.houseLat;
        //                document.getElementById('houseLong').value = obj.houseLong;
        //            },
        //            error: function () {
        //                document.getElementById('houseAddress').value = "";
        //                swal('Please provide proper address with city.');
        //            }
        //        });
        //    } else {
        //        swal('Please type address to get latitude and longitude.');
        //    }

        //});

        var id = $('#houseId').val();
        if (id > 0) {
            $('#Download1').show();
            $('#send_link').show();
            // by nazim 02Jan2018
            //$("#houseOwner").change(function () {
            //    //alert("Sdsadsa");
            //    //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";


            //    $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
            //    $("input #filesUpload").attr("src", "/Images/QRcode.png");
            //    $('#Download1').hide();
            //    $('#send_link').hide();
            //    return false;
            //});

            //$("#houseNumber").change(function () {
            //    //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";
            //    $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
            //    $("input #filesUpload").attr("src", "/Images/QRcode.png");
            //    $('#Download1').hide();
            //    $('#send_link').hide();
            //    return false;
            //});
            $('#buttonName').text("Save Changes");
            //$('.title_change').text("घर तपशील सादर बदला / Edit House Details");
            $('.title_change').text("Edit House Details");
        } else {
            $('#buttonName').text("Save");
            //$('.title_change').text("घर तपशील सादर करा / Add House Details");
            $('.title_change').text("Add House Details");
        }
    });

</script>
<script>
    function PopZone(cel) {

        $('#zoneModal').modal('toggle');
        //window.location.href = "MainMaster/AddAreaDetails";
        //   $('#searchResults').load('/HouseMaster/AreaMaster');

    }
    function PopArea(cel) {

        $('#myModal').modal('toggle');
        //window.location.href = "MainMaster/AddAreaDetails";
        //   $('#searchResults').load('/HouseMaster/AreaMaster');

    }


    function PopWard(cel) {

        $('#wardModal').modal('toggle');
        //window.location.href = "MainMaster/AddAreaDetails";
        //   $('#searchResults').load('/HouseMaster/AreaMaster');

    }

</script>
<script type="text/javascript">


    $(document).ready(function () {
        $.ajax({
            type: "post",
            url: "/HouseMaster/ZoneList",
            data: { stateId: $('#ddlState').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var district;
                for (var i = 0; i < data.length; i++) {
                    district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                //district = district + '</select>';
                $('#selectzone').html(district);
            }
        });

        $.ajax({
            type: "post",
            url: "/HouseMaster/WardList",
            data: { stateId: $('#ddlState').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var district;
                for (var i = 0; i < data.length; i++) {
                    district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                //district = district + '</select>';
                $('#selectward').html(district);
            }
        });

        $('#trash_badge').click(function () {
            $("#FileUpload_Preview").html("");
        });
        $('#filesUpload').change(function () {
            $("#FileUpload_Preview").html("");
            $("#FileUpload_Preview").show();
            $("#FileUpload_Preview").append("<img />");

            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {
                    //-----------------------------------
                    // Preview image
                    //-----------------------------------
                    $("#FileUpload_Preview img").attr("src", e.target.result);
                    debugger
                    $("#FileUpload_Preview img").attr("width", "auto");
                    $("#FileUpload_Preview img").attr("height", "100%");
                }
                reader.readAsDataURL($(this)[0].files[0]);
            }
        });


    });




</script>
<script type="text/javascript">
    $(document).ready(function () {
        
        zone();
        ward();
        area();

        function zone() {

            var UserId = $('#ZoneId').val();
            $.ajax({
                type: "post",
                url: "/HouseMaster/ZoneList",
                data: { userId: UserId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var district;
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].Value == $('#ZoneId').val()) {
                            district = district + '<option value=' + data[i].Value + ' selected>' + data[i].Text + '</option>';
                        } else { district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>'; }

                    }
                    //district = district + '</select>';
                    $('#ZoneId').html(district);
                }
            });

        }

        function area() {

            var UserId = $('#AreaId').val();
            $.ajax({
                type: "post",
                url: "/HouseMaster/AreaList",
                data: { userId: UserId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var district;
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].Value == $('#AreaId').val()) {
                            district = district + '<option value=' + data[i].Value + ' selected>' + data[i].Text + '</option>';
                        } else { district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>'; }

                    }
                    //district = district + '</select>';
                    $('#AreaId').html(district);
                }
            });

        }

        function ward() {

            var UserId = $('#WardNo').val();
            $.ajax({
                type: "post",
                url: "/HouseMaster/WardList",
                data: { userId: UserId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var district;
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].Value == $('#WardNo').val()) {
                            district = district + '<option value=' + data[i].Value + ' selected>' + data[i].Text + '</option>';
                        } else { district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>'; }
                    }
                    //district = district + '</select>';
                    $('#WardNo').html(district);
                }
            });


        }
        //
        //var selectedText = $("#WardNo").find("option:selected").text();
        //var selectedValue = $("#WardNo").val();

        //$.ajax({
        //    type: "post",
        //    url: "/HouseMaster/LoadAreaList?",
        //    data: { WardNo: $('#WardNo').val() },
        //    datatype: "json",
        //    traditional: true,
        //    success: function (data) {
        //        var district;
        //        for (var i = 0; i < data.length; i++) {
        //           /* area = area + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';*/

        //            if (data[i].Value == $('#WardNo').val()) {
        //                district = district + '<option value=' + data[i].Value + ' selected>' + data[i].Text + '</option>';
        //            } else { district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>'; }
        //        }
        //        $('#AreaId').html(district);

        //    }
        //});

        $("#houseMobile").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 44) {
                //display error message
                //$("#err_phone").html("केवल अंक | Digits Only").show().delay(1500).show().fadeOut('slow');
                $("#err_phone").html("केवल अंक | Digits Only").show().delay(1500).show().fadeOut('slow');
                return false;
            }
        });
        $("#houseOwner").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (!(e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 44)) {
                //display error message
                //$("#err_phone").html("केवल अंक | Digits Only").show().delay(1500).show().fadeOut('slow');
                $("#err_name").html("Alphabates only").show().delay(1500).show().fadeOut('slow');
                return false;
            }
        });
        //alert("aa");
        //$("#QRCOdeGenrate").click(function () {
        //    //alert($("#n").val());
        //    //alert($("#ReferanceId").val());
        //    var a = $('#n').val();
        //    if (a != null && a != "") {
        //        var src_qr = 'https://api.qrserver.com/v1/create-qr-code/?data=' + a + '.jpg'
        //        $("#FileUpload_Preview img").attr("src", src_qr);
        //        $("input #filesUpload").attr("src", src_qr);

        //        //$("#map").prepend('<img  title="Map Image" src="https://api.qrserver.com/v1/create-qr-code/?data=' + a + '&size=150x150" style="width:180px; height:130px" />');
        //    }
        //});
    });

    $("#btnSubmit").click(function () {

        var bool = validation();

        if (bool == false) {
            return false;
        } else {
            //   alert($("#FileUpload_Preview img").attr('src'));
            $("#houseOwner").change(function () {
                //      alert("Sdsadsa");
                //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";
                $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
                $("input #filesUpload").attr("src", "/Images/QRcode.png");
                $('#Download1').hide();
                $('#send_link').hide();
                return false;
            });

            $("#houseNumber").change(function () {
                //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";
                $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
                $("input #filesUpload").attr("src", "/Images/QRcode.png");
                $('#Download1').hide();
                return false;
            });
            if ($("#FileUpload_Preview img").attr('src') == "/Images/QRcode.png") {
                //$("#err_generate").html("स्कॅनिफाय कोड व्युत्पन्न करा नंतर सेव करा / Generate Scaniffy code then save").delay(1500).show().fadeOut('slow');
                $("#err_generate").html("Generate Scaniffy code then save").delay(1500).show().fadeOut('slow');
                return false;
            }
            if ($(".add-image").attr("src") == "/Images/default_not_upload.png") {
                //$("#err_generate").html("स्कॅनिफाय कोड व्युत्पन्न करा नंतर सेव करा / Generate Scaniffy code then save").delay(1500).show().fadeOut('slow');
                $("#err_generate").html("Generate Scaniffy code then save").delay(1500).show().fadeOut('slow');
                return false;
            }
            return true;
        }
        //if ($('#QRCOdeGenrate').css('display') === 'none') {
        //    //alert($(".add-image").attr("src"));"Save Changes"
        //    if ($(".add-image").attr("src") == "/Images/QRcode.png" && $('#buttonName').text() == "Save") {
        //        $('#QRCOdeGenrate').css("display", "block");
        //        $("#err_generate").html("स्कॅनिफाय कोड व्युत्पन्न करा नंतर सेव करा / Generate Scaniffy code then save").show();
        //        $('#btnSubmit').prop('disabled', true);
        //        return false;
        //    }
        //    else if ($(".add-image").attr("src") == "/Images/default_not_upload.png"
        //        && $('#buttonName').text() == "Save Changes") {
        //        $('#QRCOdeGenrate').css("display", "block");
        //        $("#err_generate").html("स्कॅनिफाय कोड व्युत्पन्न करा नंतर सेव करा / Generate Scaniffy code then save").show();
        //        $('#btnSubmit').prop('disabled', true);
        //        return false;
        //    } else {

    });
    function validation() {

        //if ($.trim($("#houseOwner").val()) == '') {
        //    $("#err_name").html("नाव आवश्यक आहे / Name is Required").delay(1500).show().fadeOut('slow');
        //    $('#houseOwner').focus();
        //    return false;
        //}
        //if ($.trim($("#houseOwnerMar").val()) == '') {
        //    $("#err_name_mar").html("नाव मराठी आवश्यक आहे / Name Marathi is Required").delay(1500).show().fadeOut('slow');
        //    $('#houseOwnerMar').focus();
        //    return false;
        //}
        //if ($.trim($("#houseNumber").val()) == '') {
        //    $("#err_house_num").html("घर क्रमांक आवश्यक आहे / House number is Required").delay(1500).show().fadeOut('slow');
        //    $('#houseNumber').focus();
        //    return false;
        //}
        //if ($.trim($("#ZoneId").val()) == "-1" || $.trim($("#ZoneId").val()) == "0") {
        //    $("#err_zone").html("झोन आवश्यक आहे / Zone is Required").delay(1500).show().fadeOut('slow');
        //    $('#ZoneId').focus();
        //    return false;
        //}

        //if ($.trim($("#WardNo").val()) == "-1" || $.trim($("#WardNo").val()) == "0") {
        //    $("#err_ward").html("वार्ड क्रमांक आवश्यक आहे / Ward No. is Required").delay(1500).show().fadeOut('slow');
        //    $('#WardNo').focus();
        //    return false;
        //}
        //if ($.trim($("#AreaId").val()) == "-1" || $.trim($("#AreaId").val()) == "0") {
        //    $("#err_area").html("क्षेत्र आवश्यक आहे / Area is Required").delay(1500).show().fadeOut('slow');
        //    $('#AreaId').focus();
        //    return false;
        //}
        //if ($.trim($("#houseMobile").val()) == '') {
        //    $("#err_phone").html("मोबाइल नंबर आवश्यक आहे / Mobile Number is Required").delay(1500).show().fadeOut('slow');
        //    $('#houseMobile').focus();
        //    return false;
        //}

        //if ($.trim($("#houseAddress").val()) == '') {
        //    $("#err_address").html("पत्ता आवश्यक आहे / Address is Required").delay(1500).show().fadeOut('slow');
        //    $('#houseAddress').focus();
        //    return false;
        //}

        // by nazim


        //$("#AreaId").val() == $("#selectArea").val()
        // $("#AreaId").val() == $("#selectArea").val()
        //alert($("#AreaId").val());
        //alert($("#selectWard").val());
        //$('#AreaId').val($("#AreaId").val());
        //$('#WardNo').val($("#selectWard").val());

        return true;

    }
    $("#QRCOdeGenrate").click(function () {
        
        var bool = validation();

        if (bool == true) {
            //$("#err_generate").html("स्कॅनिफाय कोड व्युत्पन्न करा नंतर सेव करा / Generate Scaniffy code then save").delay(1).show().fadeOut('slow');
            $("#err_generate").html("Generate Scaniffy code then save").delay(1).show().fadeOut('slow');
            $('#prog_bar').css("display", "block");
            $("#prog_bar").delay(3000).show().fadeOut('slow');

            //genrate QRCode image
            var a = $('#n').val();
            if (a != null && a != "") {
                /* var src_qr = 'https://api.qrserver.com/v1/create-qr-code/?data=' + a*/
                var src_qr = 'https://chart.googleapis.com/chart?cht=qr&chl=' + a + "&chs=160x160&chld=L|0"


                $("#FileUpload_Preview img").attr("src", src_qr);
                $("input #filesUpload").attr("src", src_qr);
                // alert($("#FileUpload_Preview img").attr('src'));


                // cpde end
                $('#btnSubmit').prop('disabled', false);
                //   $('#QRCOdeGenrate').css('display', 'none');
                $('#Download1').show();
                $('#send_link').show();
                move();
            }
        }

        $("#houseOwner").change(function () {
            //   alert("Sdsadsa");
            //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";
            $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
            $("input #filesUpload").attr("src", "/Images/QRcode.png");
            $('#Download1').hide();
            $('#send_link').hide();
            return false;
        });

        $("#houseNumber").change(function () {
            //$("#FileUpload_Preview img").attr('src') === "/Images/QRcode.png";
            $("#FileUpload_Preview img").attr("src", "/Images/QRcode.png");
            $("input #filesUpload").attr("src", "/Images/QRcode.png");
            $('#Download1').hide();
            $('#send_link').hide();
            return false;
        });

    });

    function move() {
        var elem = document.getElementById("myBar");
        var width = 40;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
                elem.innerHTML = width * 1 + '%';
            }
        }
    }

    $(".add_popup_clear").click(function () {
        $.ajax({
            type: "post",
            url: "/HouseMaster/ZoneList",
            data: { stateId: $('#ddlState').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var district;
                for (var i = 0; i < data.length; i++) {
                    district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                //district = district + '</select>';
                $('#selectzone').html(district);
            }
        });

        $.ajax({
            type: "post",
            url: "/HouseMaster/WardList",
            data: { stateId: $('#ddlState').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var district;
                for (var i = 0; i < data.length; i++) {
                    district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                }
                //district = district + '</select>';
                $('#selectward').html(district);
            }
        });

        $('#myModal').find('input:text').val('');
        // $('#myModal').find('select').val();
        $('#myModal option').prop('selected', function () {
            return this.defaultSelected;
        });

        $('#wardModal').find('input:text').val('');
        $('#wardModal option').prop('selected', function () {
            return this.defaultSelected;
        });

        $('#zoneModal').find('input:text').val('');
        // $('#wardModal').find('select').val('');
    });
    $("#btnPost").click(function () {
        if ($.trim($("#selectward").val()) == "-1" || $.trim($("#selectward").val()) == "0") {
            //$("#err_pop_ward").html("वार्ड आवश्यक आहे / Ward is Required").delay(1500).show().fadeOut('slow');
            $("#err_pop_ward").html("Ward is Required").delay(1500).show().fadeOut('slow');
            $('#selectward').focus();
            return false;
        }

        if ($.trim($("#txtName").val()) == '') {
            //$("#err_name_pop").html("नाव आवश्यक आहे / Name is Required").delay(1500).show().fadeOut('slow');
            $("#err_name_pop").html("Name is Required").delay(1500).show().fadeOut('slow');
            $('#txtName').focus();
            return false;
        }
        if ($.trim($("#txtDesignation").val()) == '') {
            //$("#err_name_mar_pop").html("नाव मराठी आवश्यक आहे / Name Marathi is Required").delay(1500).show().fadeOut('slow');
            $("#err_name_mar_pop").html("Name Marathi is Required").delay(1500).show().fadeOut('slow');
            $('#txtDesignation').focus();
            return false;
        }
        var employee = new Object();
        employee.Name = $('#txtName').val();
        employee.NameMar = $('#txtDesignation').val();
        employee.wardId = $('#selectward').val();
        if (employee != null) {
            $.ajax({
                type: "POST",
                url: "/HouseMaster/AreaMaster",
                data: JSON.stringify(employee),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var UserId = $('#AreaId').val();
                    $.ajax({
                        type: "post",
                        url: "/HouseMaster/AreaList",
                        data: { userId: UserId },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var district;
                            for (var i = 0; i < data.length; i++) {
                                district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            //district = district + '</select>';
                            $('#AreaId').html(district);
                            $('#myModal').modal('hide');
                        }
                    });

                }
            });
        }
    });

    $("#btnZone").click(function () {

        if ($.trim($("#txtZName").val()) == '') {
            //$("#err_zname_pop").html(" झोन आवश्यक आहे / Zone is Required ").delay(1500).show().fadeOut('slow');
            $("#err_zname_pop").html("Zone is Required ").delay(1500).show().fadeOut('slow');
            $('#txtZName').focus();
            return false;
        }

        var employee = new Object();
        employee.name = $('#txtZName').val();

        if (employee != null) {
            $.ajax({
                type: "POST",
                url: "/HouseMaster/ZoneMaster",
                data: JSON.stringify(employee),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var UserId = $('#ZoneId').val();
                    $.ajax({
                        type: "post",
                        url: "/HouseMaster/ZoneList",
                        data: { userId: UserId },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var district;
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].Value == $('#ZoneId').val()) {
                                    district = district + '<option value=' + data[i].Value + ' selected>' + data[i].Text + '</option>';
                                } else { district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>'; }
                            }
                            //district = district + '</select>';
                            $('#ZoneId').html(district);
                            $('#zoneModal').modal('hide');
                        }
                    });

                }
            });
        }
    });

    $("#btnWard").click(function () {
        if ($.trim($("#selectzone").val()) == "-1" || $.trim($("#selectzone").val()) == "0") {
            //$("#err_pop_zone").html("झोन आवश्यक आहे / Zone is Required").delay(1500).show().fadeOut('slow');
            $("#err_pop_zone").html("Zone is Required").delay(1500).show().fadeOut('slow');
            $('#selectzone').focus();
            return false;
        }
        if ($.trim($("#txtWard").val()) == '') {
            //$("#err_ward_pop").html(" वार्ड क्रमांक आवश्यक आहे / Ward number is Required ").delay(1500).show().fadeOut('slow');
            $("#err_ward_pop").html("Ward number is Required ").delay(1500).show().fadeOut('slow');
            $('#txtName').focus();
            return false;
        }

        var employee = new Object();
        employee.WardNo = $('#txtWard').val();
        employee.zoneId = $('#selectzone').val();
        if (employee != null) {
            $.ajax({
                type: "POST",
                url: "/HouseMaster/WardMaster",
                data: JSON.stringify(employee),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var UserId = $('#WardNo').val();
                    $.ajax({
                        type: "post",
                        url: "/HouseMaster/WardList",
                        data: { userId: UserId },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var district;
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].Value == $('#WardNo').val()) {
                                    district = district + '<option value=' + data[i].Value + ' selected>' + data[i].Text + '</option>';
                                } else { district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>'; }
                            }
                            //district = district + '</select>';
                            $('#WardNo').html(district);
                            $('#wardModal').modal('hide');
                        }
                    });

                }
            });
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#Download1').click(function () {

            //alert("ff");
            if ($.trim($("#houseOwner").val()) != '' && $.trim($("#houseNumber").val()) != '') {
                var area = $("#AreaId").val();
                var ward = $("#WardNo").val();
                var name = $("#houseOwner").val();
                var Refid = $("#n").val();
                var Number = $("#houseNumber").val();
                window.location.href = "/HouseMaster/GenratePDF?name=" + name + "&number=" + Number + "&ReferanceId=" + Refid + "&Area=" + area + "&Ward=" + ward;
            }
            else {
                var area = $("#AreaId").val();
                var ward = $("#WardNo").val();
                var name = $("#houseOwner").val();
                var Refid = $("#n").val();
                var Number = $("#houseNumber").val();
                //   alert(Number);
                window.location.href = "/HouseMaster/GenratePDF?name=" + name + "&number=" + Number + "&ReferanceId=" + Refid + "&Area=" + area + "&Ward=" + ward;
            }
        })






        $('#send_link').click(function (e) {
            var area = $("#AreaId").val();
            var ward = $("#WardNo").val();
            var name = $("#houseOwner").val();
            var Refid = $("#n").val();
            var Number = $("#houseNumber").val();
            var mob = $("#houseMobile").val();
            //alert(name);
            $('#sendlink_pop').modal('toggle');
            $("#send_msg").css('color', 'red');
            //$('#send_msg').html('कृपया थांबा / Please Wait...');
            $('#send_msg').html('Please Wait...');


            var UserId = $('#AreaId').val();
            $.ajax({
                type: "post",
                url: "/HouseMaster/Save2?name=" + name + "&number=" + Number + "&ReferanceId=" + Refid + "&mobile=" + mob + "&Area=" + area + "&Ward=" + ward,
                data: { userId: UserId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    //alert("Send Successfully");
                    //$('#send_msg').html('आपला संदेश पाठवला गेला आहे / Your message has been sent...');
                    $('#send_msg').html('Your message has been sent...');
                    $("#send_msg").css('color', 'green');

                }
            });


        });
    });
</script>
@Scripts.Render("~/Scripts/ThemeScripts")

