@model SwachBharat.CMS.Bll.ViewModels.ChildModel.Model.DashBoardVM

@{
    //ViewBag.Title = "डैशबोर्ड";
    ViewBag.Title = "Dashboard";
}
<link href="~/Content/css/index_style.css" rel="stylesheet" />
<!-- Page Header-->
<style>
    .a_hover:hover {
        color: #442709;
        text-decoration: none;
    }


    /* your styles go here */
    svg.svg1 g g * {
        fill: #fff;
    }

    svg.svg1:hover g g * {
        fill: #fff;
    }

    li.active a svg.svg1 g g * {
        fill: #fff;
    }

    li:hover a svg.svg1 g g * {
        fill: #fff;
    }

    svg.svg1 {
        fill: #fff;
    }

    .canvasjs-chart-credit {
        display: none;
    }

    .my-card {
        position: absolute;
        left: 40%;
        top: -20px;
        border-radius: 0%;
        height: 76px;
        width: 85px;
        background-color: transparent;
    }

    .p-3 {
        padding: 20px 0px 0px 0px !important;
    }

    nav-tabs .tabid {
        color: #111;
        background-color: #fff;
    }

    .tabid active {
        color: #fff;
    }

    .tabid {
        color: #999;
        background-color: #fff;
    }

        .tabid:hover {
            color: #fff;
            background-color: #3ab59e;
        }

    .nav-tabs .tabid.active {
        color: #fff;
        background-color: #3ab59e;
    }

    b {
        font-weight: 600;
    }

    .bg-orange {
        background-color: #FF9800 !important;
        color: #fff;
        border-radius: 10px;
    }

    .bg-light-green {
        background-color: #8BC34A !important;
        color: #fff;
        border-radius: 10px;
    }

    .bg-cyan {
        background-color: #00BCD4 !important;
        color: #fff;
        border-radius: 10px;
    }

    .bg-purpal {
        background-color: #7d30ed !important;
        color: #fff;
        border-radius: 10px;
    }

    .ml-25 {
        margin-left: 25%;
    }
</style>
<style>

    .avatar {
        position: relative;
        line-height: 1;
        border-radius: 500px;
        white-space: nowrap;
        font-weight: 700;
        border-radius: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        border-radius: 500px;
        box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
    }

        .avatar img {
            border-radius: inherit;
            width: 100%
        }

    .no-shadow {
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }


    .gd-success {
        color: #fff;
        border: none;
        background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
    }

    .card-body {
        padding: 1rem;
    }

    .worsvg {
        background: rgba(0, 0, 0, 0.12) !important
    }

    .housesvg {
        background: rgba(0, 0, 0, 0.12) !important;
    }

    .dumpsvg {
        background: rgba(0, 0, 0, 0.12) !important;
    }

    .cleansvg {
        background: #9a62d7 !important;
    }

    .outfont {
        font-size: 20px;
    }

    .px-4 {
        padding-left: 5% !important;
        padding-right: 5% !important;
        text-align: center;
    }

    #clns {
        display: none;
    }
    .seg_square {
        height: 10px;
        width: 10px;
        background-color: #03823c;
        display: inline-block;
    }
    .mix_square {
        height: 10px;
        width: 10px;
        background-color: #f0051c;
        display: inline-block;
    }
    .nc_square {
        height: 10px;
        width: 10px;
        background-color: #f09a05;
        display: inline-block;
    }
    .ns_square {
        height: 10px;
        width: 10px;
        background-color: #0972db;
        display: inline-block;
    }
</style>
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom"> Dashboard </h2>
        @*<h2 class="no-margin-bottom"> डैशबोर्ड </h2>*@
    </div>
</header>
<!-- Dashboard Counts Section-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script src="~/Content/css/datepicker/js/datepicker.js"></script>

<input value="@Model.TotalHouseCount" type="hidden" id="tot_house_coll" />
<input value="@Model.MixedCount" type="hidden" id="mixed_coll" />
<input value="@Model.BifurgatedCount" type="hidden" id="bif_coll" />
<input value="@Model.NotCollected" type="hidden" id="not_coll" />
<input value="@Model.NotSpecified" type="hidden" id="not_spec_coll" />
<input value="@Model.TotalDryWaste" type="hidden" id="TotalDryWaste_coll" />
<input value="@Model.TotalWetWaste" type="hidden" id="TotalWetWaste_coll" />


@*dump data*@
<input value="@Model.GcWeightCount" type="hidden" id="tot_dump_count" />
<input value="@Model.DryWeightCount" type="hidden" id="dry_count" />
<input value="@Model.WetWeightCount" type="hidden" id="wet_count" />


@*dump data For Mangalwedha*@
<input value="@Model.DumpYardTotalCount" type="hidden" id="tot_dumpyard_count" />
<input value="@Model.DumpYardDryCount" type="hidden" id="dumpyard_dry_count" />
<input value="@Model.DumpYardWetCount" type="hidden" id="dumpyard_wet_count" />
<input value="@Model.DumpYardConstructionCount" type="hidden" id="dumpyard_construction_count" />
<input value="@Model.DumpYardFSTPCount" type="hidden" id="dumpyard_fstp_count" />
<input value="@Model.DumpYardDomesticCount" type="hidden" id="dumpyard_domestic_count" />
<input value="@Model.DumpYardSanitaryCount" type="hidden" id="dumpyard_sanitary_count" />

<input type="hidden" id="txt_fdate" class="datepicker form-control form-control-sm" type="text" />

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <br />
        <!--<div class="row w-100">

            <div class="col col-xs-12 pr-25" onclick="location.href = '/Attendence/MenuIndex';" style="cursor:pointer">

                <div class="card border-info mx-sm-1 p-3 bg-orange" style="margin-bottom: 0px;">
                    <div class="card border-info shadow text-info p-3 my-card">
                        <div class="icon bg-violet" style="background-color: rgba(0, 0, 0, 0.12) !important ">
                            <i style="margin-top:5%">
                                <svg class="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 36.449 36.448" style="enable-background:new 0 0 36.449 36.448;" xml:space="preserve"><g><g><rect x="12.858" y="14.626" width="4.596" height="4.089" fill="#b5b5b5" /><rect x="18.996" y="14.626" width="4.595" height="4.089" fill="#b5b5b5" /><rect x="25.128" y="14.626" width="4.596" height="4.089" fill="#b5b5b5" /><rect x="6.724" y="20.084" width="4.595" height="4.086" fill="#b5b5b5" /><rect x="12.858" y="20.084" width="4.596" height="4.086" fill="#b5b5b5" /><rect x="18.996" y="20.084" width="4.595" height="4.086" fill="#b5b5b5" /><rect x="25.128" y="20.084" width="4.596" height="4.086" fill="#b5b5b5" /><rect x="6.724" y="25.54" width="4.595" height="4.086" fill="#b5b5b5" /><rect x="12.858" y="25.54" width="4.596" height="4.086" fill="#b5b5b5" /><rect x="18.996" y="25.54" width="4.595" height="4.086" fill="#b5b5b5" /><rect x="25.128" y="25.54" width="4.596" height="4.086" fill="#b5b5b5" /><path d="M31.974,32.198c0,0.965-0.785,1.75-1.75,1.75h-24c-0.965,0-1.75-0.785-1.75-1.75V12.099h-2.5v20.099 c0,2.343,1.907,4.25,4.25,4.25h24c2.344,0,4.25-1.907,4.25-4.25V12.099h-2.5V32.198z" fill="#b5b5b5" /><path d="M30.224,3.948h-1.098V2.75c0-1.517-1.197-2.75-2.67-2.75c-1.474,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75 c0-1.517-1.197-2.75-2.67-2.75c-1.473,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75c0-1.517-1.197-2.75-2.67-2.75 c-1.473,0-2.67,1.233-2.67,2.75v1.197H6.224c-2.343,0-4.25,1.907-4.25,4.25v2h2.5h27.5h2.5v-2 C34.474,5.855,32.568,3.948,30.224,3.948z M11.466,7.646c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75 c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25V7.646z M19.546,7.646c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25 V2.75c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25V7.646z M27.626,7.646c0,0.689-0.525,1.25-1.17,1.25 c-0.646,0-1.17-0.561-1.17-1.25V2.75c0-0.689,0.524-1.25,1.17-1.25c0.645,0,1.17,0.561,1.17,1.25V7.646z" fill="#b5b5b5" /></g></g></svg>

                            </i>
                        </div>
                    </div>
                    <div class="text text-center ml-25 "><h4 style="font-weight: 700 !important; font-size: 16px;"> Workers Attendance </h4></div>-->
        @*<div class="text text-center mt-3"><h4 style="font-weight: 400!important;">उपस्थिती</h4></div>*@
        <!--<div class="text text-center mt-2 ml-25"><h1 style="font-weight: 700 !important; color: #fff; font-size: 16px;">@Model.TodayAttandence / @Model.TotalAttandence</h1></div>
            </div>
        </div>
        <div class="col col-xs-12 pr-25" onclick="location.href = '/GarbageCollection/MenuHouseGarbageIndex';" style="cursor:pointer">
            <div class="card border-info mx-sm-1 p-3 bg-light-green" style="margin-bottom: 0px;">
                <div class="card border-info shadow text-info p-3 my-card">
                    <div class="icon bg-violet" style="background-color: rgba(0, 0, 0, 0.12) !important ">
                        <i style="margin-top:5%">
                            <svg class="svg1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve"><g><g><path d="M392.146,267.531c-3.907-3.905-10.237-3.905-14.143,0l-0.028,0.028c-3.905,3.905-3.89,10.223,0.015,14.128c1.949,1.949,4.505,2.922,7.063,2.922c2.568,0,5.137-0.981,7.093-2.935C396.051,277.768,396.051,271.436,392.146,267.531z" /></g></g><g><g><path d="M365.838,241.722L263.004,140.85c-3.891-3.815-10.117-3.815-14.006,0L119.923,267.463c-3.943,3.868-4.003,10.199-0.136,14.142c1.958,1.996,4.548,2.997,7.14,2.997c2.527,0,5.056-0.953,7.002-2.862l122.072-119.743l95.831,94.002c3.945,3.868,10.275,3.805,14.142-0.136C369.841,251.921,369.78,245.589,365.838,241.722z" /></g></g><g><g><path d="M508.964,241.748l-59.679-57.913V67.727c0-5.523-4.478-10-10-10h-62.936c-5.522,0-10,4.477-10,10v35.626L262.964,3.026c-3.879-3.765-10.049-3.765-13.928,0l-246,238.721c-1.968,1.909-3.064,4.542-3.035,7.283c0.029,2.741,1.182,5.35,3.189,7.217l43.89,40.81c3.915,3.64,9.997,3.558,13.813-0.185l15.698-15.399v220.323c0,5.523,4.478,10,10,10h338.818c5.522,0,10-4.477,10-10V281.474l15.698,15.399c1.942,1.905,4.472,2.861,7.004,2.861c2.442,0,4.887-0.89,6.809-2.677l43.89-40.81c2.008-1.867,3.16-4.476,3.189-7.217C512.029,246.29,510.932,243.656,508.964,241.748z M386.35,77.727h42.936v86.699l-42.936-41.665V77.727z M415.41,491.796H96.591v-229.94l159.41-156.369L415.41,261.856V491.796z M458.296,275.907L263.004,84.34c-3.889-3.815-10.117-3.815-14.006,0L53.706,275.907l-29.187-27.138L256.001,24.137l231.481,224.632L458.296,275.907z" /></g></g><g><g><path d="M358.179,377.203c-2.238-2.239-5.403-3.284-8.536-2.821l-82.191,12.177c-3.737,0.553-6.842,3.166-8.029,6.753c-1.185,3.586-0.248,7.536,2.423,10.208l10.022,10.026c-5.191,1.919-10.711,2.917-16.268,2.917c-12.162,0-23.531-4.674-31.976-13.121l-0.179-0.181c-6.889-6.957-11.477-16.09-12.919-25.718c-0.817-5.455-5.888-9.221-11.355-8.41l-42.597,6.311c-5.459,0.809-9.232,5.888-8.428,11.348c3.419,23.226,14.028,44.308,30.68,60.965c20.546,20.552,47.905,31.871,77.039,31.871h0.306c22.454-0.062,43.856-6.781,62.183-19.476l13.51,13.514c2.672,2.673,6.623,3.609,10.21,2.425c3.588-1.186,6.201-4.293,6.755-8.031l12.172-82.221C361.464,382.607,360.418,379.441,358.179,377.203z M331.955,445.367l-5.541-5.542c-3.528-3.527-9.114-3.917-13.094-0.914l-3.352,2.528c-15.626,11.78-34.248,18.035-53.825,18.089h-0.278c-23.791,0-46.127-9.238-62.895-26.011c-11.206-11.21-19.058-24.868-23.032-39.935l23.053-3.414c3.158,10.124,8.748,19.498,16.237,27.062l0.213,0.215c12.261,12.265,28.653,19.019,46.158,19.019c11.287,0,22.471-2.885,32.342-8.344l5.618-3.107c2.749-1.521,4.624-4.244,5.062-7.354c0.44-3.11-0.608-6.245-2.829-8.467l-5.758-5.761l49.208-7.291L331.955,445.367z" /></g></g><g><g><path d="M363.856,351.369c-3.417-23.223-14.026-44.304-30.679-60.965c-20.548-20.553-47.908-31.871-77.04-31.871h-0.307c-22.454,0.061-43.856,6.78-62.183,19.477l-13.51-13.514c-2.674-2.673-6.625-3.61-10.21-2.425c-3.588,1.186-6.201,4.293-6.755,8.031L151,352.324c-0.463,3.132,0.583,6.298,2.822,8.536c2.238,2.239,5.405,3.284,8.536,2.821l82.191-12.177c3.737-0.553,6.842-3.166,8.029-6.753c1.185-3.587,0.248-7.536-2.423-10.208l-10.022-10.027c5.19-1.919,10.71-2.917,16.267-2.917c12.162,0,23.528,4.67,31.978,13.122l0.177,0.179c6.903,6.972,11.493,16.103,12.927,25.711c0.74,4.962,5.007,8.526,9.878,8.526c0.487,0,0.981-0.036,1.479-0.11l42.589-6.31C360.887,361.908,364.66,356.829,363.856,351.369z M319.02,347.893c-3.156-10.113-8.752-19.489-16.26-27.072l-0.211-0.213c-12.253-12.258-28.643-19.009-46.148-19.009c-11.288,0-22.471,2.885-32.34,8.343l-5.619,3.107c-2.75,1.521-4.625,4.244-5.063,7.354c-0.44,3.111,0.608,6.246,2.829,8.468l5.759,5.761l-49.208,7.29l7.287-49.227l5.54,5.542c3.526,3.526,9.113,3.916,13.093,0.914l3.354-2.528c15.627-11.78,34.248-18.035,53.824-18.089h0.279c23.79,0,46.126,9.238,62.896,26.01c11.206,11.211,19.057,24.871,23.031,39.935L319.02,347.893z" /></g></g></svg>
                        </i>
                    </div>
                </div>
                <div class="text text-center ml-25"><h4 style="font-weight: 700 !important; font-size: 16px;"> Household Collection</h4></div>-->
        @*<div class="text text-center mt-3"><h4 style="font-weight: 400!important;">घर संकलन</h4></div>*@
        <!--<div class="text text-center mt-2 ml-25"><h1 style="font-weight: 700 !important; color: #fff; font-size: 16px;">@Model.HouseCollection</h1></div>
            </div>
        </div>
        <!--<div class="col" onclick="location.href = '/GarbageCollection/MenuPointGarbageIndex';" style="cursor:pointer">
        <div class="card border-info mx-sm-1  p-3" style="margin-bottom: 0px;">
            <div class="card border-info shadow text-info p-3 my-card">
                <div class="icon bg-violet" style="background-color:#54e69d  !important ">

                    <i>
                        <svg class="svg1" viewBox="0 -1 512.00002 512" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg"><path d="m168.167969 0-12.066407 12.066406 17.066407 17.066406c3.332031 3.332032 8.730469 3.332032 12.0625 0l17.070312-17.066406-12.066406-12.066406-11.035156 11.035156zm0 0" /><path d="m321.765625 0-12.066406 12.066406 17.066406 17.066406c3.332031 3.332032 8.734375 3.332032 12.066406 0l17.066407-17.066406-12.066407-12.066406-11.03125 11.035156zm0 0" /><path d="m145.066406 219.367188h17.066406v17.066406h-17.066406zm0 0" /><path d="m162.132812 202.300781h17.066407v17.066407h-17.066407zm0 0" /><path d="m349.867188 219.367188h17.066406v17.066406h-17.066406zm0 0" /><path d="m332.800781 202.300781h17.066407v17.066407h-17.066407zm0 0" /><path d="m247.464844 244.964844h17.066406v17.066406h-17.066406zm0 0" /><path d="m264.535156 262.03125h17.066406v17.066406h-17.066406zm0 0" /><path d="m230.398438 262.03125h17.066406v17.066406h-17.066406zm0 0" /><path d="m477.867188 151.101562c-15.558594.015626-29.144532 10.539063-33.050782 25.597657h-48.1875l-16.441406-31.316407 27.738281 5.546876 3.347657-16.726563-34.132813-6.824219 18.023437-18.023437 29.445313 7.363281 4.132813-16.554688-19.507813-4.878906 12.433594-12.453125h47.664062c4.714844 0 8.535157-3.820312 8.53125-8.535156 0-2.261719-.898437-4.429687-2.496093-6.03125l-51.199219-51.199219c-3.335938-3.332031-8.738281-3.332031-12.070313.003906-1.597656 1.597657-2.496094 3.769532-2.496094 6.03125v47.664063l-12.441406 12.453125-4.882812-19.527344-16.554688 4.148438 7.363282 29.441406-18.457032 18.464844-1.074218-2.039063c-31.191407-59.402343-104.628907-82.269531-164.03125-51.078125-21.8125 11.453125-39.625 29.265625-51.078126 51.078125l-1.074218 2.039063-18.457032-18.464844 7.363282-29.441406-16.554688-4.148438-4.878906 19.527344-12.445312-12.453125v-47.664063c0-4.714843-3.820313-8.535156-8.53125-8.535156-2.265626.003906-4.433594.902344-6.035157 2.5l-51.199219 51.199219c-3.332031 3.332031-3.332031 8.738281.003907 12.070313 1.597656 1.597656 3.769531 2.496093 6.03125 2.496093h47.664062l12.445313 12.441407-19.507813 4.882812 4.128907 16.554688 29.449218-7.367188 18.023438 18.023438-34.136719 6.828124 3.347656 16.722657 27.742188-5.546875-16.453125 31.328125h-48.1875c-4.714844-18.253907-23.332032-29.230469-41.582032-24.515625-15.070312 3.890625-25.601562 17.484375-25.601562 33.050781.00390625 6 1.613281 11.894531 4.660156 17.066406-3.046875 5.171875-4.65624975 11.0625-4.660156 17.066407 0 18.851562 15.28125 34.132812 34.132812 34.132812 15.566407 0 29.160157-10.53125 33.050782-25.601562h21.332031l-63.769531 121.371093c-16.230469 31.011719-24.7226565 65.492188-24.746094 100.496094 0 4.714844 3.820312 8.535156 8.535156 8.535156h34.132813v1.59375c.027343 27.386719 22.21875 49.578125 49.601562 49.605469h54.390625c16.464844-.003906 31.855469-8.179688 41.074219-21.820312 9.21875 13.640624 24.605469 21.816406 41.070313 21.820312h54.390624c16.464844-.003906 31.851563-8.179688 41.070313-21.820312 9.21875 13.640624 24.609375 21.816406 41.070313 21.820312h54.394531c27.382812-.027344 49.574219-22.21875 49.601562-49.605469v-1.59375h34.132813c4.714844 0 8.535156-3.820312 8.535156-8.535156-.027344-35.003906-8.515625-69.480469-24.746094-100.496094l-63.746094-121.371093h21.335938c4.765625 18.238281 23.414062 29.160156 41.652344 24.394531 14.988281-3.917969 25.460937-17.4375 25.503906-32.925781-.003906-6.003907-1.613281-11.894532-4.660156-17.066407 3.046875-5.171875 4.65625-11.066406 4.660156-17.066406 0-18.851563-15.28125-34.132813-34.132812-34.132813zm-51.199219-107.402343 22.066406 22.066406h-22.066406zm-341.335938 22.066406h-22.066406l22.066406-22.066406zm-25.597656 145.066406c-4.714844 0-8.535156 3.820313-8.535156 8.535157 0 9.425781-7.640625 17.066406-17.066407 17.066406-9.425781 0-17.066406-7.640625-17.066406-17.066406.011719-4.210938 1.597656-8.261719 4.445313-11.359376 2.921875-3.246093 2.921875-8.171874 0-11.417968-2.847657-3.097656-4.433594-7.148438-4.445313-11.355469 0-9.425781 7.640625-17.066406 17.066406-17.066406 9.425782 0 17.066407 7.640625 17.066407 17.066406 0 4.710937 3.820312 8.53125 8.535156 8.53125h46.675781l-8.960937 17.066406zm119.464844 249.0625c-.023438 17.960938-14.578125 32.515625-32.539063 32.539063h-54.390625c-17.960937-.023438-32.511719-14.578125-32.535156-32.539063v-37.324219c.023437-17.960937 14.574219-32.511718 32.535156-32.539062h9.4375l-23.039062 28.800781 13.332031 10.667969 18.933594-23.671875v26.871094h17.066406v-26.871094l18.9375 23.671875 13.328125-10.667969-23.039063-28.796875h9.4375c17.960938.023438 32.511719 14.574219 32.535157 32.535156zm-92.015625-110.820312.71875-.71875c4.105468-4.097657 10.53125-4.730469 15.359375-1.511719 9.816406 6.558594 22.613281 6.558594 32.425781 0 4.832031-3.207031 11.253906-2.570312 15.363281 1.519531l.714844.71875-11.945313 23.894531h-40.679687zm228.550781 110.820312c-.023437 17.960938-14.578125 32.515625-32.539063 32.539063h-54.390624c-17.960938-.023438-32.515626-14.578125-32.539063-32.539063v-37.324219c.023437-17.960937 14.578125-32.511718 32.539063-32.539062h9.4375l-23.039063 28.800781 13.328125 10.667969 18.9375-23.671875v26.871094h17.066406v-26.871094l18.933594 23.671875 13.328125-10.667969-23.039063-28.796875h9.4375c17.960938.023438 32.515626 14.574219 32.539063 32.535156zm-92.015625-110.820312.714844-.71875c4.109375-4.097657 10.535156-4.730469 15.363281-1.511719 9.8125 6.558594 22.609375 6.558594 32.425781 0 4.832032-3.207031 11.25-2.570312 15.359375 1.519531l.71875.71875-11.949219 23.894531h-40.675781zm228.546875 110.820312c-.023437 17.960938-14.578125 32.515625-32.535156 32.539063h-54.394531c-17.957032-.023438-32.511719-14.578125-32.535157-32.539063v-37.324219c.023438-17.960937 14.578125-32.511718 32.535157-32.539062h9.441406l-23.042969 28.800781 13.328125 10.667969 18.9375-23.671875v26.871094h17.066406v-26.871094l18.933594 23.671875 13.332031-10.667969-23.039062-28.796875h9.4375c17.960937.023438 32.511719 14.574219 32.535156 32.535156zm-92.015625-110.820312.71875-.71875c4.105469-4.097657 10.535156-4.730469 15.359375-1.511719 9.816406 6.558594 22.613281 6.558594 32.425781 0 4.832032-3.207031 11.253906-2.570312 15.363282 1.519531l.714843.71875-11.945312 23.894531h-40.679688zm111.855469 8.148437c13.625 26.003906 21.355469 54.683594 22.648437 84.011719h-25.421875v-18.664063c-.039062-22.9375-15.785156-42.863281-38.089843-48.203124l11.636718-23.1875c1.640625-3.285157.996094-7.25-1.601562-9.847657l-5.070313-5.066406c-9.863281-9.828125-25.28125-11.355469-36.878906-3.652344-4.089844 2.726563-9.414063 2.726563-13.5 0-11.601563-7.703125-27.019531-6.175781-36.882813 3.652344l-5.070312 5.066406c-2.597656 2.597657-3.242188 6.5625-1.601562 9.847657l11.597656 23.1875c-12.070313 2.878906-22.628906 10.160156-29.601563 20.417968-6.96875-10.25-17.507812-17.53125-29.5625-20.417968l11.640625-23.1875c1.640625-3.285157.992188-7.25-1.605468-9.847657l-5.066407-5.066406c-9.863281-9.828125-25.28125-11.355469-36.882812-3.652344-4.085938 2.726563-9.414063 2.726563-13.5 0-11.597657-7.703125-27.015625-6.175781-36.878907 3.652344l-5.070312 5.066406c-2.597656 2.597657-3.242188 6.5625-1.605469 9.847657l11.597657 23.1875c-12.066407 2.878906-22.625 10.160156-29.601563 20.417968-6.964844-10.25-17.507813-17.53125-29.558594-20.417968l11.640625-23.1875c1.636719-3.285157.992188-7.25-1.605468-9.847657l-5.070313-5.066406c-9.863281-9.828125-25.28125-11.355469-36.878906-3.652344-4.085938 2.726563-9.414063 2.726563-13.5 0-11.601563-7.703125-27.019531-6.175781-36.882813 3.652344l-5.066406 5.066406c-2.597656 2.597657-3.246094 6.5625-1.605469 9.847657l11.597657 23.1875c-22.324219 5.324218-38.09375 25.253906-38.136719 48.203124v18.664063h-25.421875c1.289062-29.335937 9.019531-58.027344 22.648437-84.039063l123.664063-235.519531c26.800781-51.054687 89.914062-70.714843 140.96875-43.910156 18.753906 9.84375 34.070312 25.160156 43.914062 43.910156zm18.382812-149.1875c2.84375 3.089844 4.429688 7.132813 4.445313 11.332032 0 9.425781-7.640625 17.066406-17.066406 17.066406-9.425782 0-17.066407-7.640625-17.066407-17.066406 0-4.714844-3.820312-8.535157-8.535156-8.535157h-37.714844l-8.960937-17.066406h46.675781c4.714844 0 8.535156-3.820313 8.535156-8.53125 0-9.425781 7.640625-17.066406 17.066407-17.066406 9.425781 0 17.066406 7.640625 17.066406 17.066406-.011719 4.207031-1.597656 8.257813-4.445313 11.355469-2.921875 3.246094-2.921875 8.175781 0 11.417968zm0 0" /><path d="m256 125.5c-14.140625 0-25.601562 11.460938-25.601562 25.601562 0 14.136719 11.460937 25.597657 25.601562 25.597657 14.136719 0 25.597656-11.460938 25.597656-25.597657 0-14.140624-11.460937-25.601562-25.597656-25.601562zm0 34.132812c-4.714844 0-8.535156-3.820312-8.535156-8.53125 0-4.714843 3.820312-8.535156 8.535156-8.535156 4.710938 0 8.53125 3.820313 8.53125 8.535156.003906 4.710938-3.820312 8.53125-8.53125 8.53125zm0 0" /><path d="m256 91.367188c-32.988281 0-59.734375 26.742187-59.734375 59.734374 0 32.988282 26.746094 59.730469 59.734375 59.730469s59.734375-26.742187 59.734375-59.730469c-.039063-32.976562-26.761719-59.695312-59.734375-59.734374zm0 102.398437c-23.5625 0-42.667969-19.101563-42.667969-42.667969 0-23.5625 19.101563-42.664062 42.667969-42.664062 23.5625 0 42.667969 19.101562 42.667969 42.664062-.03125 23.554688-19.117188 42.640625-42.667969 42.667969zm0 0" /></svg>
                    </i>
                </div>
            </div>
            <div class="text text-center mt-3"><h4 style="font-weight: 400!important;">GV Point Collection</h4></div>-->
        <!--@*<div class="text text-center mt-3"><h4 style="font-weight: 400!important;">पॉईंट संकलन</h4></div>*@-->
        <!--<!--<div class="text text-center mt-2"><h1 style="font-weight: 400!important;color:#54e69d">@Model.PointCollection</h1></div>
            </div>
        </div>-->
        <!--<div class="col col-xs-12 pr-25" onclick="location.href = '/GarbageCollection/MenuDumpYardIndex';" style="cursor:pointer">
            <div class="card border-info mx-sm-1 p-3 bg-cyan" style="margin-bottom: 0px;">
                <div class="card border-info shadow text-info p-3 my-card">
                    <div class="icon bg-violet" style="background-color: rgba(0, 0, 0, 0.12) !important ">
                        <i style="margin-top:5%">
                            <svg fill='white' viewBox='1 -20 511.99875 511' width="30px" height="30px" xmlns='http://www.w3.org/2000/svg'><path d='m502 304.480469c5.523438 0 10-4.480469 10-10v-87.417969c0-.304688-.019531-.609375-.046875-.910156-.011719-.105469-.023437-.210938-.039063-.316406-.023437-.195313-.050781-.386719-.085937-.578126-.023437-.121093-.042969-.242187-.070313-.359374-.042968-.183594-.089843-.363282-.140624-.542969-.03125-.109375-.054688-.21875-.089844-.328125-.085938-.261719-.179688-.519532-.285156-.773438-.046876-.113281-.101563-.226562-.152344-.339844-.070313-.15625-.144532-.3125-.226563-.464843-.058593-.113281-.121093-.222657-.183593-.332031-.085938-.15625-.179688-.304688-.273438-.457032-.0625-.097656-.125-.191406-.191406-.289062-.023438-.035156-.046875-.074219-.074219-.113282l-71.191406-99.902343c-1.875-2.632813-4.910157-4.195313-8.144531-4.195313h-69.292969c-5.523438 0-10 4.476563-10 10v28.242188l-75-129.902344c-2.761719-4.78125-8.875-6.421875-13.660157-3.660156l-150.097656 86.660156c-1.855468 1.074219-3.320312 2.710938-4.171875 4.675781l-52.273437 120.304688c-1.261719 2.90625-1.074219 6.238281.511718 8.984375l7.433594 12.875c-31.722656 42.652344-49.445312 94.902344-50.214844 148.058594-3.667968-1.617188-8.105468-.933594-11.109374 2.070312-3.90625 3.902344-3.90625 10.234375 0 14.140625 8.144531 8.148437 18.976562 12.632813 30.5 12.632813 11.519531 0 22.351562-4.484376 30.5-12.632813 9.019531-9.019531 23.695312-9.015625 32.714843 0 8.144531 8.148437 18.976563 12.632813 30.5 12.632813 5.210938 0 10.277344-.925782 15.023438-2.6875v37.375c-9.078125 7.777343-22.792969 7.386718-31.382813-1.203126-16.816406-16.816406-44.179687-16.816406-61 0-9.019531 9.019532-23.695312 9.019532-32.714844 0-3.90625-3.902343-10.238281-3.902343-14.140624 0-3.90625 3.90625-3.90625 10.238282 0 14.144532 16.816406 16.8125 44.179687 16.8125 61 0 9.019531-9.023438 23.691406-9.023438 32.714843 0 8.40625 8.40625 19.453125 12.609375 30.5 12.609375 5.902344 0 11.804688-1.214844 17.308594-3.617188 1.832031 2.222657 4.609375 3.640625 7.714844 3.640625h349.832031c5.523438 0 10-4.480468 10-10v-139.925781c0-5.523437-4.476562-10-10-10h-49.738281c1.378906-2.539063 2.464843-5.253906 3.242187-8.101563h46.496094zm-19.40625-107.417969h-67.375v-48.679688h32.683594zm-111.082031-79.902344h54.140625l7.996094 11.222656h-28.429688c-5.523438 0-10 4.476563-10 10v68.679688c0 5.523438 4.476562 10 10 10h86.78125v67.417969h-36.496094c-4.40625-16.171875-19.210937-28.097657-36.757812-28.097657s-32.351563 11.925782-36.757813 28.097657h-10.476562zm-209.347657 177.320313c0-9.980469 8.121094-18.097657 18.101563-18.097657 9.976563 0 18.097656 8.117188 18.097656 18.097657s-8.121093 18.097656-18.097656 18.097656c-9.980469 0-18.101563-8.121094-18.101563-18.097656zm120.511719-64.695313 54.691407 54.691406h-64.152344c-4.390625-16.125-19.128906-28.027343-36.609375-28.09375zm-64.3125 64.695313c0-9.980469 8.117188-18.097657 18.097657-18.097657 9.976562 0 18.097656 8.117188 18.097656 18.097657s-8.121094 18.097656-18.097656 18.097656c-9.980469 0-18.097657-8.121094-18.097657-18.097656zm54.851563 10h108.773437c.777344 2.84375 1.863281 5.558593 3.242188 8.097656h-115.253907c1.375-2.539063 2.464844-5.253906 3.238282-8.097656zm78.296875-34.144531-50.90625-50.902344 50.90625-29.390625zm-225.902344-166.164063 138.582031-80.011719 14.269532 24.714844-65.136719 37.707031c-4.777344 2.765625-6.410157 8.886719-3.640625 13.664063 1.851562 3.203125 5.210937 4.992187 8.664062 4.992187 1.699219 0 3.421875-.433593 5-1.347656l65.113282-37.695313 59.390624 102.867188-154.972656 89.472656c-3.949218-1.390625-8.191406-2.15625-12.613281-2.15625-18.839844 0-34.519531 13.75-37.558594 31.738282-1.042969.210937-2.070312.582031-3.042969 1.140624l-15.886718 9.175782-47.117188-81.605469zm-75.824219 281.296875c-4.234375 4.230469-9.824218 6.601562-15.785156 6.746094v-5.203125c0-47.207031 14.570312-93.808594 41.238281-132.640625l33.816407 58.570312c-7.621094 20.316406-11.652344 41.570313-12.019532 63.289063-15.683594-6.589844-34.496094-3.515625-47.25 9.238281zm77.355469 6.773438c-3.578125 0-7.019531-.828126-10.140625-2.355469v-10.425781c0-20.773438 3.753906-41.09375 11.148438-60.460938l16.980468-9.800781c.664063 1.582031 1.4375 3.105469 2.300782 4.570312-3.132813 1.6875-5.261719 4.996094-5.261719 8.808594v64.097656c-4.1875 3.589844-9.453125 5.566407-15.027344 5.566407zm364.859375 11.257812h-125c-5.523438 0-10 4.480469-10 10 0 5.523438 4.476562 10 10 10h125v29h-329.835938v-119.921875h329.835938zm-91.351562-109.019531c0-9.980469 8.121093-18.097657 18.097656-18.097657 9.980468 0 18.097656 8.117188 18.097656 18.097657s-8.117188 18.097656-18.097656 18.097656c-9.976563 0-18.097656-8.121094-18.097656-18.097656zm0 0' /><path d='m87.359375 298.429688c-1.859375-1.859376-4.441406-2.929688-7.070313-2.929688-2.640624 0-5.210937 1.070312-7.070312 2.929688-1.871094 1.863281-2.929688 4.441406-2.929688 7.070312 0 2.632812 1.058594 5.210938 2.929688 7.070312 1.859375 1.859376 4.441406 2.929688 7.070312 2.929688 2.628907 0 5.199219-1.070312 7.070313-2.929688 1.859375-1.859374 2.929687-4.4375 2.929687-7.070312 0-2.628906-1.070312-5.207031-2.929687-7.070312zm0 0' /><path d='m63.988281 333.011719c-2.628906 0-5.210937 1.070312-7.070312 2.929687s-2.929688 4.441406-2.929688 7.070313c0 2.628906 1.070313 5.210937 2.929688 7.070312s4.441406 2.929688 7.070312 2.929688c2.628907 0 5.210938-1.070313 7.070313-2.929688s2.929687-4.441406 2.929687-7.070312c0-2.628907-1.070312-5.210938-2.929687-7.070313s-4.441406-2.929687-7.070313-2.929687zm0 0' /><path d='m327.078125 403.5c-2.628906 0-5.210937 1.070312-7.070313 2.929688-1.859374 1.863281-2.929687 4.441406-2.929687 7.070312 0 2.632812 1.070313 5.210938 2.929687 7.070312 1.871094 1.859376 4.441407 2.929688 7.070313 2.929688s5.210937-1.070312 7.082031-2.929688c1.859375-1.859374 2.917969-4.4375 2.917969-7.070312 0-2.628906-1.058594-5.207031-2.917969-7.070312-1.871094-1.859376-4.441406-2.929688-7.082031-2.929688zm0 0' /><path d='m183.640625 125.148438c2.636719 0 5.207031-1.066407 7.078125-2.929688 1.859375-1.859375 2.921875-4.429688 2.921875-7.070312 0-2.628907-1.0625-5.207032-2.921875-7.066407-1.871094-1.859375-4.441406-2.933593-7.078125-2.933593-2.632813 0-5.203125 1.070312-7.070313 2.933593-1.863281 1.859375-2.929687 4.4375-2.929687 7.066407 0 2.644531 1.066406 5.210937 2.929687 7.070312 1.859376 1.863281 4.4375 2.929688 7.070313 2.929688zm0 0' /></svg>

                        </i>
                    </div>
                </div>
                <div class="text text-center ml-25"><h4 style="font-weight: 700 !important; font-size: 16px;"> Dump Yard Trips</h4></div>-->
        @*<div class="text text-center mt-3"><h4 style="font-weight: 400!important;">डंप यार्ड</h4></div>*@
        <!--<div class="text text-center mt-2 ml-25"><h1 style="font-weight: 700 !important; color: #fff; font-size: 16px;">@Model.DumpYardCount</h1></div>
            </div>
        </div>
        <div class="col col-xs-12 custom_col_hide" onclick="location.href = '/Complaint/MenuIndex';" style="cursor:pointer;" id="clns">
            <div class="card border-info mx-sm-1 p-3" style="margin-bottom: 0px;">
                <div class="card border-info shadow text-info p-3 my-card">
                    <div class="icon bg-violet" style="background-color:#ffc36d   !important ">
                        <i>
                            <svg class="svg1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 732.438 732.438" style="enable-background:new 0 0 732.438 732.438;" xml:space="preserve"><g><g><path d="M662.688,13.546L491.347,345.754c0.983,0.276,1.964,0.569,2.938,0.883c7.235,2.33,14.028,5.17,20.353,8.499c7.646,4.025,14.597,8.771,20.807,14.198L707.126,36.466c6.329-12.271,1.513-27.35-10.759-33.679C684.095-3.543,669.018,1.274,662.688,13.546z" /><path d="M96.597,629.659c27.24,24.567,60.687,45.974,99.412,63.623c65.396,29.808,122.948,38.61,125.365,38.971c0.067,0.01,0.135,0.019,0.201,0.028c0.763,0.104,1.53,0.156,2.299,0.156c0.186,0,0.371-0.003,0.557-0.009c68.797-2.246,122.417-25.158,159.368-68.1c48.598-56.477,66.162-141.396,62.748-214.401c-0.979-20.902-8.423-42.237-23.035-57.459c-1.089-1.134-2.208-2.242-3.376-3.306c-5.127-4.665-10.862-8.566-16.964-11.798c-5.289-2.801-10.854-5.099-16.55-6.933c-2.365-0.762-4.732-1.338-7.096-1.762c-3.281-0.589-6.555-0.875-9.811-0.875c-24.122,0-47.247,15.161-64.911,30.646c-18.24,15.992-36.755,33.421-57.363,47.073c-22.585,14.962-47.38,22.497-73.202,29.851c-33.351,9.498-67.641,15.564-102.078,19.429c-30.618,3.435-61.647,5.433-92.587,5.433c-12.28,0-24.541-0.315-36.763-0.979c-0.709-0.038-1.418-0.073-2.126-0.122c-0.394-0.027-0.789-0.041-1.181-0.041c-5.256,0-10.244,2.438-13.47,6.645c-3.467,4.52-4.438,10.476-2.584,15.862C37.39,562.098,62,598.457,96.597,629.659z M72.798,534.07c0.01,0,0.02,0,0.031,0c1.718,0.011,3.495,0.018,5.319,0.018c25.01,0,59.86-1.107,98.956-5.557c82.72-9.414,150.153-29.545,201.203-59.971c1.45-0.864,3.079-1.296,4.711-1.296c1.541,0,3.083,0.384,4.479,1.151c29.672,16.308,75.781,40.474,108.659,52.206c4.069,1.452,6.587,5.529,6.095,9.821c-3.927,34.31-15.064,77.974-44.329,111.89c-29.974,34.736-74.236,53.582-131.601,56.039c-0.179,0.009-0.358,0.012-0.537,0.012c-0.744,0-1.485-0.066-2.22-0.195c-5.781-1.021-20.042-3.771-39.179-9.039c5.455-2.409,11.098-5.297,16.801-8.518c5.106-2.885,10.256-6.028,15.354-9.318c15.771-10.173,31.043-21.723,42.925-31.227c2.749-2.197,0.17-6.491-3.076-5.13c-25.975,10.898-59.161,18.186-88.854,22.977c-9.333,1.506-18.315,2.763-26.625,3.811c-9.72,1.226-18.508,2.161-25.841,2.861c-1.911-0.843-3.827-1.699-5.75-2.581c-16.525-7.57-31.943-15.86-46.199-24.798c6.222-0.576,12.76-1.608,19.391-2.957c6.024-1.226,12.117-2.71,18.114-4.339c17.659-4.796,34.451-10.852,45.937-15.312c2.186-0.849,1.407-4.11-0.928-3.886c-20.907,2.012-49.906,2.197-74.67,1.833c-8.112-0.119-15.767-0.297-22.536-0.489c-8.902-0.253-16.264-0.528-21.108-0.728c-2.841-2.377-5.625-4.782-8.326-7.227c-3.495-3.163-6.861-6.389-10.119-9.666c5.027-0.51,10.246-1.31,15.546-2.324c4.956-0.949,9.976-2.083,14.969-3.344c19.719-4.976,38.959-11.876,51.687-16.817c2.186-0.85,1.407-4.111-0.928-3.887c-19.628,1.89-46.387,2.168-70.079,1.894c-5.844-0.068-11.499-0.168-16.816-0.287c-5.917-0.132-11.414-0.286-16.278-0.44c-6.884-9.15-12.967-18.648-18.219-28.478C67.136,537.741,69.365,534.07,72.798,534.07z" /><circle cx="621.247" cy="619.725" r="40.132" /><circle cx="534.692" cy="711.631" r="20.275" /><circle cx="644.636" cy="706.954" r="20.275" /></g></g></svg>

                        </i>
                    </div>
                </div>
                <div class="text text-center mt-3"><h4 class="satana_feedback" style="font-weight: 400!important;">Cleanliness Complaint</h4></div>-->
        @*<div class="text text-center mt-3"><h4 style="font-weight: 400!important;">स्वच्छ  तक्रार</h4></div>*@
        @*<div class="text text-center mt-2"><h1 style="font-weight: 400!important;color:#ffc36d">@Model.TotalComplaint</h1></div>
                    </div>
                </div>
            </div>*@
        <!--Start New Card-->
        <div class="row w-100">
            <div class="col-lg-4 col-md-6 col-sm-12" onclick="location.href = '/Attendence/MenuIndex';" style="cursor:pointer" id="worker">
                <div class="card flex bg-orange" data-sr-id="10" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success d-flex-cus">
                            <div class="avatar w-56 m-2 no-shadow gd-success worsvg">
                                @*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up">
                                        <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                        <polyline points="17 6 23 6 23 12"></polyline>
                                    </svg>*@
                                <svg class="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 36.449 36.448" style="enable-background:new 0 0 36.449 36.448;" xml:space="preserve"><g><g><rect x="12.858" y="14.626" width="4.596" height="4.089" fill="#b5b5b5" /><rect x="18.996" y="14.626" width="4.595" height="4.089" fill="#b5b5b5" /><rect x="25.128" y="14.626" width="4.596" height="4.089" fill="#b5b5b5" /><rect x="6.724" y="20.084" width="4.595" height="4.086" fill="#b5b5b5" /><rect x="12.858" y="20.084" width="4.596" height="4.086" fill="#b5b5b5" /><rect x="18.996" y="20.084" width="4.595" height="4.086" fill="#b5b5b5" /><rect x="25.128" y="20.084" width="4.596" height="4.086" fill="#b5b5b5" /><rect x="6.724" y="25.54" width="4.595" height="4.086" fill="#b5b5b5" /><rect x="12.858" y="25.54" width="4.596" height="4.086" fill="#b5b5b5" /><rect x="18.996" y="25.54" width="4.595" height="4.086" fill="#b5b5b5" /><rect x="25.128" y="25.54" width="4.596" height="4.086" fill="#b5b5b5" /><path d="M31.974,32.198c0,0.965-0.785,1.75-1.75,1.75h-24c-0.965,0-1.75-0.785-1.75-1.75V12.099h-2.5v20.099 c0,2.343,1.907,4.25,4.25,4.25h24c2.344,0,4.25-1.907,4.25-4.25V12.099h-2.5V32.198z" fill="#b5b5b5" /><path d="M30.224,3.948h-1.098V2.75c0-1.517-1.197-2.75-2.67-2.75c-1.474,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75 c0-1.517-1.197-2.75-2.67-2.75c-1.473,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75c0-1.517-1.197-2.75-2.67-2.75 c-1.473,0-2.67,1.233-2.67,2.75v1.197H6.224c-2.343,0-4.25,1.907-4.25,4.25v2h2.5h27.5h2.5v-2 C34.474,5.855,32.568,3.948,30.224,3.948z M11.466,7.646c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75 c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25V7.646z M19.546,7.646c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25 V2.75c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25V7.646z M27.626,7.646c0,0.689-0.525,1.25-1.17,1.25 c-0.646,0-1.17-0.561-1.17-1.25V2.75c0-0.689,0.524-1.25,1.17-1.25c0.645,0,1.17,0.561,1.17,1.25V7.646z" fill="#b5b5b5" /></g></g></svg>
                            </div>
                            <div class="px-4 flex">
                                <div>Workers Attendance</div>
                                <div class="text-white mt-2 outfont">@Model.TodayAttandence / @Model.TotalAttandence</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" onclick="location.href = '/GarbageCollection/MenuHouseGarbageIndex';" style="cursor:pointer" id="house">
                <div class="card flex bg-light-green" data-sr-id="10" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success d-flex-cus">
                            <div class="avatar w-56 m-2 no-shadow gd-success housesvg">
                                @*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up">
                                        <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                        <polyline points="17 6 23 6 23 12"></polyline>
                                    </svg>*@
                                <svg class="svg1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve"><g><g><path d="M392.146,267.531c-3.907-3.905-10.237-3.905-14.143,0l-0.028,0.028c-3.905,3.905-3.89,10.223,0.015,14.128c1.949,1.949,4.505,2.922,7.063,2.922c2.568,0,5.137-0.981,7.093-2.935C396.051,277.768,396.051,271.436,392.146,267.531z" /></g></g><g><g><path d="M365.838,241.722L263.004,140.85c-3.891-3.815-10.117-3.815-14.006,0L119.923,267.463c-3.943,3.868-4.003,10.199-0.136,14.142c1.958,1.996,4.548,2.997,7.14,2.997c2.527,0,5.056-0.953,7.002-2.862l122.072-119.743l95.831,94.002c3.945,3.868,10.275,3.805,14.142-0.136C369.841,251.921,369.78,245.589,365.838,241.722z" /></g></g><g><g><path d="M508.964,241.748l-59.679-57.913V67.727c0-5.523-4.478-10-10-10h-62.936c-5.522,0-10,4.477-10,10v35.626L262.964,3.026c-3.879-3.765-10.049-3.765-13.928,0l-246,238.721c-1.968,1.909-3.064,4.542-3.035,7.283c0.029,2.741,1.182,5.35,3.189,7.217l43.89,40.81c3.915,3.64,9.997,3.558,13.813-0.185l15.698-15.399v220.323c0,5.523,4.478,10,10,10h338.818c5.522,0,10-4.477,10-10V281.474l15.698,15.399c1.942,1.905,4.472,2.861,7.004,2.861c2.442,0,4.887-0.89,6.809-2.677l43.89-40.81c2.008-1.867,3.16-4.476,3.189-7.217C512.029,246.29,510.932,243.656,508.964,241.748z M386.35,77.727h42.936v86.699l-42.936-41.665V77.727z M415.41,491.796H96.591v-229.94l159.41-156.369L415.41,261.856V491.796z M458.296,275.907L263.004,84.34c-3.889-3.815-10.117-3.815-14.006,0L53.706,275.907l-29.187-27.138L256.001,24.137l231.481,224.632L458.296,275.907z" /></g></g><g><g><path d="M358.179,377.203c-2.238-2.239-5.403-3.284-8.536-2.821l-82.191,12.177c-3.737,0.553-6.842,3.166-8.029,6.753c-1.185,3.586-0.248,7.536,2.423,10.208l10.022,10.026c-5.191,1.919-10.711,2.917-16.268,2.917c-12.162,0-23.531-4.674-31.976-13.121l-0.179-0.181c-6.889-6.957-11.477-16.09-12.919-25.718c-0.817-5.455-5.888-9.221-11.355-8.41l-42.597,6.311c-5.459,0.809-9.232,5.888-8.428,11.348c3.419,23.226,14.028,44.308,30.68,60.965c20.546,20.552,47.905,31.871,77.039,31.871h0.306c22.454-0.062,43.856-6.781,62.183-19.476l13.51,13.514c2.672,2.673,6.623,3.609,10.21,2.425c3.588-1.186,6.201-4.293,6.755-8.031l12.172-82.221C361.464,382.607,360.418,379.441,358.179,377.203z M331.955,445.367l-5.541-5.542c-3.528-3.527-9.114-3.917-13.094-0.914l-3.352,2.528c-15.626,11.78-34.248,18.035-53.825,18.089h-0.278c-23.791,0-46.127-9.238-62.895-26.011c-11.206-11.21-19.058-24.868-23.032-39.935l23.053-3.414c3.158,10.124,8.748,19.498,16.237,27.062l0.213,0.215c12.261,12.265,28.653,19.019,46.158,19.019c11.287,0,22.471-2.885,32.342-8.344l5.618-3.107c2.749-1.521,4.624-4.244,5.062-7.354c0.44-3.11-0.608-6.245-2.829-8.467l-5.758-5.761l49.208-7.291L331.955,445.367z" /></g></g><g><g><path d="M363.856,351.369c-3.417-23.223-14.026-44.304-30.679-60.965c-20.548-20.553-47.908-31.871-77.04-31.871h-0.307c-22.454,0.061-43.856,6.78-62.183,19.477l-13.51-13.514c-2.674-2.673-6.625-3.61-10.21-2.425c-3.588,1.186-6.201,4.293-6.755,8.031L151,352.324c-0.463,3.132,0.583,6.298,2.822,8.536c2.238,2.239,5.405,3.284,8.536,2.821l82.191-12.177c3.737-0.553,6.842-3.166,8.029-6.753c1.185-3.587,0.248-7.536-2.423-10.208l-10.022-10.027c5.19-1.919,10.71-2.917,16.267-2.917c12.162,0,23.528,4.67,31.978,13.122l0.177,0.179c6.903,6.972,11.493,16.103,12.927,25.711c0.74,4.962,5.007,8.526,9.878,8.526c0.487,0,0.981-0.036,1.479-0.11l42.589-6.31C360.887,361.908,364.66,356.829,363.856,351.369z M319.02,347.893c-3.156-10.113-8.752-19.489-16.26-27.072l-0.211-0.213c-12.253-12.258-28.643-19.009-46.148-19.009c-11.288,0-22.471,2.885-32.34,8.343l-5.619,3.107c-2.75,1.521-4.625,4.244-5.063,7.354c-0.44,3.111,0.608,6.246,2.829,8.468l5.759,5.761l-49.208,7.29l7.287-49.227l5.54,5.542c3.526,3.526,9.113,3.916,13.093,0.914l3.354-2.528c15.627-11.78,34.248-18.035,53.824-18.089h0.279c23.79,0,46.126,9.238,62.896,26.01c11.206,11.211,19.057,24.871,23.031,39.935L319.02,347.893z" /></g></g></svg>
                            </div>
                            <div class="px-4 flex">
                                <div>Household Collection</div>
                                <div class="text-white mt-2 outfont">@Model.HouseCollection / @Model.TotalHousePropertyCount</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" onclick="location.href = '/GarbageCollection/MenuDumpYardIndex';" style="cursor:pointer" id="dump">
                <div class="card flex bg-cyan" data-sr-id="10" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success d-flex-cus">
                            <div class="avatar w-56 m-2 no-shadow gd-success dumpsvg">
                                @*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up">
                                        <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                        <polyline points="17 6 23 6 23 12"></polyline>
                                    </svg>*@
                                <svg fill='white' viewBox='1 -20 511.99875 511' width="30px" height="30px" xmlns='http://www.w3.org/2000/svg'><path d='m502 304.480469c5.523438 0 10-4.480469 10-10v-87.417969c0-.304688-.019531-.609375-.046875-.910156-.011719-.105469-.023437-.210938-.039063-.316406-.023437-.195313-.050781-.386719-.085937-.578126-.023437-.121093-.042969-.242187-.070313-.359374-.042968-.183594-.089843-.363282-.140624-.542969-.03125-.109375-.054688-.21875-.089844-.328125-.085938-.261719-.179688-.519532-.285156-.773438-.046876-.113281-.101563-.226562-.152344-.339844-.070313-.15625-.144532-.3125-.226563-.464843-.058593-.113281-.121093-.222657-.183593-.332031-.085938-.15625-.179688-.304688-.273438-.457032-.0625-.097656-.125-.191406-.191406-.289062-.023438-.035156-.046875-.074219-.074219-.113282l-71.191406-99.902343c-1.875-2.632813-4.910157-4.195313-8.144531-4.195313h-69.292969c-5.523438 0-10 4.476563-10 10v28.242188l-75-129.902344c-2.761719-4.78125-8.875-6.421875-13.660157-3.660156l-150.097656 86.660156c-1.855468 1.074219-3.320312 2.710938-4.171875 4.675781l-52.273437 120.304688c-1.261719 2.90625-1.074219 6.238281.511718 8.984375l7.433594 12.875c-31.722656 42.652344-49.445312 94.902344-50.214844 148.058594-3.667968-1.617188-8.105468-.933594-11.109374 2.070312-3.90625 3.902344-3.90625 10.234375 0 14.140625 8.144531 8.148437 18.976562 12.632813 30.5 12.632813 11.519531 0 22.351562-4.484376 30.5-12.632813 9.019531-9.019531 23.695312-9.015625 32.714843 0 8.144531 8.148437 18.976563 12.632813 30.5 12.632813 5.210938 0 10.277344-.925782 15.023438-2.6875v37.375c-9.078125 7.777343-22.792969 7.386718-31.382813-1.203126-16.816406-16.816406-44.179687-16.816406-61 0-9.019531 9.019532-23.695312 9.019532-32.714844 0-3.90625-3.902343-10.238281-3.902343-14.140624 0-3.90625 3.90625-3.90625 10.238282 0 14.144532 16.816406 16.8125 44.179687 16.8125 61 0 9.019531-9.023438 23.691406-9.023438 32.714843 0 8.40625 8.40625 19.453125 12.609375 30.5 12.609375 5.902344 0 11.804688-1.214844 17.308594-3.617188 1.832031 2.222657 4.609375 3.640625 7.714844 3.640625h349.832031c5.523438 0 10-4.480468 10-10v-139.925781c0-5.523437-4.476562-10-10-10h-49.738281c1.378906-2.539063 2.464843-5.253906 3.242187-8.101563h46.496094zm-19.40625-107.417969h-67.375v-48.679688h32.683594zm-111.082031-79.902344h54.140625l7.996094 11.222656h-28.429688c-5.523438 0-10 4.476563-10 10v68.679688c0 5.523438 4.476562 10 10 10h86.78125v67.417969h-36.496094c-4.40625-16.171875-19.210937-28.097657-36.757812-28.097657s-32.351563 11.925782-36.757813 28.097657h-10.476562zm-209.347657 177.320313c0-9.980469 8.121094-18.097657 18.101563-18.097657 9.976563 0 18.097656 8.117188 18.097656 18.097657s-8.121093 18.097656-18.097656 18.097656c-9.980469 0-18.101563-8.121094-18.101563-18.097656zm120.511719-64.695313 54.691407 54.691406h-64.152344c-4.390625-16.125-19.128906-28.027343-36.609375-28.09375zm-64.3125 64.695313c0-9.980469 8.117188-18.097657 18.097657-18.097657 9.976562 0 18.097656 8.117188 18.097656 18.097657s-8.121094 18.097656-18.097656 18.097656c-9.980469 0-18.097657-8.121094-18.097657-18.097656zm54.851563 10h108.773437c.777344 2.84375 1.863281 5.558593 3.242188 8.097656h-115.253907c1.375-2.539063 2.464844-5.253906 3.238282-8.097656zm78.296875-34.144531-50.90625-50.902344 50.90625-29.390625zm-225.902344-166.164063 138.582031-80.011719 14.269532 24.714844-65.136719 37.707031c-4.777344 2.765625-6.410157 8.886719-3.640625 13.664063 1.851562 3.203125 5.210937 4.992187 8.664062 4.992187 1.699219 0 3.421875-.433593 5-1.347656l65.113282-37.695313 59.390624 102.867188-154.972656 89.472656c-3.949218-1.390625-8.191406-2.15625-12.613281-2.15625-18.839844 0-34.519531 13.75-37.558594 31.738282-1.042969.210937-2.070312.582031-3.042969 1.140624l-15.886718 9.175782-47.117188-81.605469zm-75.824219 281.296875c-4.234375 4.230469-9.824218 6.601562-15.785156 6.746094v-5.203125c0-47.207031 14.570312-93.808594 41.238281-132.640625l33.816407 58.570312c-7.621094 20.316406-11.652344 41.570313-12.019532 63.289063-15.683594-6.589844-34.496094-3.515625-47.25 9.238281zm77.355469 6.773438c-3.578125 0-7.019531-.828126-10.140625-2.355469v-10.425781c0-20.773438 3.753906-41.09375 11.148438-60.460938l16.980468-9.800781c.664063 1.582031 1.4375 3.105469 2.300782 4.570312-3.132813 1.6875-5.261719 4.996094-5.261719 8.808594v64.097656c-4.1875 3.589844-9.453125 5.566407-15.027344 5.566407zm364.859375 11.257812h-125c-5.523438 0-10 4.480469-10 10 0 5.523438 4.476562 10 10 10h125v29h-329.835938v-119.921875h329.835938zm-91.351562-109.019531c0-9.980469 8.121093-18.097657 18.097656-18.097657 9.980468 0 18.097656 8.117188 18.097656 18.097657s-8.117188 18.097656-18.097656 18.097656c-9.976563 0-18.097656-8.121094-18.097656-18.097656zm0 0' /><path d='m87.359375 298.429688c-1.859375-1.859376-4.441406-2.929688-7.070313-2.929688-2.640624 0-5.210937 1.070312-7.070312 2.929688-1.871094 1.863281-2.929688 4.441406-2.929688 7.070312 0 2.632812 1.058594 5.210938 2.929688 7.070312 1.859375 1.859376 4.441406 2.929688 7.070312 2.929688 2.628907 0 5.199219-1.070312 7.070313-2.929688 1.859375-1.859374 2.929687-4.4375 2.929687-7.070312 0-2.628906-1.070312-5.207031-2.929687-7.070312zm0 0' /><path d='m63.988281 333.011719c-2.628906 0-5.210937 1.070312-7.070312 2.929687s-2.929688 4.441406-2.929688 7.070313c0 2.628906 1.070313 5.210937 2.929688 7.070312s4.441406 2.929688 7.070312 2.929688c2.628907 0 5.210938-1.070313 7.070313-2.929688s2.929687-4.441406 2.929687-7.070312c0-2.628907-1.070312-5.210938-2.929687-7.070313s-4.441406-2.929687-7.070313-2.929687zm0 0' /><path d='m327.078125 403.5c-2.628906 0-5.210937 1.070312-7.070313 2.929688-1.859374 1.863281-2.929687 4.441406-2.929687 7.070312 0 2.632812 1.070313 5.210938 2.929687 7.070312 1.871094 1.859376 4.441407 2.929688 7.070313 2.929688s5.210937-1.070312 7.082031-2.929688c1.859375-1.859374 2.917969-4.4375 2.917969-7.070312 0-2.628906-1.058594-5.207031-2.917969-7.070312-1.871094-1.859376-4.441406-2.929688-7.082031-2.929688zm0 0' /><path d='m183.640625 125.148438c2.636719 0 5.207031-1.066407 7.078125-2.929688 1.859375-1.859375 2.921875-4.429688 2.921875-7.070312 0-2.628907-1.0625-5.207032-2.921875-7.066407-1.871094-1.859375-4.441406-2.933593-7.078125-2.933593-2.632813 0-5.203125 1.070312-7.070313 2.933593-1.863281 1.859375-2.929687 4.4375-2.929687 7.066407 0 2.644531 1.066406 5.210937 2.929687 7.070312 1.859376 1.863281 4.4375 2.929688 7.070313 2.929688zm0 0' /></svg>
                            </div>
                            <div class="px-4 flex">
                                <div>Dump Yard Trips</div>
                                <div class="text-white mt-2 outfont">@Model.DumpYardCount / @Model.TotalDumpPropertyCount</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 custom_col_hide" onclick="location.href = '/Complaint/MenuIndex';" style="cursor:pointer;" id="clns">
                <div class="card flex bg-purpal" data-sr-id="10" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                    <div class="card-body">
                        <div class="d-flex align-items-center text-hover-success d-flex-cus">
                            <div class="avatar w-56 m-2 no-shadow gd-success cleansvg">
                                @*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up">
                                        <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                        <polyline points="17 6 23 6 23 12"></polyline>
                                    </svg>*@
                                <svg class="svg1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 732.438 732.438" style="enable-background:new 0 0 732.438 732.438;" xml:space="preserve"><g><g><path d="M662.688,13.546L491.347,345.754c0.983,0.276,1.964,0.569,2.938,0.883c7.235,2.33,14.028,5.17,20.353,8.499c7.646,4.025,14.597,8.771,20.807,14.198L707.126,36.466c6.329-12.271,1.513-27.35-10.759-33.679C684.095-3.543,669.018,1.274,662.688,13.546z" /><path d="M96.597,629.659c27.24,24.567,60.687,45.974,99.412,63.623c65.396,29.808,122.948,38.61,125.365,38.971c0.067,0.01,0.135,0.019,0.201,0.028c0.763,0.104,1.53,0.156,2.299,0.156c0.186,0,0.371-0.003,0.557-0.009c68.797-2.246,122.417-25.158,159.368-68.1c48.598-56.477,66.162-141.396,62.748-214.401c-0.979-20.902-8.423-42.237-23.035-57.459c-1.089-1.134-2.208-2.242-3.376-3.306c-5.127-4.665-10.862-8.566-16.964-11.798c-5.289-2.801-10.854-5.099-16.55-6.933c-2.365-0.762-4.732-1.338-7.096-1.762c-3.281-0.589-6.555-0.875-9.811-0.875c-24.122,0-47.247,15.161-64.911,30.646c-18.24,15.992-36.755,33.421-57.363,47.073c-22.585,14.962-47.38,22.497-73.202,29.851c-33.351,9.498-67.641,15.564-102.078,19.429c-30.618,3.435-61.647,5.433-92.587,5.433c-12.28,0-24.541-0.315-36.763-0.979c-0.709-0.038-1.418-0.073-2.126-0.122c-0.394-0.027-0.789-0.041-1.181-0.041c-5.256,0-10.244,2.438-13.47,6.645c-3.467,4.52-4.438,10.476-2.584,15.862C37.39,562.098,62,598.457,96.597,629.659z M72.798,534.07c0.01,0,0.02,0,0.031,0c1.718,0.011,3.495,0.018,5.319,0.018c25.01,0,59.86-1.107,98.956-5.557c82.72-9.414,150.153-29.545,201.203-59.971c1.45-0.864,3.079-1.296,4.711-1.296c1.541,0,3.083,0.384,4.479,1.151c29.672,16.308,75.781,40.474,108.659,52.206c4.069,1.452,6.587,5.529,6.095,9.821c-3.927,34.31-15.064,77.974-44.329,111.89c-29.974,34.736-74.236,53.582-131.601,56.039c-0.179,0.009-0.358,0.012-0.537,0.012c-0.744,0-1.485-0.066-2.22-0.195c-5.781-1.021-20.042-3.771-39.179-9.039c5.455-2.409,11.098-5.297,16.801-8.518c5.106-2.885,10.256-6.028,15.354-9.318c15.771-10.173,31.043-21.723,42.925-31.227c2.749-2.197,0.17-6.491-3.076-5.13c-25.975,10.898-59.161,18.186-88.854,22.977c-9.333,1.506-18.315,2.763-26.625,3.811c-9.72,1.226-18.508,2.161-25.841,2.861c-1.911-0.843-3.827-1.699-5.75-2.581c-16.525-7.57-31.943-15.86-46.199-24.798c6.222-0.576,12.76-1.608,19.391-2.957c6.024-1.226,12.117-2.71,18.114-4.339c17.659-4.796,34.451-10.852,45.937-15.312c2.186-0.849,1.407-4.11-0.928-3.886c-20.907,2.012-49.906,2.197-74.67,1.833c-8.112-0.119-15.767-0.297-22.536-0.489c-8.902-0.253-16.264-0.528-21.108-0.728c-2.841-2.377-5.625-4.782-8.326-7.227c-3.495-3.163-6.861-6.389-10.119-9.666c5.027-0.51,10.246-1.31,15.546-2.324c4.956-0.949,9.976-2.083,14.969-3.344c19.719-4.976,38.959-11.876,51.687-16.817c2.186-0.85,1.407-4.111-0.928-3.887c-19.628,1.89-46.387,2.168-70.079,1.894c-5.844-0.068-11.499-0.168-16.816-0.287c-5.917-0.132-11.414-0.286-16.278-0.44c-6.884-9.15-12.967-18.648-18.219-28.478C67.136,537.741,69.365,534.07,72.798,534.07z" /><circle cx="621.247" cy="619.725" r="40.132" /><circle cx="534.692" cy="711.631" r="20.275" /><circle cx="644.636" cy="706.954" r="20.275" /></g></g></svg>
                            </div>
                            <div class="px-4 flex">
                                <div>Cleanliness Complaint</div>
                                <div class="text-white mt-2 outfont">@Model.TotalComplaint</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End New Card-->

    </div>



    @*<div class="container" style="background-color:#fff">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="no-margin-bottom"> उपस्थिती तपशील </h3>
            </div>
            <div class="col-sm-12">


            </div>
        </div>
        </div>*@

</section>


<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        @*<div class="row  has-shadow" style="padding:0px 15px;background-color:#fff;">
            <div class="col-lg-12">
                <div class="bar-chart-example card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Household Collection</h3>

                    </div>
                    <div class="card-body">
                        <div style="position:relative ;height: 200px; width: 100%;">
                            <div style="position:relative;top: 100%;z-index: 1; background-color:#fff;height:12px;width:60px;padding-top:10px">

                            </div>
                            <div id="chartContainer" style="height: 200px; width: 100%;position:absolute">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>*@
        @*<div class="row  has-shadow" style="padding:0px 15px;background-color:#fff;margin-top: 25px;">
            <div class="col-lg-12">
                <div class="bar-chart-example card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Target Achieved </h3>
                    </div>
                    <div class="card-body">
                        <div style="position:relative ;height: 200px; width: 100%;">
                            <div style="position:relative;top: 100%;z-index: 1; background-color:#fff;height:12px;width:60px;padding-top:10px">

                            </div>
                            <div id="chartContainerTarget" style="height: 200px; width: 100%;position:absolute">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>*@
        @*<ul class="nav nav-tabs" role="tablist" style="border-bottom: none;">
            <li class="nav-item">
                <a class="tabid nav-link active" data-toggle="tab" href="#housetotal">Household Collection Target</a>
            </li>
            <li class="nav-item" style="padding-left: 3px;">
                <a class="tabid nav-link" data-toggle="tab" href="#houseward">Ward / Prabhag Wise Collection</a>
            </li>
            <li class="nav-item" style="padding-left: 3px;">
                <a class="tabid nav-link" data-toggle="tab" href="#housearea">Area Wise Collection</a>
            </li>
        </ul>*@

        <div class="row  has-shadow" style="padding:0px 15px;background-color:#fff;border-radius:10px">

            <div class="col-lg-12 tab-content">
                <div id="housetotal" class="bar-chart-example card tab-pane active">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Household Collection Target</h3>
                    </div>
                    <div class="card-body">
                        <div style="position:relative ;height: 265px; width: 100%;">
                            <div style="position: relative; top:14%; left: 0%; z-index: 1;  ">
                                <img src="~/Content/images/img/New Project (1).png" />
                            </div>
                            <div style="position:relative;top: 94%;z-index: 1; background-color:#fff;height:12px;width:62px;padding-top:10px">

                            </div>
                            <div style="position: relative; top: 95%; left: 93%; z-index: 1; background-color: #fff; height: 12px; width: 66px; padding-top: 10px">

                            </div>
                            <div id="chartContainerTarget2" style="height: 250px; width: 100%;position:absolute">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="houseward" class="bar-chart-example card tab-pane fade">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Household Collection - Ward / Prabhag Wise</h3>
                    </div>
                    <div class="card-body">
                        <div style="position:relative ;height: 265px; width: 100%;">
                            <div style="position:relative;top: 4%;z-index: 1; background-color:#fff;height:12px;width:60px;padding-top:10px">

                            </div>
                            <div style="position:relative;top: 94%;z-index: 1; background-color:#fff;height:12px;width:62px;padding-top:10px">

                            </div>
                            <div id="chartContainerTarget2" style="height: 250px; width: 100%;position:absolute">
                            </div>

                        </div>

                    </div>
                </div>
                <div id="housearea" class="bar-chart-example card tab-pane fade">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Household Collection - Area Wise</h3>
                    </div>
                    <div class="card-body">
                        <div style="position:relative ;height: 265px; width: 100%;">
                            <div style="position:relative;top: 4%;z-index: 1; background-color:#fff;height:12px;width:60px;padding-top:10px">

                            </div>
                            <div style="position:relative;top: 94%;z-index: 1; background-color:#fff;height:12px;width:62px;padding-top:10px">

                            </div>
                            <div id="chartContainerTarget2" style="height: 250px; width: 100%;position:absolute">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*---------Start-------------*@


        <div class="row  has-shadow" style="padding:0px 15px;background-color:#fff" hidden>

            <div class="col-lg-12 tab-content">
                <div id="housetotal" class="bar-chart-example card tab-pane active">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Household Collection Time</h3>
                    </div>
                    <div class="card-body">
                        <div style="position:relative ;height: 380px; width: 100%;">
                            <div style="position: relative; top: 9%; left: 0%; z-index: 1;  ">
                                <img src="~/Content/images/img/New Project (1).png" />
                            </div>
                            <div style="position:relative;top: 94%;z-index: 1; background-color:#fff;height:12px;width:62px;padding-top:10px">

                            </div>
                            <div style="position: relative; top: 95%; left: 93%; z-index: 1; background-color: #fff; height: 12px; width: 66px; padding-top: 10px">

                            </div>
                            <div id="chartContainerWorkTime1" style="height: 360px; width: 100%;position:absolute">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        @*----------End------------*@
        <div class="row  has-shadow" style="padding: 0px 15px; background-color: #fff; margin-top: 25px; border-radius: 10px">
            <div class="col-lg-6">
                <div class="bar-chart-example card">
                    <div class="card-header d-flex align-items-center">
                        @*<h3 class="h4" style="width:50%">वर्गीकरणाचे प्रकार</h3><span style="font-size:14px;font-weight:700;width:50%;text-align:right">एकुण घर संकलन
                        : @Model.TotalHouseCount</span>*@
                        <h3 class="h4" style="width:35%"> Segregation Types</h3><span style="font-size:14px;font-weight:700;width:65%;text-align:right">
                            Total Household Collection
                            : @Model.TotalHouseCount
                        </span>
                    </div>
                    <div class="card-body">
                        <div style="position:relative ;height: 212px; width: 100%;">
                            <div style="position:relative;top: 15%;z-index: 1; background-color:#fff;height:12px;width:61px;padding-top:10px">

                            </div>
                            <div style="position:relative;top: 94%;z-index: 1; background-color:#fff;height:12px;width:62px;padding-top:10px">

                            </div>
                            <div style="position: relative; top: 95%; left: 86%; z-index: 1; background-color: #fff; height: 12px; width: 66px; padding-top: 10px">

                            </div>
                            @*<div id ="tot_pie" style="position:absolute;top: 94%;z-index: 1; background-color:#fff;height:12px;width:75px;padding-top:10px">
                                <pre style="font-size:12px;font-weight:700">Total: @Model.TotalHouseCount</pre>
                            </div>*@
                            <div id="chartContainerPie" style="height: 200px; width: 100%;position:absolute">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bar-chart-example card">
                    <div class="card-header d-flex align-items-center">
                        @*<h3 class="h4" style="width:50%">डंप यार्ड तपशील</h3><span style="font-size:14px;font-weight:700;width:50%;text-align:right">एकुण वजन: @Model.TotalGcWeightCount Ton</span>*@
                        <h3 class="h4" style="width:35%">Dump yard Details</h3><span style="font-size:14px;font-weight:700;width:65%;text-align:right">Total weight: @Model.GcWeightCount Ton</span>
                    </div>
                    <div class="card-body">
                        <div style="position:relative ;height: 212px; width: 100%;">
                            <div style="position:relative;top: 15%;z-index: 1; background-color:#fff;height:12px;width:61px;padding-top:10px">

                            </div>
                            <div style="position:relative;top: 94%;z-index: 1; background-color:#fff;height:12px;width:62px;padding-top:10px">

                            </div>
                            <div style="position: relative; top: 95%; left: 86%; z-index: 1; background-color: #fff; height: 12px; width: 66px; padding-top: 10px">

                            </div>
                            @*<div id ="tot_pie" style="position:absolute;top: 94%;z-index: 1; background-color:#fff;height:12px;width:75px;padding-top:10px">
                                <pre style="font-size:12px;font-weight:700">Total: @Model.TotalHouseCount</pre>
                            </div>*@
                            @*style="color:#fff;background-color: #3ab59e;"*@
                            <div id="chartContainerPieDump" style="height: 200px; width: 100%;position:absolute">
                            </div>
                            <div id="chartContainerPieDumpMangalwedha" style="height: 200px; width: 100%;position:absolute">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


<section class="dashboard-counts no-padding-bottom" style="padding:0px;">

    <div class="container-fluid">
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                @*<a class="tabid nav-link active" data-toggle="tab" href="#home"> उपस्थिती तपशील</a>*@
                <a class="tabid nav-link active" data-toggle="tab" href="#home"> Attendance Details</a>
            </li>
            <li class="nav-item">
                @*<a class="tabid nav-link" data-toggle="tab" href="#menu1" >घरांचे नकाशावरील स्थान</a>*@
                @*<a class="tabid nav-link" data-toggle="tab" href="#menu1" >House On map Location</a>*@
            </li>
        </ul>



        <!-- Tab panes -->
        <div class="tab-content row bg-white has-shadow" style="background-color#fff">
            <div id="home" class="container tab-pane active" onload="myMap()">
                <div class="row bg-white" style="position:relative; height:680px;padding-top:15px;">
                    <p id="wait" style="display:none;position:absolute;top:35%;left:50%;">
                        <img class="rotate_img" src="~/Content/images/img/marker24.png">
                    </p>



                    <div class="col-sm-11">
                        @*<h3>उपस्थिती तपशील </h3>*@
                        <h3>Attendance Details</h3>
                        <input type="hidden" value="@ViewBag.lat" id="deflat" />
                        <input type="hidden" value="@ViewBag.lang" id="deflang" />
                    </div>
                    <div class="col-sm-1">
                        <span><input type="button" style="margin-bottom:10px" class="btn btn-primary btn-sm" id="refresh" value="Show" /></span>
                    </div>

                    <div class="col-12 bg-white has-shadow" id="googleMap" style="width:1200px; height:600px;">
                    </div>
                </div>



            </div>

            <div id="menu1" class="container tab-pane fade" onload="myMap3()">
                <div class="row bg-white" style="position:relative; height:680px;padding-top:15px;">
                    <p id="waithouse" style="display:none;position:absolute;top:35%;left:50%;">
                        <img class="rotate_img" src="~/Content/images/img/marker24.png">
                    </p>
                    <div class="col-sm-11">
                        @*<h3>घरांचे नकाशावरील स्थान</h3>*@
                        <h3>House On map Location</h3>
                        <input type="hidden" value="20.1001975" id="deflathouse" />
                        <input type="hidden" value="79.1312684" id="deflanghouse" />
                    </div>
                    <div class="col-sm-1"><span><input type="button" style="margin-bottom:10px" class="btn btn-success btn-sm" id="refresh2" value="Show" /></span></div>

                    <div class="col-12 bg-white has-shadow" id="googleMapHouse" style="width:1200px; height:600px;">
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section class="dashboard-counts no-padding-bottom"></section>
<script>
    document.addEventListener('contextmenu', event => event.preventDefault());
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnR8YLcfpwSLWXGO6JR3wFPY133r086DI&callback=myMap" type="text/javascript"></script>

@*Paid API*@
@*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnR8YLcfpwSLWXGO6JR3wFPY133r086DI&callback=myMap" type="text/javascript"></script>*@

<!-- Dashboard Header Section    -->
<script src="~/Content/Custom/HomeIndex.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
        //setInterval('window.location.reload()', 60000);
</script>
