@model IList<SwachBharat.CMS.Bll.ViewModels.SS2020Reports.OnePoint7QuestionVM>
@{
    ViewBag.Title = "1.7";
    Layout = null;

}
@{

}
<link rel="shortcut icon" href="~/Content/images/img/sba.png" />
 
@Styles.Render("~/Content/AddEditCSS")
@Scripts.Render("~/Scripts/AddEditScript")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/Scripts/IndexScript")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h5> Whether Storm Water Drains and Water Bodies in all wards clean.</h5>

        @*<div style="background-color:#fff">*@


            <table class="table table-bordered table-responsive table-hover">
                <tr>
                    <th style="display:none;">ID </th>
                    <th style="font-size:small">Ward </th>
                    <th style="font-size:small">Water Bodies</th>
                    <th style="font-size:small">Storm Water</th>
                    <th style="font-size:small">Locations</th>
                    <th style="font-size:small">Outlets</th>

                </tr>
                @if (Model != null)
                {
                    for (var i = 0; i < Model.Count - 0; i++)
                    {
                        <tr>
                            <td style="display:none;">@Html.TextBoxFor(m => Model[i].Id)</td>
                            <td style="font-size:small;width:200px"><label for="Area"> @Model[i].Area</label></td>
                            <td style="font-size:small">@Html.TextBoxFor(m => Model[i].No_Water_Bodies)</td>
                            <td style="font-size:small">@Html.TextBoxFor(m => Model[i].No_drain_nallas)</td>
                            <td style="font-size:small">@Html.TextBoxFor(m => Model[i].No_locations)</td>
                            <td style="font-size:small">@Html.TextBoxFor(m => Model[i].No_outlets)</td>

                        </tr>
                    }
                }
            </table>

            <br />
            <br />
            <div class="" style="margin-left:50px">
                <a class="btn" href="/Report/MenuonepointSevenIndex">Modify</a>
                <button type="submit" name="submit" class="btn" id="btnSubmit">
                    <span class="glyphicon glyphicon-saved"></span>
                    <span id="buttonName">Save</span>
                </button> &nbsp;
                @if (TempData["Message"] != null)
                {
                    <a class="btn" href="/Report/Show1point4Report">Generate report</a>

                }
                else if (TempData["Message1"] != null)
                {
                    <a class="disabled btn" href="/Report/Show1point4Report">Generate report</a>
                }

                @if (TempData["Message2"] != null)
                {
                    <script type="text/javascript">
                           alert(@Html.Raw(Json.Encode(TempData["Message2"])));
                    </script>
                }
            </div>
        @*</div>*@
    </div>

}

<script>

    $("#btnSubmit").click(function () {

    });
</script>







